{% extends 'LycheeWebsiteBundle::base.html.twig' %}

{% set ua = userAgent() %}

{% block meta %}
    <meta charset="utf-8">
    {% if ua.android and ua.wechat %}
    <meta name="viewport" content="width=device-width, initial-scale=0.75, user-scalable=1">
    {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=0">
    {% endif %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ block('title') }}">
{% endblock %}

{% block title %}次元 CIYO{% endblock %}

{% block styles %}
    {% spaceless %}
        <link rel="stylesheet" href="{{ asset('bundles/lycheewebsite/about/style.css?v=2') }}" />
    {% endspaceless %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {% spaceless %}
        <div class="banner">
            <img src="{{ asset('bundles/lycheewebsite/about/image/icon_slogan.png') }}" />
        </div>
        <ul class="intro">
            <li>
                <img class="image" src="{{ asset('bundles/lycheewebsite/about/image/img1_cyn.png') }}" />
                <img class="desc" src="{{ asset('bundles/lycheewebsite/about/image/text1.png') }}" />
            </li>
            <li>
                <img class="image" src="{{ asset('bundles/lycheewebsite/about/image/img2_cyn.png') }}" />
                <img class="desc" src="{{ asset('bundles/lycheewebsite/about/image/text2.png') }}" />
            </li>
            <li>
                <img class="image" src="{{ asset('bundles/lycheewebsite/about/image/img3_cyn.png') }}" />
                <img class="desc" src="{{ asset('bundles/lycheewebsite/about/image/text3.png') }}" />
            </li>
        </ul>

        {% if hotPosts is defined and hotPosts is not empty %}
            <div class="hot-posts">
                <h2>高能帖</h2>
                <ul>
                    {% for post in hotPosts %}
                        {% if post.image_url is defined and post.image_url is not empty %}
                            <li class="post-image">
                                <a href="{{ path('share_post', {'postId': post.id}) }}">
                                    <img src="{{ post.image_url | resizeImage(169, 169) }}"/>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('share_post', {'postId': post.id}) }}">
                                    <span>{{ post.content }}</span>
                                </a>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="app-banner">
            <div class="download">
                <img class="app-icon" src="{{ ciyo.app_icon }}" />
                <span class="app-title">{{ ciyo.app_name }}</span>
                <span class="app-desc">{{ ciyo.app_slogan }}</span>
                <a class="app-link" href="{{ url('download_app') }}">
                    <img src="{{ asset('bundles/lycheewebsite/common/image/app_download_btn.png') }}"/>
                </a>
            </div>
            <div class="wechat-account">微信公众号: ciyocon</div>
        </div>
    {% endspaceless %}
{% endblock %}
