<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>产品</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/style.min.css') }}?0106">
	<style type="text/css">
		html,
		body {
			height: 100%;
			min-height: 922px;
			padding-top: 0;
			background-image: url({{ asset('bundles/lycheewebsite/home/images/product_bg.png') }});
			background-repeat: no-repeat;
			background-size: cover;
		}
		body {
			position: static;
		}
		html {
			position: relative;
		}
		.product-footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding-bottom: 10px;
		}
		@media screen and (max-width: 1700px) {
			.products {
				padding-top: 129px;
			}
		}
		@media screen and (max-width: 1500px) {
			.web-copy-right,.record-number {
				font-size: 14px;
				line-height: 14px;
			}
		}
		@media screen and (max-width: 800px) {
			html,
			body {
				min-width: 320px;
				min-height: unset;
				height: auto;
				background-image: url({{ asset('bundles/lycheewebsite/home/images/product-mobile-bg.png') }});
			}
			body {
				padding: 50px 0;
			}
			.products {
				padding-top: 0;
			}
			#navigation {
				display: none;
			}
			.product-footer {
				position: relative;
				margin-top: 5%;
			}
			.product-footer .record-number,
			.product-footer .web-copy-right {
				color: #fff;
			}
		}
		@media screen and (max-width: 420px) {

			body {
				padding: 25px 0;
			}
			.product-footer .record-number,
			.product-footer .web-copy-right {
				font-size: 7px;
			}
		}

	</style>
</head>
<body>
{% include 'LycheeWebsiteBundle:Home:navigation.html.twig' with {'active': 'products'} %}
<script type="text/javascript">
	(function(){
		var mappging = ['ciyoapp', 'emoticon', 'unknownmessage'],
				hash = window.location.hash.match(/^[^\?]*/)[0];
		if (mappging.indexOf(hash.substring(1)) !== -1 ) {
			document.querySelector('body').className = hash.substring(1)+ '-color';
		}
		else if (hash === '#cityline') {
			document.querySelector('body').className = mappging[2] + '-color';
		}
		else {
			document.querySelector('body').className = mappging[0] + '-color';
		}
	}())
</script>
<div class="products">
	<nav>
		<ol>
			<li class="ciyoapp" ><a onclick="showPage(0)">次元社</a></li>
			<li class="emoticon" ><a onclick="showPage(1)">次元颜文字</a></li>
		</ol>
	</nav>
	<div class="content">
		<ol>
			<li class="ciyoapp">
				<div class="-logo" >
					<img src="http://qn.ciyocon.com/app/icons/v2/ciyocon-logo.png" alt="">
				</div>
				<div class="-desc" >
					<p>
						「次元社」－－二次元短视频社区人气社交应用获得 AppSolution 和 “最美
						应用”重点推荐！
					</p>
					<p>
						数千个专属次元小组，众多同人聚集等你来发现；探索页多维度分类，总能找到你的小地盘；多种帖子类型，GIF图和小视频
						随心po；还有萌萌哒次元娘和次元酱，陪你在二次元里一起玩耍~
					</p>
				</div>
				<div class="-preview" >
					<img src="http://qn.ciyocon.com/app/icons/v2/ciyocon-preview.png" alt="">
				</div>
				<div class="-download" >
					<a class="iphone" href="{{ url('download_app') }}">iPhone&nbsp;下载</a>
					<a class="android" href="{{ url('download_app') }}">Android&nbsp;下载</a>
					<div class="qrcode" data-qrcode-url="{{ url('download_app') }}">

					</div>
				</div>
			</li>
			<li class="emoticon">
				<div class="-logo" >
					<img src="{{ asset('bundles/lycheewebsite/home/images/emoticons-logo.png') }}" alt="">
				</div>
				<div class="-desc" >
					<p>
						次元输入法 －－最好玩的颜文字输入法
					</p>
					<p>
						最小最轻的颜文字输入法，秒装极省流量；2000万颜文字任性创作，处处尽显不同；海量颜文字分类，最懂你情绪的输
						入法；热门短语词库，聊天对话逼格满满。
					</p>
				</div>
				<div class="-preview" >
					<img src="{{ asset('bundles/lycheewebsite/home/images/emoticons-preview.png') }}" alt="">
				</div>
				<div class="-download" >
					<a class="iphone" href="https://itunes.apple.com/us/app/ci-yuan-yan-wen-zi-zui-hao/id994789262?l=zh&ls=1&mt=8">iPhone&nbsp;下载</a>
					<div class="qrcode" data-qrcode-url="https://itunes.apple.com/us/app/ci-yuan-yan-wen-zi-zui-hao/id994789262?l=zh&ls=1&mt=8">

					</div>
				</div>
			</li>
		</ol>
	</div>

	<a class="btn-prev" onclick="showPrevPage()"></a>
	<a class="btn-next" onclick="showNextPage()"></a>
</div>
<div class="product-footer">
	<div class="web-copy-right">Copyright © Silver Times. All rights reserved.</div>
	<div class="record-number">粤ICP备14064193号</div>
</div>
<script type="text/javascript" src="http://qn.ciyocon.com/web/common/qrcode.min.js"></script>
<script type="text/javascript">
	(function(o){
		var currentPage = 0,
				loading = false,
				mappging = ['ciyoapp', 'emoticon', 'unknownmessage'];
		o.showPage = function(pageIndex) {
			currentPage = pageIndex;
			if (loading) {
				loading = false;
				document.querySelector('.products .content ol').style.transition = 'initial';
			}
			else {
				document.querySelector('body').className = mappging[pageIndex] + '-color';
				document.querySelector('.products .content ol').style.transition = '';
			}
			document.querySelector('.products .content ol').className = mappging[pageIndex] + '-active';
			if (window.history.pushState) {
				window.history.pushState(null, null, '#' + mappging[pageIndex]);
			}
			else {
				window.location.hash = '#' + mappging[pageIndex];
			}
			window.location.hash = '#' + mappging[pageIndex];
		};
		o.showNextPage = function() {
			var nexPageIndex = (currentPage + 1) % mappging.length;
			showPage(nexPageIndex);
		};
		o.showPrevPage = function() {
			var prePageIndex = (currentPage - 1 + mappging.length) % mappging.length;
			showPage(prePageIndex);
		};

		(function() {
			var hash = window.location.hash.match(/^[^\?]*/)[0];
			if (mappging.indexOf(hash.substring(1)) !== -1 ) {
				loading = true;
				showPage(mappging.indexOf(hash.substring(1)));
			}
			else if (hash === '#cityline') {
				loading = true;
				showPage(2);
			}
			else {
				loading = true;
				showPage(0);
			}
		})();

		var qrcodeList = document.getElementsByClassName("qrcode");
		for (var i = 0; i < qrcodeList.length; i++) {
			var qrcode = new QRCode(qrcodeList[i], {
				text: qrcodeList[i].getAttribute('data-qrcode-url')
			});
		}

	}(window));
</script>
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>