<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>未知用户</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/unknownmessage_style.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/video-js.css') }}">
</head>
<body>
  <div class="container">
    <ul class="talk">

    </ul>
    <ul class="options"></ul>
    <div class="tip" style="display: none">
      <a href="http://www.ciyo.cn/products#unknownmessage">欲知后事如何，点击下载异次元通讯app体验下嘛^_^</a>
    </div>

    <audio id='bg_sound' src="{{ asset('bundles/lycheewebsite/home/unknownmessage_source/ChillBells.mp3') }}"></audio>
    <audio id="btn_sound" src="{{ asset('bundles/lycheewebsite/home/unknownmessage_source/buttonMusic.mp3') }}"></audio>
    <div class="alert">
      <a id="begin" onclick="begin()">开始游戏</a>
    </div>
  </div>
</body>
<script src="{{ asset('bundles/lycheewebsite/home/styles/video.js') }}"></script>
<script src="{{ asset('bundles/lycheewebsite/home/styles/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript">
    (function(o) {

    var messages = [
                  {
                    "from": "system", //"me","默认miko"
                    "content": "TCP handshaking...",
                    "state": "begin"
                  },
                  {
                    "from": "system",
                    "content": "[对方已上线]",
                    "state": "online"
                  },
                  {
                    "from": "miko",
                    "content": "喂！有人看得到吗？"
                  },
                  {
                    "from": "miko",
                    "content": "有人在线吗？"
                  },
                  {
                    "from": "miko",
                    "content": "喂喂！有人吗？",
                    "end": true,
                    "nextMessage": 5
                  },
                  {
                    "from": "me",
                    "option": [{"content":"我在", "goto": "6"}, {"content":"谁啊", "goto": "6"}]
                  },
                  {
                    "from": "miko",
                    "content": "太好了！真的有人啊！"
                  },
                  {
                    "from": "miko",
                    "content": "我还以为这个软件没用呢！"
                  },
                  {
                    "from": "miko",
                    "content": "快帮帮我！",
                    "end": true,
                    "nextMessage": 9
                  },
                  {
                    "from": "me",
                    "option": [{"content":"你是谁？", "goto": "10"}, {"content":"发生什么事情了？", "goto": "10"}]
                  },
                  {
                    "from": "miko",
                    "content": "这个不重要！"
                  },
                  {
                    "from": "miko",
                    "content": "我现在被一帮人追，快帮我！",
                    "end":true,
                    "nextMessage": 12
                  },
                  {
                    "from": "me",
                    "option": [{"content":"谁在追你啊？", "goto": "13"}, {"content":"我要怎么帮你？", "goto": "13"}]
                  },
                  {
                    "from": "miko",
                    "content": "你怎么还不明白啊？有坏人在抓我！"
                  },
                  {
                    "from": "miko",
                    "content": "我刚才摆脱他们了，但我不知道他们还有多久…"
                  },
                  {
                    "from": "miko",
                    "content": "我这破手机不知道出什么问题…"
                  },
                  {
                    "from": "miko",
                    "content": "电话也打不出，信号也不好，就只有这个软件能打开",
                    "end": true,
                    "nextMessage": 17
                  },
                  {
                    "from": "me",
                    "option": [{"content":"惹到小流氓了？", "goto": "18"}, {"content":"他们是谁啊？", "goto": "18"}]
                  },
                  {
                    "from": "miko",
                    "content": "我也不知道…."
                  },
                  {
                    "from": "miko",
                    "content": "看上去很凶的人。有些穿着西装，有些又穿着夹克，但眼神都很凶"
                  },
                  {
                    "from": "miko",
                    "content": "到处看，像是在找什么东西"
                  },
                  {
                    "from": "miko",
                    "content": "一看到我，就跟上我了",
                    "end": true,
                    "nextMessage": 22
                  },
                  {
                    "from": "me",
                    "option": [{"content":"你产生幻觉了吧？", "goto": "23"}, {"content":"是不是向你的账号打钱就可以救你？", "goto": "23"}]
                  },
                  {
                    "from": "miko",
                    "content": "卧槽！你要我怎么说才肯相信？"
                  },
                  {
                    "from": "miko",
                    "content": "我没事用个破聊天软件逗你玩么？"
                  },
                  {
                    "from": "miko",
                    "content": "算了，我还是另外想办法",
                    "end": true,
                    "nextMessage": 26
                  },
                  {
                    "from": "system", //"me","默认miko"
                    "content": "[对方已下线]",
                    "state": "offline"
                  },
                  {
                    "from": "system", //"me","默认miko"
                    "content": "[对方已上线]",
                    "state": "online"
                  },
                  {
                    "from": "miko",
                    "content": "完蛋了！"
                  },
                  {
                    "from": "miko",
                    "content": "他们可能找到我了，他们朝我这边过来了"
                  },
                  {
                    "from": "miko",
                    "content": "你听我说，我说的是真的，你相信我，好不好？"
                  },
                  {
                    "from": "miko",
                    "content": "帮帮我，求你了",
                    "end": true,
                    "nextMessage": 32
                  },
                  {
                    "from": "me",
                    "option": [{"content":"你这态度转得很快嘛", "goto": "33"}, {"content":"哦，你现在知道求人了？", "goto": "33"}]
                  },
                  {
                    "from": "miko",
                    "content": "好了，之前是我错了，我是没什么耐心啦"
                  },
                  {
                    "from": "miko",
                    "content": "不过我说的是真的，这群奇怪的人跟了我一整天了"
                  },
                  {
                    "from": "miko",
                    "content": "从公园到这儿一直跟着我，鬼鬼祟祟的",
                    "end": true,
                    "nextMessage": 36
                  },
                  {
                    "from": "me",
                    "option": [{"content":"你在公园里干什么？", "goto": "37"}, {"content":"真悠闲啊，还逛公园", "goto": "38"}]
                  },
                  {
                    "from": "miko",
                    "content": "睡觉啊！不然干嘛？",
                    "end": true,
                    "nextMessage": 39
                  },
                  {
                    "from": "miko",
                    "content": "没事干不就是要到处逛么？",
                    "end": true,
                    "nextMessage": 39
                  },
                  {
                    "from": "miko",
                    "content": "再说了，我总得找地方住啊，你以为都像你们一样家里舒舒服服躺着啊！",
                    "end": true,
                    "nextMessage": 40
                  },
                  {
                    "from": "me",
                    "option": [{"content":"你在公园睡觉？", "goto": "41"}, {"content":"你这态度才刚好了一分钟啊", "goto": "41"}]
                  },
                  {
                    "from": "miko",
                    "content": "好好，现在不说这个，我现在已经傻了"
                  },
                  {
                    "from": "miko",
                    "content": "我在百货公司的后巷里躲着"
                  },
                  {
                    "from": "miko",
                    "content": "西武百货你知道吧？前面是个十字路口"
                  },
                  {
                    "from": "miko",
                    "content": "我看见他们又在十字路口边上到处看"
                  },
                  {
                    "from": "miko",
                    "content": "我要不要从后面跑掉啊？"
                  },
                  {
                    "from": "miko",
                    "content": "还是就躲在这里？"
                  },
                  {
                    "from": "me",
                    "option": [{"content":"跑吧，看来他们不抓住你不甘心的", "goto": "48"}, {"content":"我觉得你还是躲起来再说", "goto": "52"}]
                  },
                  {
                    "from": "miko",
                    "content": "恩，我觉得也是"
                  },
                  {
                    "from": "miko",
                    "content": "至少在大街上他们总不敢很嚣张吧"
                  },
                  {
                    "from": "miko",
                    "content": "我跑得还是很快的"
                  },
                  {
                    "from": "miko",
                    "content": "好，我从后面溜出去",
                    "end": true,
                    "nextMessage": 56
                  },
                  {
                    "from": "miko",
                    "content": "好吧，我听你的"
                  },
                  {
                    "from": "miko",
                    "content": "先躲起来再说"
                  },
                  {
                    "from": "miko",
                    "content": "不过，这个巷子里好像也没有哪里可以躲啊"
                  },
                  {
                    "from": "miko",
                    "content": "恩，好像可以…你要为你的建议负责！",
                    "end": true,
                    "nextMessage": 56
                  },
                  {
                    "from": "system", //"me","默认miko"
                    "content": "[对方已下线]",
                    "state": "offline"
                  }
                ];

    var m = 0;
    var option1 = 0;
    var option2 = 0;

    function getTalkDom() {
      return document.getElementsByClassName('talk')[0];
    }
    function getOptionsDom() {
      return document.getElementsByClassName('options')[0];
    }
    function createLi() {
      return document.createElement('li');
    }
    function createSpan() {
      return document.createElement('span');
    }
    function getTipDom() {
      return document.getElementsByClassName('tip')[0];
    }
    function getOfflineDom() {
      return document.getElementsByClassName('offline')[0];
    }
    function getBtnSound() {
      return document.getElementById('btn_sound');
    }
    function getBgSound() {
      return document.getElementById('bg_sound');
    }
    function clearOptionsDom() {
      getOptionsDom().innerHTML = '';
    }
    function setTalkHeight() {
      getTalkDom().style.height =  (document.body.offsetHeight - 102) + 'px';
    }
    function getAlertDom() {
      return document.getElementsByClassName('alert')[0];
    }
    function getParentDom() {
      return document.getElementsByClassName('container')[0];
    }
    function getBeginDom() {
      return document.getElementById('begin');
    }
    function getPendingTime(str) {
      var length = str.length;
      var pendingTime = length * 200 > 1500 ? length * 200 : 1500;
      return pendingTime;
    }
    function getGotoIndex(obj) {
      if (obj.className.indexOf('1') !== -1) {
        m = option1;
      }
      if (obj.className.indexOf('2') !== -1) {
        m = option2;
      }
    }
    function setOption(options) {
        for (var j = 0; j < options.length; j++) {
          getOptionsDom().appendChild(createLi());
          getOptionsDom().lastChild.appendChild(createSpan());
          getOptionsDom().lastChild.className = 'option option' + (j + 1);
          getOptionsDom().lastChild.lastChild.textContent = options[j].content;
          if (j === 0) {
            option1 = options[j].goto;
          }
          if (j === 1) {
            option2 = options[j].goto;
          }
          getOptionsDom().children[j].addEventListener('click', function() {
            getBtnSound().play();
            setContent(this);
            getGotoIndex(this);
            getOptionsDom().innerHTML = '';

            mainloop();
          });
        }
    }

    function setContent(obj) {
      getTalkDom().lastChild.innerHTML = obj.innerHTML;
    }

    function setSystemMessage(msg) {
      var pendingTime = 0;
      if (m === 0) {
        pendingTime = 200;
      }
      else {
        pendingTime = getPendingTime(msg.content);
      }
      setTimeout(function() {
        getTalkDom().appendChild(createLi());
        getTalkDom().lastChild.appendChild(createSpan());
        getTalkDom().lastChild.classList.add('state', msg.state);
        getTalkDom().lastChild.lastChild.textContent = msg.content;
        getTalkDom().lastChild.scrollIntoView();
        ++m;
        mainloop();
      }, pendingTime);
    }
    function setSomebodyMessage(msg) {
      getTalkDom().appendChild(createLi());
      getTalkDom().lastChild.appendChild(createSpan());
      getTalkDom().lastChild.classList.add('left');
      getTalkDom().lastChild.lastChild.classList.add('loading');
      getTalkDom().lastChild.scrollIntoView();
      setTimeout(function() {
        getTalkDom().lastChild.lastChild.classList.remove('loading');
        getTalkDom().lastChild.lastChild.textContent = msg.content;
        getTalkDom().lastChild.scrollIntoView();
        if (msg.end) {
          m = msg.nextMessage;
        }
        else {
          ++m;
        }
        mainloop();
      }, getPendingTime(msg.content));
    }
    function setMeMessage(msg) {
      getTalkDom().appendChild(createLi());
      getTalkDom().lastChild.appendChild(createSpan());
      getTalkDom().lastChild.classList.add('right');
      getTalkDom().lastChild.lastChild.classList.add('loading');
      getTalkDom().lastChild.scrollIntoView();
      if (msg.option) {
        setOption(msg.option);
      }
      else {
        setTimeout(function() {
          getTalkDom().lastChild.lastChild.classList.remove('loading');
          getTalkDom().lastChild.lastChild.textContent = msg.content;
          m = msg.nextMessage;
          mainloop();
        }, getPendingTime(msg.content));
      }
    }
    function mainloop() {
      if (m < messages.length) {
        setTimeout(function(){
          if (messages[m].from == 'system') {
            setSystemMessage(messages[m]);
          }
          if (messages[m].from == 'miko') {
            setSomebodyMessage(messages[m]);
          }
          if (messages[m].from == 'me') {
            setMeMessage(messages[m]);
          }
        }, 500);
      }
      else {
        setTimeout(function(){
          getTipDom().style.display = 'block';
          getTipDom().scrollIntoView();
        }, 800);
      }
    }
    getBgSound().addEventListener('ended', function() {
      this.currentTime = 0;
      this.play();
    }, false);
    function begin() {
      getBtnSound().play();
      getAlertDom().style.transform = 'scale(0.2, 0.2)';
      getBeginDom().style.transform = 'scale(0.2 , 0.2)';
      setTimeout(function() {
        getParentDom().removeChild(getAlertDom());
        getBgSound().play();
        setTalkHeight();
        mainloop();
      }, 701);

    }
    o.begin = begin;
        $('.alert').css({
            'position':'absolute',
            'top':'0px',
            'z-index':1001
        })
        {#$('#begin').click(function(){#}
            {#$('.alert').css({#}
                {#'transform ': 'scale(0.2, 0.2)',#}
            {#})#}
            {#$('#begin').css({#}
                {#'transform':'scale(0.2 , 0.2)',#}
            {#})#}
            {#setTimeout(function() {#}
                {#$('.alert').css({#}
                    {#'display':'none',#}
                {#})#}
            {#}, 701);#}
            {#var video=`  <video id="example_video_1" class="video-js vjs-default-skin" preload="none" width="100%" height="100%" style="margin:0 auto"#}
        {#poster=""#}
        {#data-setup='{"example_option":true}'#}
        {#x5-video-player-type="h5"#}
        {#x5-video-player-fullscreen="true"#}
        {#webkit-playsinline="true"#}
        {#autoplay#}
            {#>#}
            {#<source src="{{ asset('bundles/lycheewebsite/home/unknownmessage_source/loading.mp4') }}" type='video/mp4' />#}
            {#</video>'`#}
            {#$('.container').append(video);#}
            {#videojs('example_video_1',{#}
                {#children : {#}
                    {#bigPlayButton : false,#}
                    {#textTrackDisplay : false,#}
                    {#posterImage: false,#}
                    {#errorDisplay : false,#}
                    {#controlBar : {#}
                        {#captionsButton : false,#}
                        {#chaptersButton: false,#}
                        {#subtitlesButton:false,#}
                        {#liveDisplay:false,#}
                        {#playbackRateMenuButton:false,#}
                        {#PlayToggle:false,#}
                    {#}#}
                {#}#}
            {#}, function(){#}
                {#this.on('ended',function(){#}
                    {#this.pause();#}
                    {#this.hide();#}
                    {#$('#example_video_1').remove();#}
                    {#getBgSound().play();#}
                    {#setTalkHeight();#}
                    {#mainloop();#}

                {#})#}

            {#});#}
            {#$('#example_video_1').css({#}
                {#'position':'absolute',#}
                {#'top':'0px',#}
                {#'z-index':1000#}
            {#});#}
        {#})#}
//        $('body').one('click',$('#example_video_1_html5_api'),function(){
//            document.getElementById('example_video_1_html5_api').play();
//        })
//        document.addEventListener("WeixinJSBridgeReady", function () {
//            document.getElementById('example_video_1_html5_api').play();
//            player.play();
//        }, false);

  }(window));


</script>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>