{% extends 'LycheeAdminBundle:Inquiry:layout.html.twig' %}
{% import 'LycheeAdminBundle::helper.html.twig' as helper %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .topic-img { max-height: 80px; max-width: 80px; }
    </style>
{% endblock %}

{% block body %}
    <button type="button" id="create_group_btn" class="btn btn-primary" data-toggle="modal" data-target="#create_item_form">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>ID</th>
                    <th>次元</th>
                    <th>推荐理由</th>
                    <th>角标</th>
                    <th>推荐时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% set num = 1 %}
            {% for item in items %}
                {% if item.getTargetId() in topics|keys %}
                    {% set topic = topics[item.getTargetId()] %}
                    <tr id="item_{{ item.id }}" class="item-tr" data-id="{{ item.id }}">
                        <td>
                            {{ num }}
                            {% set num = num + 1 %}
                        </td>
                        <td>{{ item.id }}</td>
                        <td>
                            <img src="{{ item.image|default(topic.indexImageUrl)|resizeImage(0, 50) }}" alt="topic-{{ topic.id }}" class="topic-img"/>
                            <a href="{{ path('lychee_admin_inquiry_index', {query: topic.id}) }}"
                               target="_blank">
                                {{ topic.title }}
                            </a>
                        </td>
                        <td>{{ item.getReason() }}</td>
                        <td>{{ topic.opMark }}</td>
                        <td>{{ item.createTime|date('Y-m-d H:i') }}</td>
                        <td>
                            <button class="btn btn-default position-up" data-item-id="{{ item.getId() }}">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>
                            <button class="btn btn-default position-down" data-item-id="{{ item.getId() }}">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                            <button class="btn btn-default position-top" data-item-id="{{ item.getId() }}">
                                置顶
                            </button>
                            <button class="btn btn-default position-bottom" data-item-id="{{ item.getId() }}">
                                置底
                            </button>
                            <button class="btn btn-danger delete-item" data-item-id="{{ item.getId() }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="create_item_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加{{ subTitle }}</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_inquiry_createfeaturedtopic') }}" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="topic"/>
                    <input type="hidden" name="callback_url" value="{{ path('lychee_admin_inquiry_featuredtopic') }}"/>
                    <input type="hidden" name="publish_instantly" value="1">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="target_id">推荐ID</label>
                            <input type="text" name="target_id" id="target_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="reason">推荐语</label>
                            <input type="text" name="reason" id="reason" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="image">封面</label>
                            <input type="file" name="image" id="image" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".delete-item").click(function () {
                if (confirm("确认删除？")) {
                    var id = $(this).data("item-id");
                    $.post("{{ path('lychee_admin_inquiry_removefeaturedtopic') }}", {
                        id: id
                    }, function() {
                        $('#item_' + id).remove();
                    }, 'json');
                }

                return false;
            });
            $('.position-up').click(function() {
                var upItemId = $(this).data('item-id');
                var $upElem = $('#item_' + upItemId);
                var $downElem = $upElem.prev();
                if ($downElem.hasClass('item-tr')) {
                    $downElem.before($upElem.clone(true));
                    $upElem.remove();
                    $.post('{{ path('lychee_admin_inquiry_switchfeaturedtopicposition') }}', {
                        ids: [$upElem.data('id'), $downElem.data('id')]
                    }, function() {}, 'json');
                }
            });
            $('.position-down').click(function() {
                var downItemId = $(this).data('item-id');
                var $downElem = $('#item_' + downItemId);
                var $upElem = $downElem.next();
                if ($upElem.hasClass('item-tr')) {
                    $upElem.after($downElem.clone(true));
                    $downElem.remove();
                    $.post('{{ path('lychee_admin_inquiry_switchfeaturedtopicposition') }}', {
                        ids: [$upElem.data('id'), $downElem.data('id')]
                    }, function() {}, 'json');
                }
            });
            $('.position-top').click(function() {
                var $form = $('<form method="post"></form>');
                $form.attr('action', '{{ path("lychee_admin_inquiry_makefeaturedtopictop") }}');
                $form.append('<input type="hidden" name="id" value="' + $(this).data('item-id') + '">');
                $('body').append($form);
                $form.submit();
            });
            $('.position-bottom').click(function() {
                var $form = $('<form method="post"></form>');
                $form.attr('action', '{{ path("lychee_admin_inquiry_makefeaturedtopicbottom") }}');
                $form.append('<input type="hidden" name="id" value="' + $(this).data('item-id') + '">');
                $('body').append($form);
                $form.submit();
            });
        });
    </script>
{% endblock %}