{% extends 'LycheeAdminBundle:Inquiry:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/css/post-manager.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="clearfix">
        <div class="col-lg-4 pull-left">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="keyword">ID或关键字</label>
                    <input type="text" class="form-control" id="keyword" name="q" placeholder="帖子ID或关键字"
                           value="{{ app.request.get('q')|default('') }}">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="include_link" {{ app.request.get('include_link')? 'checked' }}> 含链接
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="resource_type" {{ app.request.get('resource_type')? 'checked' }}> 只搜资源帖
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div><!-- /.col-lg-6 -->
    </div>
    <div id="container"></div>
    <div class="all-loaded"><p class="bg-info">全部载入完毕</p></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' output='js/post-manager.js'
        '@LycheeAdminBundle/Resources/public/js/handlebars-v2.0.0.js'
        '@LycheeAdminBundle/Resources/public/js/waterfall.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            var $container = $("#container");
            var page = 1;
            $container.waterfall({
                itemCls: 'card',
                dataType: 'json',
                colWidth: 250,
                gutterWidth: 15,
                gutterHeight: 15,
                path: function() {
                    var urlSearch = location.search;
                    var query = "";
                    var includeLink = '0';
                    var resourceType = '0';
                    if (urlSearch.length > 0) {
                        var searchArray = urlSearch.slice(1).split("&");
                        for (var i in searchArray) {
                            var param = searchArray[i].split("=");
                            console.log(param);
                            if ("q" === param[0]) {
                                query = param[1];
                            }
                            if ('include_link' === param[0]) {
                                includeLink = param[1];
                            }
                            if ('resource_type' === param[0]) {
                                resourceType = param[1];
                            }
                        }
                    }
                    return '/inquiry/post/query?q=' + query + "&include_link=" + includeLink + '&resource_type=' + resourceType + "&p=" +
                            page.toString();
                },
                callbacks: {
                    renderData: function (data, dataType) {
                        var tpl, template;
                        if ('json' === dataType) {
                            if (data.total > 0) {
                                tpl = $('#waterfall-tpl').html();
                                template = Handlebars.compile(tpl);
                                page = data.nextPage;

                                return template(data);
                            } else {
                                $container.waterfall("pause", function() {
                                    $(".all-loaded").show();
                                });
                            }
                        } else {
                            return data;
                        }
                    }
                }
            });
        });
    </script>
    {{ include('LycheeAdminBundle:Inquiry:postCard.html.twig') }}
{% endblock %}