{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    <li class="{% if app.request.get('_route') matches '/_post/' or app.request.get('_route') matches '/_inquireposts/' %}active{% endif %}">
        <a href="{{ path('lychee_admin_inquiry_inquireposts') }}">帖子查询</a>
    </li>
    {#<li class="{% if app.request.get('_route') matches '/_user/' %}active{% endif %}">#}
        {#<a href="{{ path('lychee_admin_inquiry_user') }}">用户查询</a>#}
    {#</li>#}
    {#<li class="{% if app.request.get('_route') matches '/_topic/' %}active{% endif %}">#}
        {#<a href="{{ path('lychee_admin_inquiry_topic') }}">次元查询</a>#}
    {#</li>#}
    <li class="{% if app.request.get('_route') == 'lychee_admin_inquiry_topposts' %}active{% endif %}">
        <a href="{{ path('lychee_admin_inquiry_topposts') }}">帖子置顶</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_inquiry_index' %}active{% endif %}">
        <a href="{{ path('lychee_admin_inquiry_index') }}">{{ topic_name }}管理</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_inquiry_hidetopiclist' %}active{% endif %}">
        <a href="{{ path('lychee_admin_inquiry_hidetopiclist') }}">隐蔽{{ topic_name }}</a>
    </li>
    {#<li class="{% if app.request.get('_route') == 'lychee_admin_topic_category' %}active{% endif %}">#}
        {#<a href="{{ path('lychee_admin_topic_category', {'catId': 301}) }}">推荐次元分类</a>#}
    {#</li>#}
    {#<li class="{% if app.request.get('_route') == 'lychee_admin_topic_certifiedtopic' %}active{% endif %}">#}
        {#<a href="{{ path('lychee_admin_topic_certifiedtopic') }}">认证次元</a>#}
    {#</li>#}
    <li class="{% if app.request.get('_route') == 'lychee_admin_inquiry_featuredtopic' %}active{% endif %}">
        <a href="{{ path('lychee_admin_inquiry_featuredtopic') }}">精选次元</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_inquiry_blacklist' %}active{% endif %}">
        <a href="{{ path('lychee_admin_inquiry_blacklist') }}">黑名单</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_inquiry_graylist' %}active{% endif %}">
        <a href="{{ path('lychee_admin_inquiry_graylist') }}">灰名单</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_inquiry_user' %}active{% endif %}">
        <a href="{{ path('lychee_admin_inquiry_user') }}">用户名单</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_inquiry_vip' %}active{% endif %}">
        <a href="{{ path('lychee_admin_inquiry_vip') }}">VIP名单</a>
    </li>
{% endblock %}

{% block body %}{% endblock %}