<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{{ title }}</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        html body {
            background-color: #000;
        }
        .bg {
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            position: relative;
            background-image: url("http://qn.ciyocon.com/web/promotion/bg1.jpg");
            padding-top: 56.25%;
        }
        .btn {
            display: block;
            background-size: 100%;
            background-repeat: no-repeat;
            position: absolute;
            width: 18.5%;
            padding-top: 5.5%;
            left: 31%;
        }
        .ios-btn {
            background-image: url("http://qn.ciyocon.com/web/promotion/btn_ios.png");
            top: 72.13%;
        }
        .android-btn {
            background-image: url("http://qn.ciyocon.com/web/promotion/btn_android.png");
            top: 61%;
        }
        .qrcode {
            position: absolute;
            width: 13.2%;
            top: 59.44%;
            left: 54.43%;
            background-color: #fff;
        }
        .qrcode img {
            width: 90%;
            height: auto;
            margin: 5%;
        }
        @media screen and (max-aspect-ratio: 1/1), screen and (max-width: 400px) {
            .bg {
                background-image: url("http://qn.ciyocon.com/web/promotion/bg1_m.jpg");
                padding-top: 177.87%;
            }
            .btn {
                width: 30.67%;
                padding-top: 9.73%;
                left: 27%;
            }
            .ios-btn {
                top: 10.72%;
            }
            .android-btn {
                top: 4%;
            }
            .qrcode {
                width: 24.8%;
                top: 3.75%;
                left: 66.53%;
            }
        }
    </style>
</head>
<body>
<div class="bg">
    <a class="btn ios-btn" href="{{ userAgent().wechat ? wechat_link : iphone_link }}"></a>
    <a class="btn android-btn" href="{{ userAgent().wechat ? wechat_link : android_link }}"></a>
    <div class="qrcode"></div>
</div>
<script src="http://qn.ciyocon.com/web/common/qrcode.min.js"></script>
<script>
    new QRCode(document.getElementsByClassName("qrcode")[0], "{{ url('download_app') }}{{ package is empty ? '' : '?n='~package }}");
</script>
{% if userAgent().ios or userAgent().android %}
    <script>
        {% set link = userAgent().wechat ? wechat_link : (userAgent().ios ? iphone_link: android_link)  %}
        window.onload=function() {
            try {
                location.href = '{{ link }}';
            } catch (err) {}
        };
    </script>
{% endif %}
{{ include('LycheeWebsiteBundle::googleAnalytics.html.twig') }}
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>