{% spaceless %}
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="description" content="异次元通讯">
		<meta name="keywords" content="次元,次元社,二次元,异次元通讯">
		<title>{{ title }}</title>
		<style>
			* {
				padding: 0;
				margin: 0;
			}
			html {
				max-width: 640px;
				margin: 0 auto;
				background-color: #11111B;
			}
			body {
				background-image: url('http://qn.ciyocon.com/web/cityline/cityline_bg_m.jpg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				padding-top: 177.8125%;
				position: relative;
			}
			a {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 56.71875%;
				padding-top: 13.4375%;
				margin-left: 21.640625%;
			}
			a img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.iphone-link {
				margin-top: 57.5%;
			}
			.android-link {
				margin-top: 83.4375%;
			}
		</style>
	</head>
	<body>
		<a class="iphone-link" href="{{ userAgent().wechat ? wechat_link : iphone_link }}"><img src="http://qn.ciyocon.com/web/cityline/ios_btn.png"/></a>
		<a class="android-link" href="{{ userAgent().wechat ? wechat_link : android_link }}"><img src="http://qn.ciyocon.com/web/cityline/android_btn.png"/></a>
	</body>
	{% if userAgent().ios or userAgent().android %}
		<script>
			{% set link = userAgent().wechat ? wechat_link : (userAgent().ios ? iphone_link: android_link)  %}
			window.onload=function() {
				try {
					location.href = '{{ link }}';
				} catch (err) {}
			};
		</script>
	{% endif %}
	{{ include('LycheeWebsiteBundle::googleAnalytics.html.twig') }}
	</html>
{% endspaceless %}
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>