{% extends 'LycheeAdminBundle:Retrieval:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        select.filter { display: inline-block; width: 100px; }
        #search_during_time { width: 200px; }
        table { margin-top: 20px; }
        .avatar { max-width: 40px; max-height: 40px; }
    </style>
{% endblock %}

{% block body %}
    <div class="clearfix">
        <div class="col-md-4">
            <label for="">检索条件：</label>
            <select name="type" id="type" class="form-control filter">
                {% set selectType = app.request.query.get('type') %}
                <option value="1" {{ selectType == '1'? 'selected' }}>按发帖量</option>
                <option value="2" {{ selectType == '2'? 'selected' }}>按新增粉丝数</option>
                <option value="3" {{ selectType == '3'? 'selected' }}>按发表评论数</option>
                <option value="4" {{ selectType == '4'? 'selected' }}>按发表改图数</option>
            </select>
        </div>
        <div class="pull-right" id="search_during_time">
            <label for="">时间窗口：</label>
            <select name="" id="" class="form-control filter">
                <option value="">1小时内</option>
            </select>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>帐号</th>
                <th>昵称</th>
                <th>注册时间</th>
                <th>头像</th>
                <th>签名</th>
                <th>领主次元</th>
                <th>统计结果</th>
            </tr>
            </thead>
            <tbody>
            {% for recommendedId in recommendedIds %}
                <tr>
                    <td>
                        <a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: recommendedId}) }}" target="_blank">
                            {{ recommendedId }}
                        </a>
                    </td>
                    <td>{{ recommendedData[recommendedId].phone }}/{{ recommendedData[recommendedId].email }}</td>
                    <td>{{ recommendedData[recommendedId].nickname }}</td>
                    <td>{{ recommendedData[recommendedId].createTime|date('Y-m-d H:i') }}</td>
                    <td><img class="avatar img-rounded" src="{{ recommendedData[recommendedId].avatarUrl }}"></td>
                    <td>{{ recommendedData[recommendedId].signature }}</td>
                    <td>
                        {% for topic in managerTopics[recommendedId] %}
                            <p>
                                {% if topic %}
                                    <a href="{{ path('lychee_admin_topic_detail', {topicId: topic.id}) }}" target="_blank">
                                        {{ topic.title }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('lychee_admin_contentaudit_managertopics', {managerId: recommendedId}) }}" target="_blank">更多...</a>
                                {% endif %}
                            </p>
                        {% endfor %}
                    </td>
                    <td>{{ ranking[recommendedId] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% import 'LycheeAdminBundle::helper.html.twig' as helper %}
    {{ helper.pagination(paginator, 'lychee_admin_retrieval_users') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("#type").on("change", function() {
                window.location.href = "?type=" + $(this).val();
            });
        });
    </script>
{% endblock %}