{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>探索</title>
    <style>{% include 'LycheeApiBundle:Recommendation/web:swiper3.min.css.twig' %}{% include 'LycheeApiBundle:Recommendation/web:style.css.twig' %}</style>
</head>

<body>
<header class="banner swiper-container">
    <ul class="swiper-wrapper">
    {% for banner in banners %}
        <li class="swiper-slide">
            <a href="javascript:go('promotion', '{{ banner | json_encode | url_encode }}', {{ loop.index }})">
                <img alt="{{ banner.title }}" src="{{ banner.image_url }}"/>
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="swiper-pagination"></div>
</header>
<div class="section">
    <h2>编辑推荐</h2>
    <a class="more" href="javascript:go('rec_topic_list')">更多</a>
    <ul>
    {% for topic in topics %}
        <li class="topic">
            <a href="javascript:go('topic', {{ topic.id }}, {{ loop.index }})">
                <div class="cover">
                    <img src="{{ (topic.preview_image is defined ? topic.preview_image : topic.index_image) | resizeImage(150, 150) }}"/>
                    <div class="color" style="background-color:#{{ topic.color is defined ? topic.color : '' }}"></div>
                </div>
                <h3>{% if topic.title|length > 0 %}{{ topic.title }}{% else %}&nbsp;{% endif %}</h3>
                <p>{% if topic.reason is defined and topic.reason|length > 0 %}{{ topic.reason }}{% else %}&nbsp;{% endif %}</p>
                <i>{{ topic.followers_count }}&nbsp;成员&nbsp;·&nbsp;领主&nbsp;{{ topic.manager is defined and topic.manager.nickname is defined ?
                    (topic.manager.nickname |  escape('html')) : '无'
                    }}</i>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

{% if subbanners|length > 0 %}
    <div class="section">
        <h2>专题活动</h2>
        <a href="javascript:go('subject_list', null, 1)" class="more">更多</a>
        <div class="subjects swiper-container">
            <ul class="swiper-wrapper">
                {% for subbanner in subbanners %}
                <li class="swiper-slide">
                    <a href="javascript:go('subject', {{ subbanner.targetId }}, 1)">
                        <img alt="" src="{{ subbanner.imageUrl }}"/>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% for topics in topicsInColumns %}
    {% set column = columns[loop.index0] %}
    <div class="section">
        <h2>{{ column.name }}</h2>
        <a href="javascript:go('topic_column', [{{ column.id }}, '{{ column.name }}'], {{ loop.index }})" class="more">更多</a>
        <ul>
            {% for topic in topics %}
                <li class="topic">
                    <a href="javascript:go('topic', {{ topic.id }}, {{ loop.index }})">
                        <div class="cover">
                            <img src="{{ (topic.preview_image is defined ? topic.preview_image : topic.index_image) | resizeImage(150, 150) }}"/>
                            <div class="color" style="background-color:#{{ topic.color is defined ? topic.color : '' }}"></div>
                        </div>
                        <h3>{% if topic.title|length > 0 %}{{ topic.title }}{% else %}&nbsp;{% endif %}</h3>
                        <p>{% if topic.reason is defined and topic.reason|length > 0 %}{{ topic.reason }}{% else %}&nbsp;{% endif %}</p>
                        <i>{{ topic.followers_count }}&nbsp;成员&nbsp;·&nbsp;领主&nbsp;{{ topic.manager is defined and topic.manager.nickname is defined ?
                            (topic.manager.nickname |  escape('html')) : ''
                            }}</i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}

</body>
<script>{{ source('LycheeApiBundle:Recommendation/web:swiper3.min.js.twig') }}</script>
<script>
    new Swiper('.banner', {
        speed: 300,
        spaceBetween: 0,
        loop: true,
        pagination: '.swiper-pagination',
        autoplay: 3000,
        autoplayDisableOnInteraction: true,
    });
    new Swiper('.subjects', {
        speed: 300,
        spaceBetween: 10,
        slidesPerView: (730/550),
        loop: true,
        autoplay: 3000,
        centeredSlides: true,
        keyboardControl: true,
        loopAdditionalSlides: 1,
    });
</script>
{{ include('LycheeApiBundle::googleAnalytics.html.twig') }}
<script>
    function go(to, param, index) {
        var urls = {
            'promotion': 'erciyuan://?action=show_promotion&promotion='+param,
            'rec_topic_list' : 'erciyuan://?action=view_rec_topic_list',
            'topic' : 'erciyuan://?action=view_topic&tid='+param,
            'hot_topics' : 'erciyuan://?action=view_hot_topic_list',
            'post' : 'erciyuan://?action=view_status&pid='+param,
            'hot_posts' : 'erciyuan://?action=view_hot_status_list',
            'hot_comments' : 'erciyuan://?action=view_hot_photo_comment_list',
            'user_post_rank' : 'erciyuan://?action=view_rank_user_list&type=1',
            'subject_list': 'erciyuan://?action=view_special_subject_list',
            'subject': 'erciyuan://?action=view_special_subject&sid='+param,
            'column': toString.apply(param) === '[object Array]' ? 'erciyuan://?action=view_column&column_id='+param[0]+'&name='+param[1] : '',
            'topic_column': toString.apply(param) === '[object Array]' ? 'erciyuan://?action=view_topic_column&column_id='+param[0]+'&name='+param[1] : '',
            'category': 'erciyuan://?action=view_category_topic&category_name='+param,
            'app': (function(){
                var url = '{{ url('lychee_api_game_getgameweb') }}?id='+param;
                var matches = window.navigator.userAgent.match(/ciyocon\/([0-9]+)(?:\.([0-9]+))?(?:\.([0-9]+))?/i);
                if (matches && matches[1] >= 1 && matches[2] >= 4 && matches[3] >= 5) {
                    return 'erciyuan://?action=open_tab&url='+encodeURIComponent(url);
                } else {
                    return url;
                }
            })(),
            'app_list': 'erciyuan://?action=open_tab&url={{ url('lychee_api_game_getgamelistweb') | escape('url') }}'
        };
        var url = urls[to];
        if (!url) {
            return;
        }

        var label = index ? to + '-' + index : to;
        ga('send', 'event', 'rec-links', 'click', label, 1);

        if (url.substr(0, 11) == 'erciyuan://') {
            send(url);
        } else {
            window.location.href = url;
        }
    }

    function send(url) {
        var iframe = document.createElement("iframe");
        iframe.setAttribute("src", url);
        document.documentElement.appendChild(iframe);
        iframe.parentNode.removeChild(iframe);
        iframe = null;
    }

    document.addEventListener( "DOMContentLoaded", function() {
        var matches = window.navigator.userAgent.match(/ciyocon\/([0-9]+)(?:\.([0-9]+))?(?:\.([0-9]+))?/i);
        if (matches && matches[1] >= 1 && matches[2] >= 5 && matches[3] >= 5) {
            send('erciyuan://load_finish');
        }
    }, false );
</script>
</html>
{% endspaceless %}