{% extends 'LycheeAdminBundle:ManualIntervention:layout.html.twig' %}
{% block body %}
    <form role="form" method="post" action="{{ path('lychee_admin_manualintervention_createjingxuanlive') }}" enctype="multipart/form-data">
        <div class="modal-body">
            <div class="form-group">
                <label for="inke_uid">主播映客号(只能填数字)</label>
                <input type="text" name="inke_uid" id="inke_uid" class="form-control col-sm-10" value="">
            </div>
            <div class="form-group">
                <label for="nikename">昵称</label>
                <input type="text" name="nikename" id="nikename" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="avatar">头像</label>
                <input type="file" name="avatar" id="avatar" class="form-control avatar">
            </div>
            <div class="form-group">
                <label for="cover">封面</label>
                <input type="file" name="cover" id="cover" class="form-control cover">
            </div>
            <div class="form-group">
                <label for="description">描述</label>
                <textarea name="description" id="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="start_time">开始直播时间</label>
                <input type="text" class="form-control" name="start_time" id="start_time">
            </div>
            <div class="form-group">
                <label for="end_time">结束直播时间</label>
                <input type="text" class="form-control" name="end_time" id="end_time">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="launched">完成</button>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@fileinput_css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        .nav-tabs { margin-bottom: 10px; }
        form {
            padding-bottom: 200px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@fileinput_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function () {
            var fileinputConfig = {
                allowedFileTypes: ['image'],
                showUpload: false
            };
            $(".avatar, .cover").fileinput(fileinputConfig);
            function IsNumbers(val) {
                return /^\d*$/.test(val);
            }
            $('#launched').click(function(e) {
                var val = $('#inke_uid').val();
                var start = $('#start_time').val();
                var end = $('#end_time').val();
                if(!IsNumbers(val)) {
                    alert("主播ID只能填数字");
                    e.preventDefault();
                    return;
                }
                if(!val) {
                    alert('id不能为空');
                    e.preventDefault();
                    return;
                }
                if(!start) {
                    alert('开始时间不能为空');
                    e.preventDefault();
                    return;
                }
                if (!end) {
                    alert('结束时间不能为空');
                    e.preventDefault();
                    return;
                }
            });

            $('#start_time, #end_time').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                language: "zh-CN",
                todayHighlight: true
            });
        });
    </script>
{% endblock %}
