{% extends 'LycheeAdminBundle:ManualIntervention:layout.html.twig' %}

{% block brewacrumb %}
    <li><a href="{{ path('lychee_admin_manualintervention_group') }}">排期 - {{ app.request.get('gid') }}</a></li>
    <li class="active">{{ subTitle }}</li>
{% endblock %}

{% block body %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">{{ errors }}</div>
    {% endif %}
    {% import 'LycheeAdminBundle::helper.html.twig' as helper %}
    {{ helper.createBtn('create_item') }}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>项目ID</th>
                    <th>目标ID</th>
                    <th>原因</th>
                    <th>位置</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.getId() }}</td>
                    <td>{{ item.getTargetId() }}</td>
                    <td>{{ item.getReason() }}</td>
                    <td>{{ item.getPosition() + 1 }}</td>
                    <td>
                        <button class="btn btn-danger delete-item" item_id="{{ item.getId() }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="create_item_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加项目</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_manualintervention_additem') }}" enctype="multipart/form-data">
                    <input type="hidden" name="group_id" value="{{ app.request.get('gid') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="item_id">项目ID</label>
                            <input type="text" name="item_id" id="item_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="reason">原因</label>
                            <input type="text" name="reason" id="reason" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="position">位置</label>
                            <select class="form-control" name="position" id="position">
                                {% for index in 1..10 %}
                                    <option value="{{ index }}">{{ index }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="image">图片</label>
                            <input class="form-control" type="file" name="image" id="image">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@fileinput_css' filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@fileinput_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function(){
            $("#image").fileinput({
                allowedFileTypes: ['image'],
                showUpload: false
            });
            $(".delete-item").on("click", function() {
                var $deleteBtn = $(this);
                if (confirm("确定删除？")) {
                    var itemId = $(this).attr("item_id");
                    $.ajax("{{ path('lychee_admin_manualintervention_deleteitem') }}", {
                        dataType: "json",
                        type: "POST",
                        data: {
                            item_id: itemId
                        },
                        success: function(data) {
                            console.log(data);
                            $deleteBtn.parent().parent().remove();
                        },
                        error: function() {
                            alert("Error Occurred.");
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}