{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    {% set routerOfGroup = 'lychee_admin_manualintervention_postrecommendation' %}
    <li class="{% if app.request.get('_route') == routerOfGroup %}active{% endif %}">
        <a href="{{ path(routerOfGroup) }}">帖子推荐</a>
    </li>
    {#{% set routerOfGroup = 'lychee_admin_manualintervention_tyrorecommendation' %}#}
    {#<li class="{% if app.request.get('_route') == routerOfGroup %}active{% endif %}">#}
        {#<a href="{{ path(routerOfGroup) }}">次元新手推荐</a>#}
    {#</li>#}
    {#{% set routerOfGroup = 'lychee_admin_manualintervention_userrecommendation' %}#}
    {#<li class="{% if app.request.get('_route') == routerOfGroup %}active{% endif %}">#}
        {#<a href="{{ path(routerOfGroup) }}">用户推荐</a>#}
    {#</li>#}
    {#{% set routerOfGroup = 'lychee_admin_manualintervention_recommendationspecialsubject' %}#}
    {#<li class="{% if app.request.get('_route') matches '/specialsubject/' %}active{% endif %}">#}
        {#<a href="{{ path(routerOfGroup) }}">专题推荐</a>#}
    {#</li>#}
    {% set routerOfGroup = 'lychee_admin_manualintervention_liverecommendationinke' %}
    <li class="{% if app.request.get('_route') matches '/live/' %}active{% endif %}">
        <a href="{{ path(routerOfGroup) }}">直播推荐</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_manualintervention_users' %}active{% endif %}">
        <a href="{{ path('lychee_admin_manualintervention_users') }}">用户检索</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_manualintervention_posts' %}active{% endif %}">
        <a href="{{ path('lychee_admin_manualintervention_posts') }}">帖子检索</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_manualintervention_topics' %}active{% endif %}">
        <a href="{{ path('lychee_admin_manualintervention_topics') }}">{{ topic_name }}检索</a>
    </li>
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    <li class="{% if currentPath matches '/customize_topic/' %}active{% endif %}">
        <a href="{{ path('lychee_admin_manualintervention_customizecontent',
        {type: constant('Lychee\\Bundle\\AdminBundle\\Entity\\CustomizeContent::TYPE_TOPIC')}) }}">次元观察</a>
    </li>
    <li class="{% if currentPath matches '/customize_user/' %}active{% endif %}">
        <a href="{{ path('lychee_admin_manualintervention_customizecontent',
        {type: constant('Lychee\\Bundle\\AdminBundle\\Entity\\CustomizeContent::TYPE_USER')}) }}">用户观察</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_manualintervention_official' %}active{% endif %}">
        <a href="{{ path('lychee_admin_manualintervention_official') }}">官方通知</a>
    </li>
    {#<li class="{% if app.request.get('_route') matches '/column/' %}active{% endif %}">#}
        {#<a href="{{ path('lychee_admin_manualintervention_column') }}">栏目推荐</a>#}
    {#</li>#}
    {#<li class="{% if app.request.get('_route') matches '/subbanner/' %}active{% endif %}">#}
        {#<a href="{{ path('lychee_admin_manualintervention_subbanner') }}">广告位</a>#}
    {#</li>#}
{% endblock %}

{% block body %}{% endblock %}
