<div class="section">
    <h2>推荐帖子</h2>
    <ul>
        {% for post in posts %}
            <li class="post">
                <a href="javascript:go('post', {{ post.id }}, {{ postIndex + loop.index }})">
                    <span class="-image"><img src="{{ post.image_url is defined ? post.image_url | resizeImage(160, 120) : '' }}"/></span>
                    <p class="-content">{{ post.reason is defined and post.reason|length > 0 ? post.reason : post.content }}</p>
                    <img class="-avatar" src="{{ post.author.avatar_url }}" />
                    <p class="-nickname">{{ post.author.nickname }}</p>
                    <p class="-topic">{{ post.topic.title }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>