{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>探索</title>
    <style>
        {% include 'LycheeApiBundle:Recommendation:swiper.min.css.twig' %}
        {% include 'LycheeApiBundle:Recommendation:style2.css.twig' %}
    </style>
</head>
<body>
<header class="promotion swiper-container">
    <ul class="swiper-wrapper">
        {% for banner in banners %}
            <li class="swiper-slide">
                <a href="javascript:go('promotion', '{{ banner | json_encode | url_encode }}', {{ loop.index }})">
                    <img alt="{{ banner.title }}" src="{{ banner.image_url }}"/>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="swiper-pagination"></div>
</header>
<nav class="{{ in_review ? 'in-review' }}">
    <ul>
        <li class="hot-topics"><a href="javascript:go('hot_topics');">热次元</a></li>
        <li class="hot-posts"><a href="javascript:go('hot_posts');">高能帖</a></li>
        <li class="user-rank"><a href="javascript:go('user_post_rank');">发帖榜</a></li>
        <li class="games"><a href="javascript:go('app_list');">福利社</a></li>
    </ul>
</nav>
<div class="section">
    <h2>推荐次元</h2>
    <a class="more" href="javascript:go('rec_topic_list')">更多</a>
    <ul>
        {% for topic in topics %}
        <li class="topic">
            <a href="javascript:go('topic', {{ topic.id }}, {{ loop.index }})">
                <span class="-cover"><img src="{{ (topic.preview_image is defined ? topic.preview_image : topic.index_image) | resizeImage(160, 120) }}"/></span>
                <span class="-name">{% if topic.title|length > 0 %}{{ topic.title }}{% else %}&nbsp;{% endif %}</span>
                <p class="-desc">{% if topic.reason is defined and topic.reason|length > 0 %}{{ topic.reason }}{% else %}&nbsp;{% endif %}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% for posts in postsInColumns %}
    {% set column = columns[loop.index0] %}
<div class="section">
    <h2>{{ column.name }}</h2>
    <a class="more" href="javascript:go('column', [{{ column.id }}, '{{ column.name }}'], {{ loop.index }})">更多</a>
    <ul>
        {% for post in posts %}
        <li class="post">
            <a href="javascript:go('post', {{ post.id }})">
                <span class="-image"><img src="{{ post.image_url is defined ? post.image_url | resizeImage(160, 120) : '' }}"/></span>
                <p class="-content">{{ post.reason is defined and post.reason|length > 0 ? post.reason : post.content }}</p>
                <img class="-avatar" src="{{ post.author.avatar_url }}" />
                <p class="-nickname">{{ post.author.nickname }}</p>
                <p class="-topic">{{ post.topic.title }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

{% set subBannerGameType = constant('Lychee\\Module\\Recommendation\\Entity\\SubBanner::TYPE_GAME') %}
{% set subBannerSubjectType = constant('Lychee\\Module\\Recommendation\\Entity\\SubBanner::TYPE_SPECIAL_SUBJECT') %}
{% set subBannerHMap = {(subBannerGameType): '福利', (subBannerSubjectType): '专题'} %}
{% set subBannerListLinkMap = {(subBannerGameType): 'app_list', (subBannerSubjectType): 'subject_list'} %}
{% set subBannerLinkMap = {(subBannerGameType): 'app', (subBannerSubjectType): 'subject'} %}

{% if subbanners|length > 0 %}
    {% set subbanner = subbanners[0] %}
    {% if subBannerHMap[subbanner.type] is defined %}
    <div class="section subbanner">
        <h2>{{ subBannerHMap[subbanner.type] }}</h2>
        <h3>{{ subbanner.title }}</h3>
        <a class="more" href="javascript:go('{{ subBannerListLinkMap[subbanner.type] }}', null, 1)">更多</a>
        <a class="subject" href="javascript:go('{{ subBannerLinkMap[subbanner.type] }}', {{ subbanner.targetId }}, 1)">
            <img class="-image" src="{{ subbanner.imageUrl }}" />
        </a>
    </div>
    {% endif %}
{% endif %}

<div class="section">
    <h2>推荐帖子</h2>
    <ul>
        {% for post in posts %}
            <li class="post">
                <a href="javascript:go('post', {{ post.id }}, {{ loop.index }})">
                    <span class="-image"><img src="{{ post.image_url is defined ? post.image_url | resizeImage(160, 120) : '' }}"/></span>
                    <p class="-content">{{ post.reason is defined and post.reason|length > 0 ? post.reason : post.content }}</p>
                    <img class="-avatar" src="{{ post.author.avatar_url }}" />
                    <p class="-nickname">{{ post.author.nickname }}</p>
                    <p class="-topic">{{ post.topic.title }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% if subbanners|length > 1 %}
    {% set subbanner = subbanners[1] %}
    {% if subBannerHMap[subbanner.type] is defined %}
        <div class="section subbanner">
            <h2>{{ subBannerHMap[subbanner.type] }}</h2>
            <h3>{{ subbanner.title }}</h3>
            <a class="more" href="javascript:go('{{ subBannerListLinkMap[subbanner.type] }}', null, 2)">更多</a>
            <a class="subject" href="javascript:go('{{ subBannerLinkMap[subbanner.type] }}', {{ subbanner.targetId }}, 2)">
                <img class="-image" src="{{ subbanner.imageUrl }}" />
            </a>
        </div>
    {% endif %}
{% endif %}

<button class="load-more" data-post-cursor="{{ post_cursor is null ? 'null' : post_cursor }}" data-post-index="{{ posts|length }}" data-subbanner-cursor="{{ subbanner_cursor }}" data-subbanner-index="{{ subbanners|length }}">点击加载更多</button>
</body>
<script>
    {{ source('LycheeApiBundle:Recommendation:swiper.min.js.twig') }}
    new Swiper('.promotion', {
        speed: 400,
        spaceBetween: 0,
        loop: true,
        pagination: '.swiper-pagination',
        calculateHeight: true,
        cssWidthAndHeight: false,
        autoplay: 3000,
    });
</script>
{{ include('LycheeApiBundle::googleAnalytics.html.twig') }}
<script>
    function inApp() {
        var matches = window.navigator.userAgent.match(/ciyocon\//i);
        return matches !== null;
    }

    function go(to, param, index) {
        var urls = {
            'promotion': 'erciyuan://?action=show_promotion&promotion='+param,
            'rec_topic_list' : 'erciyuan://?action=view_rec_topic_list',
            'topic' : 'erciyuan://?action=view_topic&tid='+param,
            'hot_topics' : 'erciyuan://?action=view_hot_topic_list',
            'post' : 'erciyuan://?action=view_status&pid='+param,
            'hot_posts' : 'erciyuan://?action=view_hot_status_list',
            'hot_comments' : 'erciyuan://?action=view_hot_photo_comment_list',
            'user_post_rank' : 'erciyuan://?action=view_rank_user_list&type=1',
            'subject_list': 'erciyuan://?action=view_special_subject_list',
            'subject': 'erciyuan://?action=view_special_subject&sid='+param,
            'column': toString.apply(param) === '[object Array]' ? 'erciyuan://?action=view_column&column_id='+param[0]+'&name='+param[1] : '',
            'topic_column': toString.apply(param) === '[object Array]' ? 'erciyuan://?action=view_topic_column&column_id='+param[0]+'&name='+param[1] : '',
            'category': 'erciyuan://?action=view_category_topic&category_name='+param,
            'app': (function(){
                var url = '{{ url('lychee_api_game_getgameweb') }}?id='+param;
                var matches = window.navigator.userAgent.match(/ciyocon\/([0-9]+)(?:\.([0-9]+))?(?:\.([0-9]+))?/i);
                if (matches && matches[1] >= 1 && matches[2] >= 4 && matches[3] >= 5) {
                    return 'erciyuan://?action=open_tab&url='+encodeURIComponent(url);
                } else {
                    return url;
                }
            })(),
            'app_list': 'erciyuan://?action=open_tab&url={{ url('lychee_api_game_getgamelistweb') | escape('url') }}'
        };
        var url = urls[to];
        if (!url) {
            return;
        }

        var label = index ? to + '-' + index : to;
        ga('send', 'event', 'rec-links', 'click', label, 1);

        if (url.substr(0, 11) == 'erciyuan://') {
            send(url);
        } else {
            window.location.href = url;
        }
    }

    function send(url) {
        var iframe = document.createElement("iframe");
        iframe.setAttribute("src", url);
        document.documentElement.appendChild(iframe);
        iframe.parentNode.removeChild(iframe);
        iframe = null;
    }

    function getParameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
        var results = regex.exec(location.search);
        return results === null ? null : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var initLoadMore = function(className){

        var onTouch = function(){
            var loadMoreBtn = document.getElementsByClassName(className)[0];
            loadMoreBtn.removeEventListener('touchend', onTouch);
            loadMoreBtn.innerHTML = '加载中...';
            loadData(function(data){
                var wrapper = document.createElement('div');
                wrapper.innerHTML = data;
                var df = document.createDocumentFragment();
                for (var i = 0; 0 < wrapper.childNodes.length;) {
                    df.appendChild(wrapper.childNodes[i]);
                }

                loadMoreBtn.parentNode.replaceChild(df, loadMoreBtn);
                var newLoadMoreBtn = document.getElementsByClassName(className)[0];
                newLoadMoreBtn.addEventListener('touchend', onTouch);
            });
        };

        var loadData = function(cb){
            var loadMoreBtn = document.getElementsByClassName(className)[0];
            var postCursor = loadMoreBtn.getAttribute('data-post-cursor');
            var postIndex = loadMoreBtn.getAttribute('data-post-index');
            var subbannerCursor = loadMoreBtn.getAttribute('data-subbanner-cursor');
            var subbannerIndex = loadMoreBtn.getAttribute('data-subbanner-index');
            var inReview = getParameter('inReview');

            var params = {};
            if (postCursor !== 'null') {
                params['post_cursor'] = postCursor;
                params['post_index'] = postIndex;
            }
            if (subbannerCursor !== 'null') {
                params['subbanner_cursor'] = subbannerCursor;
                params['subbanner_index'] = subbannerIndex;
            }
            if (inReview !== null) {
                params['inReview'] = inReview;
            }

            var qs = [];
            for (var p in params) {
                qs.push(p+'='+encodeURI(params[p]));
            }

            var url = '{{ path('lychee_api_recommendation_webloadmore2') }}';
            var req = new XMLHttpRequest();
            req.open("GET", url + '?'+ qs.join('&'), true);
            req.onreadystatechange = function () {
                if (req.readyState != 4 || req.status != 200) return;
                cb(req.responseText);
            };
            req.send();
        };

        document.getElementsByClassName(className)[0].addEventListener('touchend', onTouch);
    };

    document.addEventListener( "DOMContentLoaded", function() {
        initLoadMore('load-more');

        var matches = window.navigator.userAgent.match(/ciyocon\/([0-9]+)(?:\.([0-9]+))?(?:\.([0-9]+))?/i);
        if (matches && matches[1] >= 1 && matches[2] >= 5 && matches[3] >= 5) {
            send('erciyuan://load_finish');
        }
    }, false );
</script>
</html>
{% endspaceless %}