{% extends 'LycheeAdminBundle:App:layout.html.twig' %}
{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>应用名称</th>
                <th>版本号</th>
                <th>安卓版本号</th>
                <th>上传日期</th>
                <th>包体大小</th>
                <th>更新日志</th>
                <th>自动更新状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if app | length > 0 %}
                {% for app in apps %}
                    <tr>
                        <td>{{ app.appId == 1 ? '次元社' : '' }}</td>
                        <td>{{ app.version }}</td>
                        <td>{{ app.versionCode }}</td>
                        <td>{{ app.uploadDate | date('Y-m-d H:i') }}</td>
                        <td>{{ app.size }}</td>
                        <td>{{ app.log }}</td>
                        <td>{{ app.autoUpdate ? "已开启" : "已暂停" }}</td>
                        <td>
                            <button class="btn btn-default edit-log" data-update-id="{{ app.id }}" data-toggle="modal" data-target="#edit_update_form" title="更新素材">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-default" id="open" data-update-id="{{ app.id }}" data-current-state="{{ app.autoUpdate }}">开启自动更新</button>
                            <button class="btn btn-default" id="close" data-update-id="{{ app.id }}" data-current-state="{{ app.autoUpdate }}">暂停自动更新</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="edit_update_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">更新版本信息,安卓版本信息，url以及日志</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_app_editupdate') }}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" name="update_id" id="update_id">
                        <div class="form-group">
                            <label for="version">版本信息</label>
                            <input type="text" name="version" id="version" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="version_code">安卓版本信息</label>
                            <input type="text" name="version_code" id="version_code" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="link">更新地址</label>
                            <input type="text" name="link" id="link" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="upload_date">上传时间</label>
                            <input type="text" name="upload_date" id="upload_date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="log">填写更新日志(不多与400个字)</label>
                            <textarea name="log" id="log" class="form-control"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary edit_submit">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        .nav-tabs { margin-bottom: 10px; }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            $(".edit_submit").click(function () {
                if (!$('#edit_update_form #version').val()) {
                    alert('版本信息不能为空！')
                    return false;
                }
                if (!$('#edit_update_form #version_code').val()) {
                    alert('安卓版本信息不能为空！')
                    return false;
                }
                if (!$('#edit_update_form #link').val()) {
                    alert('更新地址不能为空');
                    return false;
                }
                if (!$('#edit_update_form #upload_date').val()) {
                    alert('上传时间不能为空');
                    return false;
                }
                var log = $('#edit_update_form #log').val();
                if (log.length > 400) {
                    alert("更新的日志不能多于400个字")
                    return false;
                }
                if (!log) {
                    alert("日志不能为空");
                    return false;
                }

            });
            $(".edit-log").click(function () {
                $("#edit_update_form #update_id").val($(this).data('update-id'));
            });
            $('#upload_date').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                language: "zh-CN",
                todayHighlight: true
            });
            $('#open').click(function () {
                var state = 1;
                var updateId = $(this).data('update-id');
                if ($(this).data('current-state') == state) {
                    alert("已经开启了自动更新");
                    return false;
                }
                var $form = $('<form></form>');
                $form.attr("action", "{{ path('lychee_admin_app_editstate') }}");
                $form.attr("method", "post");
                $form.append('<input type="hidden", name="update_id" value="' + updateId + '">');
                $form.append('<input type="hidden", name="state" value="' + state + '">');
                $("body").append($form);
                $form.submit();
            });
            $('#close').click(function () {
                var state = 0;
                var updateId = $(this).data('update-id');
                if ($(this).data('current-state') == state) {
                    alert("已经暂停了自动更新");
                    return false;
                }
                var $form = $('<form></form>');
                $form.attr("action", "{{ path('lychee_admin_app_editstate') }}");
                $form.attr("method", "post");
                $form.append('<input type="hidden", name="update_id" value="' + updateId + '">');
                $form.append('<input type="hidden", name="state" value="' + state + '">');
                $("body").append($form);
                $form.submit();
            });

        });
    </script>
{% endblock %}