{% extends 'LycheeAdminBundle:App:layout.html.twig' %}

{% block body %}
    <form class="form-horizontal" method="post" action="{{ path('lychee_admin_app_uploadsticker') }}" enctype="multipart/form-data">
        <p class="text-warning">{{ errors|default('') }}</p>
        <input type="hidden" name="sticker_id" value="{{ sticker.id }}"/>
        <div class="form-group">
            <label for="sticker_name" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="sticker_name" name="sticker_name" value="{{ sticker.name }}">
            </div>
        </div>
        <div class="form-group">
            <label for="is_new" class="col-sm-2 control-label">新贴纸</label>
            <div class="col-sm-10">
                <input type="checkbox" class="" id="is_new" name="id_new" value="{{ sticker.isNew }}">
            </div>
        </div>
        <div class="form-group">
            <label for="sticker_name" class="col-sm-2 control-label">封面</label>
            <div class="col-sm-10">
                <img src="{{ sticker.thumbnailUrl }}" alt="{{ sticker.name }}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="sticker_name" class="col-sm-2 control-label">下载链接</label>
            <div class="col-sm-10">
                <a href="{{ sticker.url }}">{{ sticker.url }}</a>
            </div>
        </div>
        <div class="form-group">
            <label for="zip_file" class="col-sm-2 control-label">修改压缩包</label>
            <div class="col-sm-10">
                <input type="file" class="" id="zip_file" name="zip_file">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">保 存</button>
            </div>
        </div>
    </form>
{% endblock %}