{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{{ topic.title }}</title>
    <link rel="stylesheet" href="{{ asset('bundles/lycheewebsite/promotion/dongman_yinyuejie/style.css') }}" />
</head>
<body>
<div class="cover"><img src="{{ topic.indexImageUrl is not empty ? topic.indexImageUrl : asset('bundles/lycheewebsite/common/image/topic_default.png') }}"/></div>
<div class="info">
    <h1 class="name">{{ topic.title }}</h1>
    <span class="follower-count">入驻: {{ followerCount }}</span>
    <span class="post-count">发布: {{ topic.postCount }}</span>
    <p class="desc">{{ topic.description }}</p>
    <a class="join" href="{{ url('download_app') }}">拍照返图</a>
</div>
<ul class="imgs">
    {% for post in posts %}
        <li>
            <a {{ post.imageUrl is not empty ? 'class="post-image" ' }}href="{{ path('share_post', {'postId': post.id}) }}">
                {% if post.imageUrl is not empty %}
                    <img src="{{ post.imageUrl | resizeImage(272, 168) }}">
                {% else %}
                    <span>{{ post.content }}</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
<div class="lottery">
    <img class="-prize" src="{{ asset("bundles/lycheewebsite/promotion/dongman_yinyuejie/image/lottery_prize.png") }}"/>
    <a class="-go" href="javascript:goLottery()"><img src="{{ asset("bundles/lycheewebsite/promotion/dongman_yinyuejie/image/lottery_go.png") }}"/></a>
</div>
<div class="share-mask" hidden>
    <img class="-info" src="{{ asset("bundles/lycheewebsite/promotion/dongman_yinyuejie/image/share.png") }}"/>
    <a href="http://choujiang.ciyocon.com/authorize.php"><img src="{{ asset("bundles/lycheewebsite/promotion/dongman_yinyuejie/image/share_btn.png") }}"/></a>
</div>
{% include 'LycheeWebsiteBundle::wechat.html.twig' %}
<script>
    function goLottery() {
        var m = document.getElementsByClassName('share-mask')[0];
        var onClick = function(){
            m.style.display = 'none';
            m.onclick = null;
        };
        m.style.display = 'block';
        m.onclick = onClick;
    }

    function onload() {
        wxSetupShare({
            title: 'ACG动漫音乐节',
            content: '次元娘在ACG动漫节派福利~两只手都拿不完！',
            link: window.location.href,
            image: '{{ topic.indexImageUrl }}'
        });
    };

    document.addEventListener("DOMContentLoaded", onload, false );
</script>
</body>
</html>
{% endspaceless %}
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>