<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>添加-每周精选次元视频--上帝的看板</title>
    {% stylesheets 'bundles/lycheeadmin/bootstrap/css/bootstrap.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/lycheeadmin/css/main.css') }}"/>
    {% block stylesheets %}{% endblock %}
    {% javascripts '@LycheeAdminBundle/Resources/public/js/jquery-1.11.1.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@fileinput_css' filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        @media screen and (max-width: 800px) {
            .affix {
                position: relative;
            }

            .nav-list {
                background-color: transparent;
            }

            body {
                padding-top: 50px;
            }

            .breadcrumb {
                text-align: center;
            }

            .date-search {
                width: 80%;
            }

            .date-search .form-group {
                width: 70%;
                float: left;
            }

            .date-search .btn-default {
                float: right;
            }

            img {
                width: 100%;
            }

            td img {
                display: block;
            }
        }

        td img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<div class="container-fluid">



    <div class="col-xs-12 col-md-1 col-sm-2 navbar-default nav-list">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_list"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div role="complementary" data-spy="affix" id="navbar_list" class="affix navbar-collapse collapse">
            <ul class="nav">
                <li class="title">{{ title }}</li>
                {% block left_nav %}{% endblock %}
                <li><a href="{{ path('lychee_admin_default_index') }}">返回首页</a></li>
            </ul>
        </div>

    </div>



    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('lychee_admin_default_index') }}">上帝的看板</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('lychee_admin_preference_index') }}" title="偏好设置">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('lychee_admin_signout') }}" title="登出">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="col-sm-10 col-sm-offset-3">
        <form class="form-horizontal" action="{{ path('lychee_admin_activitytopciyobyweek_docreate') }}" method="post"
              enctype="multipart/form-data" id="create_ad_form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">第几期</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="第几期" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="start_time" class="col-sm-2 control-label">时间</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control datepicker" id="start_time" name="start_time"
                           placeholder="开始时间(包含当日)" value="" />
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control datepicker" id="end_time" name="end_time"
                           placeholder="结束时间(不包含当天)" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label for="end_time" class="col-sm-2 control-label">上榜视频</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control videoId" name="videoId[]" placeholder="视频ID" value=""/>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control reasonText" name="reasonText[]" placeholder="上榜理由" value=""/>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success dropdown-toggle addRowbtn" onclick="addRow(this)">
                        <span class="glyphicon  glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn  btn-danger btnDelEducate" data-toggle="modal" data-target="#DeleteForm" onclick="delRow(this)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">保 存</button>
                </div>
            </div>
        </form>
</div>
</div>
</body>
</html>

{% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
$(document).ready(function() {
    var dd = new Date();
    $(".datepicker").datetimepicker({
        format: "yyyy-mm-dd",
        language: "zh-CN",
        todayHighlight: true,
        startDate: dd,
        minView: 'month',
        autoclose: true
    });
    $('form#create_ad_form').submit(function(){
        data = $(this).serialize();
        url = $(this).attr('action');
        $('input.videoId').removeClass('has-error');
        $.ajax({url:url,type:"post",data:data,success:function(data){
                console.log(data);
                if(data.code == 0){
                    location.href= "{{ path('lychee_admin_activitytopciyobyweek_index') }}";
                }
                if(data == -1){
                    dataList = data.data;
                    $(dataList).each(function(index,d){
                        id = d.id;
                        err = d.err;
                        if (err == -101)
                        {
                            $('input.videoId[@value='+id+']').parent().addClass('has-error');
                        }
                        if (err == -100)
                        {
                            $('input.videoId[@value='+id+']').parent().addClass('has-error');
                        }
                    });
                }
            }});
        // $(this).resetForm();
        return false;
    });
});
function addRow(o){
   if(o){
       var html= '      <div class="form-group col-sm-12">\n' +
           '                <label for="end_time" class="col-sm-2 control-label">上榜视频</label>\n' +
           '                <div class="col-sm-2">\n' +
           '                    <input type="text" class="form-control videoId" name="videoId[]" placeholder="视频ID" value=""/>\n' +
           '                </div>\n' +
           '                <div class="col-sm-5">\n' +
           '                    <input type="text" class="form-control reasonText" name="reasonText[]" placeholder="上榜理由" value=""/>\n' +
           '                </div>\n' +
           '                <div class="col-sm-3">\n' +
           '                    <button type="button" class="btn btn-success dropdown-toggle addRowbtn" onclick="addRow(this);">\n' +
           '                        <span class="glyphicon glyphicon  glyphicon-plus" aria-hidden="true"></span>\n' +
           '                    </button>\n' +
           '                    <button type="button" class="btn  btn-danger btnDelEducate" data-toggle="modal" data-target="#DeleteForm" onclick="delRow(this)">\n' +
           '                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>\n' +
           '                    </button>\n' +
           '                </div>\n' +
           '            </div>';
       $(o).parents('.form-group').after(html);
   }
}
function delRow(o){
    if(o){
        if($('.videoId').length > 1){
            $(o).parents('.form-group').remove();
        }
    }
}
</script>