{% extends 'LycheeAdminBundle:ManualIntervention:layout.html.twig' %}
{% import 'LycheeAdminBundle::helper.html.twig' as helper %}

{% block body %}
    {{ helper.retrievalCustomizeContentNavs(type) }}
    <button type="button" class="btn btn-primary pull-left add-topic-btn" data-toggle="modal" data-target="#create_customize_user">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>头像</th>
                <th>昵称</th>
                <th>邮箱/手机</th>
                <th>创建时间</th>
                <th>性别</th>
                <th>状态</th>
                <th>领主次元</th>
                <th><span class="glyphicon glyphicon-wrench"></span></th>
            </tr>
            </thead>
            <tbody>
            {% for uid in userIds %}
                {% set user = users[uid] %}
                <tr>
                    <td>
                        <a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: user.id}) }}" target="_blank">
                            {{ user.id }}
                        </a>
                    </td>
                    <td><img class="avatar-image" src="{{ user.avatarUrl }}" alt=""/></td>
                    <td>{{ user.nickname }}</td>
                    <td>{{ user.email }}/{{ user.phone }}</td>
                    <td>{{ user.createTime|date('Y-m-d H:i') }}</td>
                    <td>{{ user.gender == 1? '男' : '女' }}</td>
                    <td>
                        {% if true == user.frozen %}
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% for topic in managerTopics[user.id] %}
                            <p>
                                {% if topic %}
                                    <a href="{{ path('lychee_admin_topic_detail', {topicId: topic.id}) }}" target="_blank">
                                        {{ topic.title }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('lychee_admin_contentaudit_managertopics', {managerId: user.id}) }}" target="_blank">更多...</a>
                                {% endif %}
                            </p>
                        {% endfor %}
                    </td>
                    <td>
                        {% if false == user.frozen %}
                            <a href="{{ path('lychee_admin_contentaudit_postlistbyauthor', {'authorId': user.id}) }}"
                               target="_blank">
                                查看所有帖子
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            <li>
                <a href="{{ path('lychee_admin_manualintervention_customizeuserlist', {page: 1}) }}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for p in 1..pageCount %}
                <li class="{{ p==page? 'active' }}">
                    <a href="{{ path('lychee_admin_manualintervention_customizeuserlist', {page: p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ path('lychee_admin_manualintervention_customizeuserlist', {page: pageCount}) }}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="create_customize_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加自定义用户</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_manualintervention_addcustomizecontent') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="creator">用户ID</label>
                            <input type="text" class="form-control" name="id">
                            <input type="hidden" name="type" value="{{ type }}">
                        </div>
                    </div>
                    <div class="modal-footer"><button type="submit" class="btn btn-primary">确 定</button></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .add-topic-btn {
            margin-bottom: 15px;
        }
        .avatar-image{ height: 50px; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.remove-customize-content').click(function() {
                if (!confirm('确定移除自定义次元?')) {
                    return false;
                }
                var $form = $('<form method="post"></form>');
                $form.attr('action', '{{ path("lychee_admin_manualintervention_removecustomizecontent") }}');
                $form.append('<input type="hidden" name="id" value="' + $(this).data('id') + '">');
                $('body').append($form);
                $form.submit();
            });
        });
    </script>
{% endblock %}