{% extends 'LycheeAdminBundle:ManualIntervention:layout.html.twig' %}

{% block body %}
    <div class="col-md-6 col-sm-8">
        <form class="form-horizontal" role="form" action="{{ path('lychee_admin_manualintervention_modifygroup') }}" method="post">
            <div class="form-group">
                <label for="group_id" class="col-sm-2 control-label">排期ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="group_id" value="{{ group.getId() }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="group_type" class="col-sm-2 control-label">类型</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="group_type" value="{{ group.getType() }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="group_start_time" class="col-sm-2 control-label">开始时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="group_start_time" value="{{ group.getStartTime()|date('Y-m-d H:i:s') }}">
                </div>
            </div>
            <div class="form-group">
                <label for="group_end_time" class="col-sm-2 control-label">结束时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="group_end_time" value="{{ group.getEndTime()|date('Y-m-d H:i:s') }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">保 存</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}