{% extends 'LycheeAdminBundle:ManualIntervention:layout.html.twig' %}
{% import 'LycheeAdminBundle::helper.html.twig' as helper %}

{% block body %}
    {{ helper.recommendationDateSearcher(app.request.get('date')) }}
    <button type="button" id="create_group_btn" class="btn btn-primary" data-toggle="modal" data-target="#create_item_form">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <ul class="nav nav-tabs">
        {% set routerOfGroup = 'lychee_admin_manualintervention_postrecommendation' %}
        <li role="presentation" class="{% if app.request.get('_route') == routerOfGroup %}active{% endif %}">
            <a href="{{ path('lychee_admin_manualintervention_postrecommendation') }}">帖子推荐</a>
        </li>
        {% set routerOfGroup = 'lychee_admin_manualintervention_tobepublishitem' %}
        <li role="presentation" class="{% if app.request.get('_route') == routerOfGroup %}active{% endif %}">
            <a href="{{ path('lychee_admin_manualintervention_tobepublishitem', {"type": "post"}) }}">待发布帖子</a>
        </li>
    </ul>
    {% block list %}{% endblock %}
    {{ helper.recommendPostWin() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@fileinput_css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        .nav-tabs { margin-bottom: 10px; margin-top: 20px; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@fileinput_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function () {
            $('#date').datetimepicker({
                format: 'yyyy-mm-dd',
                minView: 'month',
                autoclose: true
            });
        });
    </script>
{% endblock %}