{% extends 'LycheeAdminBundle:Post:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@fileinput_css' filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets
        '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css'
        '@LycheeAdminBundle/Resources/public/jquery.fine-uploader/fine-uploader-gallery.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
	<style>
		#link { display: inline-block; width: 70%; }
		#link_fetch { display: inline-block; width: 29%; }
		#pic_link { display: inline-block; width: 70%; }
		.link-type { display: inline-block; width: 29%; }
        .picture-upload-wrap { margin-bottom: 10px; }
        .schedule-form {
            padding-bottom: 200px;
        }
	</style>
{% endblock %}

{% block body %}
    {% set type_value = app.request.get('type') %}
    {% set normalType = constant('Lychee\\Bundle\\CoreBundle\\Entity\\Post::TYPE_NORMAL') %}
    {% set resourceType = constant('Lychee\\Bundle\\CoreBundle\\Entity\\Post::TYPE_RESOURCE') %}
    {% set groupchatType = constant('Lychee\\Bundle\\CoreBundle\\Entity\\Post::TYPE_GROUP_CHAT') %}
    {% set votingType = constant('Lychee\\Bundle\\CoreBundle\\Entity\\Post::TYPE_VOTING') %}
    {% set videoType = constant('Lychee\\Bundle\\CoreBundle\\Entity\\Post::TYPE_VIDEO') %}
    {% set scheduleType = constant('Lychee\\Bundle\\CoreBundle\\Entity\\Post::TYPE_SCHEDULE') %}
    <div class="col-md-7 col-lg-6 {{ type_value==scheduleType? 'schedule-form' }}">
        <form class="form-horizontal" role="form" action="{{ path('lychee_admin_post_create') }}" method="post"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="account_id" class="col-sm-2 control-label">帖子类型</label>
                <div class="col-sm-10">
                    <input type="hidden" name="post_type" id="post_type" value="{{ type_value }}">
                    <div class="btn-group btn-group-justified" role="group" aria-label="">
                        <div class="btn-group" role="group">
                            <a type="button"
                               class="btn {{ type_value == normalType? 'btn-primary':'btn-default' }}"
                               href="?type={{ normalType }}">文字/图片</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a type="button"
                               class="btn {{ type_value == resourceType? 'btn-primary':'btn-default' }}"
                               href="?type={{ resourceType }}">资源</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a type="button"
                               class="btn {{ type_value == groupchatType? 'btn-primary':'btn-default' }}"
                               href="?type={{ groupchatType }}">群聊</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a type="button"
                               class="btn {{ type_value == votingType? 'btn-primary':'btn-default' }}"
                               href="?type={{ votingType }}">投票</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a type="button"
                               class="btn {{ type_value == scheduleType? 'btn-primary':'btn-default' }}"
                               href="?type={{ scheduleType }}">活动</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a type="button"
                               class="btn {{ type_value == videoType? 'btn-primary':'btn-default' }}"
                               href="?type={{ videoType }}">视频</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="account_id" class="col-sm-2 control-label">帐号</label>
                <div class="col-sm-10">
                    {% if author is not defined %}
                        <select name="account_id" id="account_id" class="form-control">
                            {% for account in accounts %}
                                <option value="{{ account.id }}">{{ account.nickname }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="text" value="{{ author.nickname }}" disabled>
                    {% endif %}
                </div>
            </div>
            {% if type_value == groupchatType %}
                <div class="form-group">
                    <label for="im_group_name" class="col-sm-2 control-label">群聊组名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="im_group_name" name="im_group_name"
                               placeholder="不能多于20个字">
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="topic" class="col-sm-2 control-label">{{ topic_name }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="topic" name="topic" data-provide="typeahead"
                           placeholder="输入关键词即可搜索，不存在的次元会自动创建"
                           autocomplete="off" value="{{ topic.title|default('') }}">
                </div>
            </div>
            {% if type_value == resourceType %}
                <div class="form-group post-type-resource">
                    <label for="resource_url" class="col-sm-2 control-label">资源链接</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="resource_url" name="resource_url">
                    </div>
                </div>
            {% endif %}
            {% if type_value != videoType %}
            <div class="form-group">
                <label for="picture" class="col-sm-2 control-label">图片</label>
                <div class="col-sm-10">
                    <div class="picture-upload-wrap">
                        <input type="file" class="form-control pictures" name="pictures[]">
                    </div>
                    <div>
                        <button type="button" class="btn btn-default" id="add_picture">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if type_value == votingType %}
                <div class="form-group">
                    <label for="voting_title" class="col-sm-2 control-label">投票题目</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="voting_title" name="voting_title" placeholder="60字以内">
                    </div>
                </div>
            {% endif %}

            {# 视频帖 #}
            {% if type_value == videoType %}
                <div class="form-group">
                    <label for="video_url" class="col-sm-2 control-label">视频链接</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="video_url" name="video_url">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-default" id="video_check">查询</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="video_url" class="col-sm-2 control-label">视频封面</label>
                    <div class="col-sm-10">
                        <img src="" alt="" id="video_cover">
                        <input type="hidden" name="video_cover">
                    </div>
                </div>
                <div class="form-group">
                    <label for="video_url" class="col-sm-2 control-label">替换视频封面</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="new_video_cover" id="new_video_cover">
                        <div id="fine-uploader"></div>
                    </div>
                </div>
            {% endif %}

            {% if type_value != scheduleType %}
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">正文</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="content" name="content" rows="8" placeholder="400字以内">{{ post.content|default('') }}</textarea>
                    </div>
                </div>
            {% endif %}
            {% if type_value == votingType %}
                {% for i in 1..8 %}
                    <div class="form-group">
                            <label for="opt_{{ i }}" class="col-sm-2 control-label">选项-{{ i }}</label>
                            <div class="col-sm-10">
                                {% if i < 3 %}
                                    {% set placeholderPrefix = '(必填) ' %}
                                {% else %}
                                    {% set placeholderPrefix = '' %}
                                {% endif %}
                                <input type="text" class="form-control" id="opt_{{ i }}" name="opt_{{ i }}"
                                       placeholder="{{ placeholderPrefix }}15字以内">
                            </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if type_value == scheduleType %}
                <div class="form-group">
                    <label for="schedule_title" class="col-sm-2 control-label">活动主题</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="schedule_title" name="schedule_title" placeholder="60字以内">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">活动描述</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="content" name="content" rows="8" placeholder="400字以内"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="schedule_address" class="col-sm-2 control-label">活动地址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="schedule_address" name="schedule_address" placeholder="200字以内">
                    </div>
                </div>
                <div class="form-group">
                    <label for="start_time" class="col-sm-2 control-label">开始时间</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control datepicker" id="start_time" name="start_time">
                    </div>
                </div>
                <div class="form-group">
                    <label for="end_time" class="col-sm-2 control-label">结束时间</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control datepicker" id="end_time" name="end_time">
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" id="preview_post">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;提 交
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' output='js/post.js'
        '@LycheeAdminBundle/Resources/public/bootstrap/js/bootstrap3-typeahead.js'
        '@fileinput_js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js'
        '@LycheeAdminBundle/Resources/public/jquery.fine-uploader/jquery.fine-uploader.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $( document ).ready(function() {
            var $accountIdSelectTag = $("#account_id");
            $("#link_fetch").on("click", function() {
                $.get("{{ path('lychee_admin_default_parselink') }}", {
                    url: $("#link").val()
                }, function(data, status) {
                    $("#title").val(data.title);
                    $("#content").val(data.summary);
                    $("#pic_link").val(data.coverUrl);
                    if (data.linkType === 'video') {
                        $("#link_type_video").attr("checked", true);
                        $("#link_type_audio").attr("checked", null);
                    } else {
                        $("#link_type_video").attr("checked", null);
                        $("#link_type_audio").attr("checked", true);
                    }
                    if (typeof data.mediaUrl !== "undefined") {
                        $("#media_url").val(data.mediaUrl);
                    }
                }, 'json');
            });

            $("#topic").typeahead({
                source: function(query, process) {
                    if (query) {
                        $.get('{{ path('lychee_admin_default_topickeyword') }}', {
                            keyword: query
                        }, function(data) {
                            process(data);
                        });
                    }
                }
            });

            $("#preview_post").on("click", function() {
                var $optionTags = $accountIdSelectTag.find("option");
                if (0 === $optionTags.length) {
                    alert("未关联运营账号！");

                    return false;
                }
            });

            var fileinputConfig = {
                allowedFileTypes: ['jpg', 'png'],
                showUpload: false
            };
            $(".pictures").fileinput(fileinputConfig);
            $("#add_picture").on("click", function() {
                var $btnFormGroup = $(this).parent();
                var $fileUpload = $('<div class="picture-upload-wrap">' +
                '<input type="file" class="form-control pictures" name="pictures[]">' +
                '</div>');
                $btnFormGroup.before($fileUpload);
                $fileUpload.children().first().fileinput(fileinputConfig);

                return false;
            });

            $(".datepicker").datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                language: "zh-CN",
                todayHighlight: true
            });

            $('#video_check').click(function() {
                var videoUrl = $('#video_url').val();
                var $videoCover = $('#video_cover');
                if (videoUrl) {
                    $.ajax('{{ path("lychee_admin_post_fetchvideocover") }}', {
                        type: 'post',
                        dataType: 'json',
                        data: {
                            url: videoUrl
                        },
                        success: function(data) {
                            console.log(data.img);
                            if (data.img) {
                                $videoCover.attr('src', data.img);
                                $videoCover.next().val(data.img);
                            } else {
                                alert("无法获取视频封面");
                            }
                        },
                        error: function() {}
                    });
                }
            });
            $("#fine-uploader").fineUploader({
                /* options go here */
                multiple: false,
                request: {
                    endpoint: "/post/video_cover/upload"
                },
                validation: {
                    allowedExtensions: ['jpeg', 'jpg', 'png']
                },
                callbacks: {
                    onComplete: function(id, name, json) {
                        if (json.error) {
                            alert(json.error);
                        } else {
                            $('#new_video_cover').val(json.image);
                        }
                    }
                }
            });
        });
    </script>
    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Upload a file</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        Retry
                    </button>

                    <div class="qq-file-info">
                        <div class="qq-file-name">
                            <span class="qq-upload-file-selector qq-upload-file"></span>
                            <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                        </div>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>
{% endblock %}