{% extends 'LycheeAdminBundle:Post:layout.html.twig' %}

{% block body %}
    <div class="col-md-7 col-lg-6">
        <form class="form-horizontal" role="form" action="{{ path('lychee_admin_post_create') }}" method="post">
            <input type="hidden" name="preview_id" value="{{ previewId }}"/>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title" value="{{ post.get('title')|default('') }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">正文</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="content" name="content" rows="6" disabled>{{ post.get('content')|default('') }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="picture" class="col-sm-2 control-label">图片</label>
                <div class="col-sm-10">
                    <img src="{{ image }}" alt="" style="max-width: 320px; max-height: 480px;"/>
                </div>
            </div>
            <div class="form-group">
                <label for="pic_link" class="col-sm-2 control-label">帖子类型</label>
                <div class="col-sm-10">
                    <div class="link-type">
                        <input type="radio" class="disabled" name="link_type" id="link_type_video" value="1" {{ 1 == post.get('link_type')? 'checked' }} disabled>
                        <label for="link_type_video">视频</label>&nbsp;&nbsp;
                        <input type="radio" class="disabled" name="link_type" id="link_type_audio" value="2" {{ 2 == post.get('link_type')? 'checked' }} disabled>
                        <label for="link_type_audio">无</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="pic_link" class="col-sm-2 control-label">是否可改图</label>
                <div class="col-sm-10">
                    <div>
                        <input type="radio" name="original_img" id="original_img" value="1" {{ 1 == post.get('original_img')? 'checked' }} disabled>
                        <label for="original_img">是</label>&nbsp;&nbsp;
                        <input type="radio" name="original_img" id="not_original_img" value="0" {{ 0 == post.get('original_img')? 'checked' }} disabled>
                        <label for="not_original_img">否</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="topic" class="col-sm-2 control-label">{{ topic_name }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="topic" name="topic" value="{{ post.get('topic')|default('') }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="account_id" class="col-sm-2 control-label">帐号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ account.nickname }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">发&nbsp;送</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}