{% extends 'LycheeAdminBundle:Ad:layout.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('lychee_admin_ad_createbanner') }}">
        <span class="glyphicon glyphicon-plus"></span> 新建首页广告
    </a>
    <a class="btn btn-info" href="{{ path('lychee_admin_ad_banners') }}">
        <span class="glyphicon glyphicon-th-list"></span> 所有首页广告
    </a>
    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <ul class="sortable grid">
                {% for banner in availableBanners %}
                    <li>
                        <a href="#" class="remove-banner" pid="{{ banner.id }}"><span class="glyphicon glyphicon-remove"></span></a>
                        <img src="{{ banner.imageUrl }}" alt="{{ banner.title }}" title="{{ banner.title }}"/>
                    </li>
                {% endfor %}
                <li>
                    <a href="#" data-toggle="modal" data-target="#add_promotion" class="add-banner"
                       title="发布Banner广告">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="add_promotion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">发布{{ subTitle }}</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_ad_bannersavailable') }}">
                    <div class="modal-body">
                        <div style="margin-bottom: 15px;"><button type="submit" class="btn btn-primary">保 存</button></div>
                        <div class="row">
                            {% for banner in unusedBanners %}
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img src="{{ banner.imageUrl }}" alt="{{ banner.title }}">
                                        <div class="caption">
                                            <p>{{ banner.title }}</p>
                                            <p>
                                                <a href="#" class="btn btn-default add-to-promote" role="button"
                                                   pid="{{ banner.id }}">选中</a>
                                                <input type="hidden" name="promotion_ids[]">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .remove-banner { position: absolute; right: 5px; top: 5px; color: red; opacity: 0; transition: opacity 0.2s linear; }
        .remove-banner:visited { color: red; }
        .remove-banner:hover { color: red; }
        .remove-banner:active { color: red; }
        .add-banner { display: inline-block; width: 100%; height: 100%; }
        li:hover .remove-banner { opacity: 1; }
        .sortable .glyphicon-plus { color: white; line-height: 185px; font-size: 36px; }
        .sortable li {
            list-style: none;
            border: 1px solid #CCC;
            background: #F6F6F6;
            color: #1C94C4;
            margin: 5px;
            min-height: 185px;
            min-width: 320px;
            box-sizing: content-box;
            position: relative;
        }
        li.disabled { opacity: 0.5; }
        li.highlight { background: #FEE25F; }
        li.sortable-placeholder { border: 1px dashed #CCC; background: none; }
        .sortable.grid li { float: left; width: 80px; height: 80px; text-align: center; }
        .sortable.grid { overflow: hidden; }
        li img { max-height: 185px; max-width: 320px; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {%  javascripts '@LycheeAdminBundle/Resources/public/js/jquery.sortable.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $(".sortable").sortable().bind("sortupdate", function() {
                var $promotions = $(this).find("li a");
                var sortedPromotionIds = [];
                for (var i = 0, len = $promotions.length; i < len - 1; i++) {
                    sortedPromotionIds.push($promotions.eq(i).attr('pid'));
                }
                console.log(sortedPromotionIds);
                $.ajax("{{ path('lychee_admin_ad_sortpromotions') }}", {
                    type: "POST",
                    data: {
                        sorted_ids: sortedPromotionIds
                    },
                    dataType: "json",
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown) {
                            alert(errorThrown);
                        } else {
                            alert("发生未知错误");
                        }
                    }
                });
            });

            var $removeBanner = $(".remove-banner");
            $removeBanner.on("click", function() {
                if (confirm("确认移除?")) {
                    var availableBannerIds = [];
                    var removedBannerId = $(this).attr("pid");
                    for (var i = 0, len = $removeBanner.length; i < len; i++) {
                        var promoteId = $removeBanner.eq(i).attr("pid");
                        if (promoteId != removedBannerId) {
                            availableBannerIds.push(promoteId);
                        }
                    }
                    $.ajax("{{ path('lychee_admin_ad_removebanner') }}", {
                        type: "POST",
                        data: {
                            available_ids: availableBannerIds
                        },
                        dataType: "json",
                        error: function(jqXHR, textStatus, errorThrown) {
                            if (errorThrown) {
                                alert(errorThrown);
                            } else {
                                alert("发生未知错误");
                            }
                        },
                        success: function() {
                            window.location.href = "{{ path(app.request.get('_route')) }}";
                        }
                    });
                    $(this).parent().remove();
                }

                return false;
            });
        });
        $(".add-to-promote").on("click", function() {
            var $btn = $(this);
            if ($btn.hasClass("btn-default")) {
                $btn.removeClass("btn-default").addClass("btn-primary").text("已选中");
                $btn.next().val($btn.attr("pid"));
            } else {
                $btn.removeClass("btn-primary").addClass("btn-default").text("选中");
                $btn.next().val("");
            }
        });
    </script>
{% endblock %}