<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录 - VIP用户平台</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/style.min.css') }}">
    <style type="text/css">
        body {
            background-color: #f9f9f9;
            background-image: url({{ asset('bundles/lycheewebsite/home/images/homepage_bg.png') }});
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="content">
        <div class="user-login">次元社VIP用户平台</div>
    </div>
</div>
<div class="login">
    <img src="{{ asset('bundles/lycheewebsite/home/images/logo-login.png') }}">
    <div class="desc">二次元短视频社区</div>
    <form id="form" action="{{ path('lychee_website_vip_dologin') }}" method="post">
        <input type="hidden" name="area_code" value="86">
        <input type="hidden" name="client" value="web">
        <input type="hidden" name="uuid" value="123456">
        <div class="account">
            <input type="text" name="phone" class="account" placeholder="手机号">
        </div>
        <div class="pwd">
            <input type="password" name="password" class="pwd" placeholder="密码">
        </div>
        <button type="submit" id="submit">登录</button>
    </form>
    <div class="remember"><input type="checkbox" name="remember"><label>记住我</label></div>
    <a class="forget" href="javascript:;">忘记密码?</a>
</div>
{% javascripts '@LycheeWebsiteBundle/Resources/public/jquery-2.1.4.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    (function(window, $) {
        $('#form').submit(function() {
            if ($('.account > input').val() === '' || $('.pwd > input').val() === '') {
                if ($('.account').children().length === 1) {
                    $('.account').append('<label class="error">*用户名或密码不能为空</label>');
                }
                return false;
            }
            return true;
        });
        $('.account > input').focus(function() {
            if ($('.error').length !== 0) {
                $('.error').remove();
            }
        });
        $('.pwd > input').focus(function() {
            if ($('.error').length !== 0) {
                $('.error').remove();
            }
        });
    }(window, jQuery));
</script>
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>