<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/bootstrap-datetimepicker-standalone.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/style.min.css') }}">
    <title>发帖 - VIP用户平台</title>
    <style type="text/css">
        .twitter-typeahead {
            width: 100%;
        }
        .tt-menu {
            width: 100%;
            margin-top: 2px;
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #a2c2d3;
            max-height: 120px;
            overflow: hidden;
            overflow-y: auto;
        }
        .tt-suggestion {
            width: 100%;
            line-height: 24px;
        }
        .tt-suggestion:hover {
            background-color: #24c7fc;
        }
    </style>
</head>
<body>
{{ include('LycheeWebsiteBundle:Vip:header.html.twig') }}
<div class="send-post">
    {{ include('LycheeWebsiteBundle:Vip:navigation.html.twig') }}
    <div class="content">
        <div class="title-head">发帖</div>
        <div class="post-type">
            <div class="row clearfix">
                <div class="col1">帖子类型</div>
                <div class="col2">
                    <ul class="btn-group">
                        <li onclick="getContent(this)" id="image_text" class="active">图文</li>
                        <li onclick="getContent(this)" id="video">视频</li>
                        <li onclick="getContent(this)" id="resource">资源</li>
                        {#<li onclick="getContent(this)" id="vote">投票</li>#}
                        {#<li onclick="getContent(this)" id="schedule">活动</li>#}
                    </ul>
                </div>
            </div>
            <div class="edit">

            </div>
        </div>
    </div>
</div>
{% javascripts '@LycheeWebsiteBundle/Resources/public/jquery-2.1.4.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@LycheeWebsiteBundle/Resources/public/vip/js/typeahead.bundle.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@LycheeWebsiteBundle/Resources/public/vip/js/moment.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@LycheeWebsiteBundle/Resources/public/vip/js/bootstrap-datetimepicker.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    (function(o, $) {
        function getContent(obj) {
            if (obj.className !== 'active') {
                $('.btn-group li').each(function(i) {
                    if (this === obj) {
                        obj.classList.add('active');
                    }
                    else {
                        this.classList.remove('active');
                    }
                });
                $('.edit').load('/get_sender_template/' + obj.id);
            }
        }
        function addFile() {
            if($('.row .file-upload').length >= 9) {
                alert("亲，添加的图片不能多于9张喔");
                return;
            }
            var newFile = $('#template').children().clone();
            $('.add-file').before(newFile);
        }
        function deleteFile() {
            if ($('.row .file-upload').length > 1) {
                $('.row .file-upload').last().remove();
            }
            else {
                alert('亲，不能再删了喔');
            }
        }
        function deleteLocalImage(event) {
            $(event.target).siblings('#filename').text('');
            $(event.target).siblings('#preview_image')[0].src='';
            $(event.target).remove();
        }
        function localLoadImage(event) {
            if (event.target.files[0] && event.target.files) {
                var file = event.target.files[0];
                var fileName = file.name;
                $(event.target).parent().siblings('#filename').text(fileName);
                var preview = $(event.target).parent().siblings('#preview_image')[0];
                preview.src = URL.createObjectURL(file);
                if($(event.target).parent().siblings('#deleteImage').length === 0) {
                    $(event.target).parent().before('<span id="deleteImage" onclick="deleteLocalImage(event)">删除图片</span>');
                }
            }
        }
        o.addFile = addFile;
        o.deleteFile = deleteFile;
        o.localLoadImage = localLoadImage;
        o.deleteLocalImage = deleteLocalImage;
        o.getContent = getContent;
        (function(){
            $('.edit').load('/get_sender_template/image_text');
        }());
    }(window, jQuery));
</script>
{{ include('LycheeWebsiteBundle:Vip:logoutjs.html.twig') }}
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>