<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/style.min.css') }}">
  <title>个人资料 - VIP用户平台</title>
  <style type="text/css">
    body {
      background-color: #f9f9f9;
      background-image: url({{ asset('bundles/lycheewebsite/home/images/homepage_bg.png') }});
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
    .theme-background-color {
      background-color: #24c7fc;
    }
    .theme-color {
      color: #24c7fc;
    }
    .post .link:after,
    .post .schedule:after,
    .post .vote:after {
      background-color: #24c7fc;
    }
    .full-text:after {
      color: #24c7fc;
    }
  </style>
</head>
<body>
  {{ include('LycheeWebsiteBundle:Vip:header.html.twig') }}
  <div class="user-info">
    {{ include('LycheeWebsiteBundle:Vip:navigation.html.twig') }}
    <div class="u-info">
      <div class="avatar">
        <img src="{{ user.avatarUrl|resizeImage(110, 0) }}">
      </div>
      <div class="detail">
        <div class="name">{{ user.nickname }}</div>
        <div class="desc">{{ user.signature }}</div>
        <div class="base-info">
          <span class="address">{{ profile.location }}</span>
          <span class="sex">{{ user.gender == 1? '男':'女' }}</span>
          <span class="age">{{ profile.age }}岁</span>
        </div>
        <div class="honmei">本命<span>{{ profile.honmei }}</span></div>
      </div>
      <div class="popularity">
        <div class="follow">
          <span>关注</span>
          <span class="count">{{ followeeCount }}</span>
        </div>
        <div class="fans-count">
          <span>粉丝</span>
          <span class="count">{{ followerCount }}</span>
        </div>
      </div>
    </div>
    <div class="myposts">
      <div class="title-head">我的帖子</div>
      <ul class="post-container">
      </ul>
        <a class="load-more loading" onclick="loadMore()">
          点击加载更多
        </a>
        <a class="return-top" onclick="returnToTop()">回到顶部</a>
      </div>

    </div>
  </div>
  {% javascripts '@LycheeWebsiteBundle/Resources/public/jquery-2.1.4.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% javascripts '@LycheeWebsiteBundle/Resources/public/vip/js/handlebars.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% raw %}
  <script id="one-template" type="text/x-handlebars-template">
    <li class="post">
      <div class="author">
        <div class="-avatar">
          <img src="{{author.avatar_url}}" alt="">
        </div>
        {{#ifo author.certificate}}
          <div class="i_verified">
            <img src="/bundles/lycheewebsite/home/images/i_verified.png">
          </div>
        {{/ifo}}
        <div class="-name">{{author.nickname}}</div>
        <div class="level {{author.level_bg}}">{{author.level}}</div>
      </div>
      <div class="time">{{create_time}}</div>
      <a href="http://www.ciyo.cn/posts/{{id}}/share">
        <div class="desc">
          <p>{{content}}</p>
        </div>
        {{#if type 'video'}}
          <div class="video">
            <img src="{{annotation.video_cover}}" alt="">
          </div>
        {{/if}}
        {{#if type 'picture'}}
          {{#list annotation.multi_photos}}{{/list}}
        {{/if}}
        {{#if type 'voting'}}
          <div class="vote">
            <div class="title">{{voting.title}}</div>
            <div class="state theme-color">投票进行中</div>
            <div class="joiner-count"><b>{{voting.vote_count}}</b>人参加</div>
          </div>
        {{/if}}
        {{#if type 'schedule'}}
          <div class="schedule">
            <div class="title">{{schedule.name}}</div>
            <div class="-time theme-color">时间：<b>{{schedule.start_time}}</b></div>
            <div class="joiner-count"><b>{{schedule.joiner_count}}</b>人参加</div>
          </div>
        {{/if}}
        {{#if type 'resource'}}
          <div class="link">
            <div class="title">{{annotation.resource_title}}</div>
          </div>
        {{/if}}
        <div class="from-topic">
          <span class="theme-background-color" style="background-color: #{{topic.color}}">{{topic.title}}</span>
        </div>
        <div class="share"></div>
        <div class="like"><span>{{liked_count}}</span></div>
        <div class="comment"><span>{{commented_count}}</span></div>
      </a>
    </li>
  </script>
  {% endraw %}
<script type="text/javascript">
  (function(o, $) {
    function addPostDescOverflowClas() {
      var pList = document.querySelectorAll('.post .desc p');
      var bodyWidth = document.body.clientWidth;
      var pMaxHeight = 63, minHeight = 98;
      if (bodyWidth > 1600) {
        pMaxHeight = 84;
        minHeight = 124;
      }
      for (var i = 0; i < pList.length; i++) {

        if (pList[i].offsetHeight > pMaxHeight) {
          pList[i].className = "desc-overflow";
          pList[i].parentNode.style.minHeight = minHeight + 'px';
          pList[i].parentNode.className = pList[i].parentNode.className + ' full-text';
        }
      }
    }
    function adjustSingleImageSize() {
      function adjustImageSize(img) {
        if (img.naturalWidth <= 0) {
          img.onload = function(){adjustImageSize(img);};
          return;
        }

        var parent = img.parentElement;
        if (img.naturalWidth > parent.clientWidth &&
            img.clientHeight < parent.clientHeight) {
          parent.style.paddingTop = img.clientHeight + 'px';
        }
        else if (img.naturalWidth < parent.clientWidth) {
          parent.style.width = img.naturalWidth + 'px';
          if (img.clientHeight < parent.clientHeight) {
            parent.style.paddingTop = img.clientHeight + 'px';
          }
        }
        else {
          // 按照css的默认样式显示图片
        }
      }

      var images = document.querySelectorAll('.images li:only-child img');
      for (var i = 0; i < images.length; i++) {
        adjustImageSize(images[i]);
      }
    }
    function adjustMutipleImageSize() {
      function adjustEachImageSize(img) {
        if (img.naturalWidth <= 0) {
          img.onload = function(){adjustEachImageSize(img);};
          return;
        }
        var parent = img.parentElement;

        if (img.naturalWidth > img.naturalHeight) {
          img.style.width = "auto";
          img.style.height = "100%";
        }
        else if(img.naturalWidth < img.naturalHeight) {
          img.style.width = "100%";
          img.style.height = "auto";
        }
        else {
          //按默认宽高100%
        }
      }

      var images = document.querySelectorAll('.images li:not(:only-child) img');
      for (var i = 0; i < images.length; i++) {
        adjustEachImageSize(images[i]);
      }
    }

    Handlebars.registerHelper('list', function(items, options) {
      if (typeof(items) === "undefined" || items.length === 0) {
        return;
      }
      var out = '<ul class="images">';

      for(var i=0, l=items.length; i<l; i++) {
        out = out + '<li><img src="' + items[i] + '" alt=""/></li>';
      }
      return out + '</ul>';
    });
    Handlebars.registerHelper('if', function(v1, v2, options) {
      if(v1 === v2) {
        return options.fn(this);
      }
    });
    Handlebars.registerHelper('ifo', function(v1, options) {
      if (typeof(v1) === 'undefined') {
        console.log(typeof(v1));
        return;
      }
      return options.fn(this);
    });

  function getData(callback) {
    $.ajax({
      type: "GET",
      url: nextUrl,
      dataType: "json",
      success: function(data) {
        if (callback !== undefined) {
          callback.call(this, data);
        }
      },
      error: function(data) {
        console.error(data);
      }
    });
  }
  function setTime(time) {
    var now = new Date().getTime();
    var postTime = new Date(time * 1000);
    var hour = postTime.getHours() < 10 ? "0" + postTime.getHours() : postTime.getHours();
    var minute = postTime.getMinutes() < 10 ? "0" + postTime.getMinutes() : postTime.getMinutes();
    var month = (postTime.getMonth() + 1) < 10 ? "0" + (postTime.getMonth() + 1) : (postTime.getMonth() + 1);
    var day = postTime.getDate() < 10 ? "0" + postTime.getDate() : postTime.getDate();
    var diffT = Math.abs(now - time*1000);
    var diffMinute = parseInt(diffT / (1000*60));
    var diffDay = parseInt(diffT / (1000*60*60*24));
    var diffYear = parseInt(diffT / (1000*60*60*24*365));
    if (diffMinute === 0) {
      return "刚刚";
    }
    if (diffMinute >= 1 && diffMinute < 59) {
      return diffMinute + "分钟前";
    }
    if (diffMinute >= 60 && diffDay === 0) {
      return "今天 " + hour + ":" + minute;
    }
    if (diffMinute >= 60 && diffDay === 1) {
      return "昨天 " + hour + ":" + minute;
    }
    if (diffDay >= 2 && diffYear === 0) {
      return month + "月" + day + "日 " + hour + ":" + minute;
    }
    if (diffYear >= 1) {
      return postTime.getFullYear() + "年" + month + "月" + day + "日";
    }
  }
  function setScheduleTime(time) {
    var startTime = new Date(time);
    var year = startTime.getFullYear();
    var month = (startTime.getMonth() + 1) < 10 ? "0" + (startTime.getMonth() + 1) : (startTime.getMonth() + 1);
    var day = startTime.getDate() < 10 ? "0" + startTime.getDate() : startTime.getDate();
    return year + "年" + month + "月" + day + "日";
  }
  function addloading() {
    document.getElementsByClassName('load-more')[0].textContent = '';
    document.getElementsByClassName('load-more')[0].classList.add('loading');
  }
  function removeloading() {
    document.getElementsByClassName('load-more')[0].classList.remove('loading');
    document.getElementsByClassName('load-more')[0].textContent = '点击加载更多';

  }
    function setLevelBg(level) {
      if (level >=1 && level <= 2) {
        return "cloud-gray";
      }
      else if (level >=3 && level <= 5) {
        return "star-gray";
      }
      else if (level >=6 && level <= 8) {
        return "star-silver";
      }
      else if (level >=9 && level <= 12) {
        return "moon-gray";
      }
      else if (level >=13 && level <= 16) {
        return "moon-silver";
      }
      else if (level >=17 && level <= 20) {
        return "moon-golden";
      }
      else if (level >=21 && level <= 25) {
        return "sun-gray";
      }
      else if (level >=26 && level <= 30) {
        return "sun-silver";
      }
      else if (level >=31 && level <= 35) {
        return "sun-silver";
      }
      else if (level >= 36) {
        return "sun-purple";
      }
      else {
        return "cloud-gray";
      }
    }
  function setTemplate(data) {
    var contexts = data.data;
    nextUrl = '/fetch_posts/' + data.nextCursor;
    for (var j = 0; j < contexts.length; j++) {
      var context = contexts[j];
      context.create_time = setTime(context.create_time);
      context.author.level_bg = setLevelBg(context.author.level);
      if (context.type === 'schedule') {
        context.schedule.start_time = setScheduleTime(context.schedule.start_time);
      }
      var html = template(context);
      $('.post-container').append(html);
    }
      addPostDescOverflowClas();
      adjustSingleImageSize();
      adjustMutipleImageSize();
      loading = false;
      removeloading();
  }
    function loadMore() {
      if (!loading && nextUrl != '0') {
        loading = true;
        addloading();
        getData(setTemplate);
      }
      if (nextUrl == '0') {
        document.getElementsByClassName('load-more')[0].textContent = '已无更多内容';
      }
    }
  function returnToTop() {
    $('body'). animate({scrollTop: 0}, 'slow');
  }
  var source   = $("#one-template").html();
  var template = Handlebars.compile(source);
//  var nextUrl = 'data/post_data.json';
  var nextUrl = '/fetch_posts/0';
  var loading = false;
  if (!loading) {
    loading = true;
    addloading();
    getData(setTemplate);
  }
  o.loadMore = loadMore;
  o.returnToTop = returnToTop;
  o.onscroll = function() {
    if ($("body").scrollTop() > 500) {
      $(".return-top").show();
    }
    else {
      $(".return-top").hide();
    }
  };
  }(window, jQuery));

</script>
{{ include('LycheeWebsiteBundle:Vip:logoutjs.html.twig') }}
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>
