{% extends 'LycheeAdminBundle:ContentAudit:layout.html.twig' %}
{% import 'LycheeAdminBundle::helper.html.twig' as helper %}

{% block body %}
    <div class="content-audit">
        <div id="container" style="margin-top: auto;"></div>
        <div class="all-loaded"><p class="bg-info">全部载入完毕</p></div>
    </div>
    {{ helper.tagForm(tags) }}
    {% javascripts filter='?jsqueeze' output='js/contentaudit.js'
    '@LycheeAdminBundle/Resources/public/bootstrap/js/bootstrap.js'
    '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js'
    '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js'
    '@LycheeAdminBundle/Resources/public/js/datepicker.js'
    '@LycheeAdminBundle/Resources/public/js/handlebars-v2.0.0.js'
    '@LycheeAdminBundle/Resources/public/js/waterfall.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            var $container = $("#container");
            var $setTag = $('#set_tag');
            var containerWidth = $('#container').width();
            var cardGutter = 15;
            var cardWidth = 240;
            console.log($(window).width());
            if ($(window).width() < 768) {
                cardGutter = 5;
                cardWidth = containerWidth / 2 - 2 * cardGutter;
                $('body').append("<style>.card{width: " + cardWidth + "px !important;}</style>");
            }

            $container.waterfall({
                itemCls: 'card',
                dataType: 'json',
                colWidth: cardWidth,
                gutterWidth: cardGutter,
                gutterHeight: cardGutter,
                path: function(cursor) {
                    var urlPrefix = '/audit/load_porn_audit/';

                    cursor = $(".card").last().find(".audit_id").eq(0).val();
                    if (typeof cursor === 'undefined') {
                        cursor = 0;
                    }

                    return urlPrefix + cursor;
                },
                callbacks: {
                    renderData: function (data, dataType) {
                        var tpl, template;

                        if ('json' === dataType) {
                            if (data.total > 0) {
                                tpl = $('#waterfall-tpl').html();
                                template = Handlebars.compile(tpl);

                                return template(data);
                            } else {
                                $container.waterfall("pause", function() {
                                    $(".all-loaded").show();
                                });
                            }
                        } else {
                            return data;
                        }
                    }
                }
            });

            $setTag.on('hidden.bs.modal', function () {
                $('.tag-selector').prop('checked', false);
            });
            var $tagSelector = $('.tag-selector');
            $('#tag_submit_btn').click(function() {
                var tagIds = [];
                var $selectedTags = $tagSelector.filter(':checked');
                for (var i in $selectedTags) {
                    tagIds.push($selectedTags.eq(i).val());
                }
                $.ajax("{{ path('lychee_admin_contentmanagement_addposttotag') }}", {
                    type: 'post',
                    dataType: 'json',
                    data: {
                        post_id: $('#tag_post_id').val(),
                        tag_ids: tagIds
                    },
                    success: function() {
                        $setTag.modal('hide');
                    }
                });
                return false;
            });
        });

        function delPost(target) {
            var $targetCard = $(target).parent().parent();
            if ($targetCard.hasClass('post-content')) {
                $targetCard = $targetCard.parent().parent();
            }
            var postId = $(target).data("id");
            var $img = $(target).parent().prev().find('img.image');
            var imgUrl = '';
            if (!confirm("（！！！危险操作）确定删除（删除后数据不可恢复）？")) {
                return false;
            }
            if ($img.length > 0) {
                imgUrl = $img.eq(0).attr('src');
            }
            $targetCard.addClass('card-deleted');
            $.ajax("{{ path('lychee_admin_contentaudit_deletecontent') }}", {
                type: "POST",
                dataType: "json",
                data: {
                    post_id: postId,
                    img_url: imgUrl
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    if (errorThrown) {
                        alert(errorThrown);
                    } else {
                        alert("发生未知错误");
                    }
                },
                success: function() {
                    $targetCard.find(".operation button").attr("disabled", "disabled");
                }
            });
        }

        function legalPost(target) {
            var postId = $(target).data('id');
            var $targetCard = $(target).parent().parent();
            if ($targetCard.hasClass('post-content')) {
                $targetCard = $targetCard.parent().parent();
            }
            if (confirm("请确定这篇帖子和相应的图片都是合法的？")) {
                $.ajax("{{ path('lychee_admin_contentaudit_legalpost') }}", {
                    type: "POST",
                    dataType: "json",
                    data: {
                        post_id: postId
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown) {
                            alert(errorThrown);
                        } else {
                            alert("发生未知错误");
                        }
                    },
                    success: function() {
                        $targetCard.addClass('card-deleted');
                        $targetCard.find(".operation button").attr("disabled", "disabled");
                    }
                });
            }
            return false;
        }

        function switchFavor(target) {
            var postType = $('#type').val();
            var postId = $(target).data("id");
            var notFavor = $(target).find('.glyphicon-heart-empty').length;
            if (notFavor) {
                $('#tag_post_id').val(postId);
                $('#set_tag').modal('show');
            }
            if (notFavor && 3 == postType) { // 折叠帖子
                if (!confirm('收藏折叠帖子的同时会恢复帖子，确认继续吗？')) {
                    return false;
                }
            }
            $.ajax("{{ path('lychee_admin_contentmanagement_togglepostfavor') }}", {
                type: "post",
                dataType: "json",
                data: {
                    type: postType,
                    id: postId
                },
                success: function(data) {
                    if ("undefined" !== typeof data.deleted) {
                        var $btns = $(".card-" + postId + " button.favor span.glyphicon");
                        $btns.toggleClass('glyphicon-heart-empty glyphicon-heart');
                    }
                }
            });
        }
        function unfold(target) {
            var id = $(target).data('id');
            var $postCard = $('.card-' + id);
            if (confirm('确定恢复该折叠帖子？')) {
                $postCard.addClass('card-deleted');
                $.ajax("{{ path('lychee_admin_contentmanagement_postunfold') }}", {
                    type: "post",
                    dataType: "json",
                    data: {
                        id: id
                    },
                    success: function() {
                        $postCard.find(".operation button").attr("disabled", "disabled");
                    }
                });
            }
            return false;
        }
        function hoverCard(id) {
            var $cards = $('.card-' + id);
            $cards.addClass('card-hover');
        }
        function normalCard(id) {
            var $cards = $('.card-' + id);
            $cards.removeClass('card-hover');
        }
    </script>
    <script id="waterfall-tpl" type="text/x-handlebars-template">
        {% raw %}
            {{#result}}
            <div class="card card-{{id}}" onmouseover="hoverCard({{id}})" onmouseout="normalCard({{id}})">
                <input type="hidden" class="post_id" value="{{id}}"/>
                <input type="hidden" class="audit_id" value="{{audit_id}}"/>
                <div class="content">
                    {{#if imageUrl}}
                    <img class="image" src="{{imageUrl}}" alt="无图" onclick="showPostDetail(this)" data-post-id="{{id}}">
                    {{else}}
                    <div class="post-content">
                        <div>
                            <a class="card-link" href="/topic/detail/{{topicId}}" target="_blank">
                                <span class="glyphicon glyphicon-tag"></span>
                                {{topicName}}
                            </a>
                        </div>
                        <div>
                            <a class="card-link" href="/user_management/detail/{{authorId}}" target="_blank">
                                <span class="glyphicon glyphicon-user"></span>
                                {{#if authorName}}{{authorName}}{{else}}[{{authorId}}]{{/if}}
                            </a>
                        </div>
                        {{#if type}}
                        <div>
                            <span class="label label-primary">{{type}}</span>
                        </div>
                        {{/if}}
                        <p>{{{content}}}</p>
                        <div>
                            <button class="btn btn-default favor" data-id="{{id}}" onclick="switchFavor(this)">
                                {{#if favor}}
                                <span class="glyphicon glyphicon-heart"></span>
                                {{else}}
                                <span class="glyphicon glyphicon-heart-empty"></span>
                                {{/if}}
                            </button>
                            <a class="btn btn-default" href="/audit/post/{{id}}" target="_blank">详情</a>
                            {{#if link}}
                            <a class="btn btn-default" href="{{link}}" target="_blank">链接</a>
                            {{/if}}
                            <button class="btn btn-danger" data-id="{{id}}" onclick="delPost(this)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button class="btn btn-success" data-id="{{id}}" onclick="legalPost(this)">非色情</button>
                            <button class="btn btn-default folded-post" data-id="{{id}}" onclick="unfold(this)">恢复</button>
                            {{#if imageUrl}}
                            <p class="content-in-operation">{{content}}</p>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                    {{#if deleted}}
                    <div class="post-deleted">
                        <span class="glyphicon glyphicon-trash"></span>
                    </div>
                    {{/if}}
                </div>
                {{#if imageUrl}}
                <div class="operation">
                    <button class="btn btn-default favor" data-id="{{id}}" onclick="switchFavor(this)">
                        {{#if favor}}
                            <span class="glyphicon glyphicon-heart"></span>
                        {{else}}
                            <span class="glyphicon glyphicon-heart-empty"></span>
                        {{/if}}
                    </button>
                    <a class="btn btn-default" href="/audit/post/{{id}}" target="_blank">详情</a>
                    {{#if link}}
                        <a class="btn btn-default" href="{{link}}" target="_blank">链接</a>
                    {{/if}}
                    <button class="btn btn-danger" data-id="{{id}}" onclick="delPost(this)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button class="btn btn-success" data-id="{{id}}" onclick="legalPost(this)">非色情</button>
                    <button class="btn btn-default folded-post" data-id="{{id}}" onclick="unfold(this)">恢复</button>
                    {{#if imageUrl}}
                    <p class="content-in-operation">{{content}}</p>
                    {{/if}}
                </div>
                {{/if}}
            </div>
            {{/result}}
        {% endraw %}
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% if type is not defined or type != constant('Lychee\\Bundle\\AdminBundle\\Controller\\ContentAuditController::TYPE_FOLDED') %}
        <style>
            .folded-post {display: none;}
        </style>
    {% endif %}
{% endblock %}