{% extends 'LycheeAdminBundle:ContentAudit:layout.html.twig' %}

{% block body %}
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label for="date">时间段: </label>
                <input type="text" class="form-control datepicker" id="date" name="date" value="{{ date }}">
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
        </form>
    </div>
    <input type="hidden" id="last_review_id" value="0">
    <div id="container"></div>
    <div class="all-loaded"><p class="bg-info">全部载入完毕</p></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        #container {
            margin-top: 20px;
        }
        .card {
            width: 120px;
            border: 1px solid #e5e5e5;
        }
        .card img {
            display: block;
            vertical-align: bottom;
            width: 100%;
        }
        .card-info {
            line-height: 1.5;
            font-size: 12px;
            border-top: 1px solid #e5e5e5;
            padding: 0 2%;
        }
        .all-loaded {
            display: none;
            text-align: center;
            font-size: 12px;
            line-height: 1.5;
        }
        .deleted-img {
            opacity: 0.3;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?jsqueeze' output='js/img_review.js'
    '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js'
    '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js'
    '@LycheeAdminBundle/Resources/public/js/handlebars-v2.0.0.js'
    '@LycheeAdminBundle/Resources/public/js/waterfall.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script id="waterfall-tpl" type="text/x-handlebars-template">
        {% raw %}
            {{#result}}
                <div class="card" title="{{title}}" data-id="{{id}}">
                    <img src="{{image}}" alt="" />
                    <div class="card-info">
                        <a href="review_source_detail/{{id}}" target="_blank">{{last_review_time}}</a>
                        <a class="pull-right" href="javascript:void(0);" data-id="{{id}}" onclick="recover_img(this);">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            {{/result}}
        {% endraw %}
    </script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datetimepicker({
                format: "yyyy-mm-dd",
                language: "zh-CN",
                todayHighlight: true,
                endDate: new Date(),
                autoclose: true,
                minView: 'month'
            });
            var $date = $('#date');
            var $container = $('#container');
            var $lastReviewId = $('#last_review_id');
            $container.waterfall({
                itemCls: 'card',
                dataType: 'json',
                colWidth: 120,
                gutterWidth: 10,
                gutterHeight: 10,
                path: function() {
                    var dateStr = $date.val();
                    var cursor = $lastReviewId.val();

                    return "fetch_reject_reviewed_img?date=" + dateStr + "&cursor=" + cursor;
                },
                callbacks: {
                    renderData: function (data, dataType) {
                        var tpl, template;

                        if ('json' === dataType) {
                            if (data.total > 0) {
                                $lastReviewId.val(data.result[data.total - 1].id);
                                tpl = $('#waterfall-tpl').html();
                                template = Handlebars.compile(tpl);

                                return template(data);
                            } else {
                                $container.waterfall("pause", function() {
                                    $(".all-loaded").show();
                                });
                            }
                        } else {
                            return data;
                        }
                    }
                }
            });

        });
        function recover_img(that) {
            var id = $(that).data('id');
            $.ajax('{{ path("lychee_admin_contentaudit_recoverimgreview") }}', {
                type: "post",
                dataType: "json",
                data: {
                    id: id
                },
                success: function() {
                    $(that).parent().parent().addClass('deleted-img');
                    $(that).removeAttr('onclick');
                }
            });

            return false;
        }
    </script>
{% endblock %}