{% extends 'LycheeAdminBundle:ContentAudit:layout.html.twig' %}

{% block body %}
    <div>
        <div>
            <img src="{{ imageReview.image|resizeImage(150, 0) }}" alt="" class="center-block">
        </div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">用户头像</a></li>
        </ul>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>用户ID</th>
                    <th>用户昵称</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% for u in users %}
                    <tr>
                        <td>
                            <a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: u.id}) }}" target="_blank">
                                {{ u.id }}
                            </a>
                        </td>
                        <td>{{ u.nickname }}</td>
                        <td>{{ u.createTime|date("Y-m-d H:i:s") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">次元封面</a></li>
        </ul>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>次元ID</th>
                    <th>用户</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% for t in topics %}
                    <tr>
                        <td>
                            <a href="{{ path('lychee_admin_topic_detail', {topicId: t.id}) }}" target="_blank">
                                {{ t.id }}
                            </a>
                        </td>
                        <td>
                            [<a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: t.creatorId}) }}" target="_blank">{{ t.creatorId }}</a>]
                            <span>{{ creators[t.creatorId].nickname }}</span>
                        </td>
                        <td>{{ t.createTime|date("Y-m-d H:i:s") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">帖子图片</a></li>
        </ul>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>帖子ID</th>
                        <th>用户</th>
                        <th>创建时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in posts %}
                        <tr>
                            <td>
                                <a href="{{ path('lychee_admin_contentaudit_postdetail', {'id': p.id}) }}" target="_blank">{{ p.id }}</a>
                            </td>
                            <td>
                                [<a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: p.authorId}) }}" target="_blank">{{ p.authorId }}</a>]
                                <span>{{ creators[p.authorId].nickname }}</span>
                            </td>
                            <td>{{ p.createTime|date("Y-m-d H:i:s") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}