{% extends 'LycheeAdminBundle:ContentAudit:layout.html.twig' %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>名称</th>
                <th>封面</th>
                <th>简介</th>
                <th>领主</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for topic in topics %}
                {% set user = users[topic.managerId] %}
                <tr class="{{ topic.deleted? 'danger' }}">
                    <td>
                        [{{ topic.id }}]
                        <a href="{{ path('lychee_admin_topic_index', {query: topic.id}) }}">{{ topic.title }}</a>
                    </td>
                    <td><img alt="{{ topic.id }}" data-src="{{ topic.indexImageUrl }}" class=""></td>
                    <td>{{ topic.description }}</td>
                    <td>
                        [{{ user.id }}]
                        <a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: user.id}) }}">{{ user.nickname }}</a>
                    </td>
                    <td>{{ topic.createTime|date('Y-m-d H:i:s') }}</td>
                    <td>
                        {% if topic.deleted == 0 %}
                            <button type="button" class="btn btn-danger topic-delete" data-tid="{{ topic.id }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            <li>
                <a href="{{ path('lychee_admin_contentaudit_topic', {cursor: prevCursor}) }}" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            <li>
                <a href="{{ path('lychee_admin_contentaudit_topic', {cursor: nextCursor, prev_cursor: cursor}) }}"
                   aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block stylesheets %}
    <style>
        tr.danger {
            opacity: 0.5;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('img').each(function() {
                var src = $(this).data('src');
                console.log($(this).attr('src'));
                if (src && !$(this).attr('src')) {
                    $(this).attr('src', src);
                }
            });
            $('.topic-delete').click(function() {
                if (confirm('（危险操作）确定删除？')) {
                    var $form = $('<form></form>');
                    $form.attr('method', 'post');
                    $form.attr('action', '{{ path("lychee_admin_contentaudit_deletetopic") }}');
                    $form.append('<input type="hidden" name="tid" value="' + $(this).data('tid') + '">');
                    $('body').append($form);
                    $form.submit();
                }

                return false;
            });
        });
    </script>
{% endblock %}