{% extends 'LycheeAdminBundle:Ad:layout.html.twig' %}

{% block body %}
    <div>
        {% if minAppLaunchImage is null %}
            <div class="alert alert-warning" role="alert">
                目前没有设置启动页！
                <a href="{{ path('lychee_admin_ad_launchimage') }}">
                    <span class="glyphicon glyphicon-open"></span>立即上传
                </a>
            </div>
        {% else %}
            <div class="col-md-6">
                <h3>当前启动页</h3>
                <p class="pull-right"><img src="{{ minAppLaunchImage.getUrl }}" alt="当前启动页"></p>
                <p>所有尺寸:</p>
                <div>
                    {% for size in allImagesSize %}
                        <p>{{ size.width }}x{{ size.height }}</p>
                    {% endfor %}
                </div>
                <div><a href="{{ path('lychee_admin_ad_launchimage') }}" class="btn btn-info">更换图片</a></div>
            </div>
        {% endif %}
    </div>
{% endblock %}