{% extends 'LycheeAdminBundle:PostManager:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        th { text-align: center; }
        a.operation { white-space: nowrap; }
    </style>
{% endblock %}

{% block bodyInner %}

    <div class="clearfix">
        <form class="form-inline">
            <div class="form-group">
                <label for="date">发帖时间: </label>
                <input type="text" class="form-control datepicker"  data-date-view="day" data-date-format="yyyy-mm-dd" name="query[date]" value="{{ query.date }}">
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
            <button type="button" class="btn btn-warning" id="batch_reject_undelete">批量安卓通过</button>
            <button type="button" class="btn btn-danger" id="batch_reject">批量删除</button>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select_all" />全选</th>
                    <th>ID</th>
                    <th>用户</th>
                    <th>{{ topic_name }}</th>
                    <th>创建时间</th>
                    <th>内容</th>
                    <th>图片</th>
                    <th>视频</th>
                    <th>音频</th>
                    <th>网页</th>
                    <th><span class="glyphicon glyphicon-wrench"></span></th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td><input type="checkbox"  class="check-record"  data-id="{{ post.id }}"  /></td>
                        <td>
                            <a href="{{ path('lychee_admin_postmanager_detail', {id: post.id}) }}" target="_blank">
                                {{ post.id }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('lychee_admin_usermanagement_index', {query: post.authorId}) }}" target="_blank">
                                {{ authors[post.authorId].nickname }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('lychee_admin_topic_detail', {topicId: post.topicId}) }}" target="_blank">
                                {{ topics[post.topicId].title }}
                            </a>
                        </td>
                        <td>{{ post.createTime|date('Y-m-d H:i') }}</td>
                        <td>{{ post.content }}</td>
                        <td>
                            {% if post.imageUrl is not empty %}
                            <img src="{{ post.imageUrl }}" style="max-width: 80px; max-height: 80px;"/>
                            {% endif %}
                        </td>
                        <td><a href="{{ post.videoUrl }}" target="_blank">{{ post.videoUrl }}</a></td>
                        <td><a href="{{ post.audioUrl }}" target="_blank">{{ post.audioUrl }}</a></td>
                        <td><a href="{{ post.siteUrl }}" target="_blank">{{ post.siteUrl }}</a></td>
                        <td>
                            <button type="button" class="btn btn-info nopass-audit-undelete" data-id="{{ post.id }}" >
                                <span class="glyphicon glyphicon-ok"></span>仅安卓通过
                            </button>
                            <button type="button" class="btn btn-danger nopass-audit" data-id="{{ post.id }}" >
                                <span class="glyphicon glyphicon-remove"></span>删除
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% import 'LycheeAdminBundle::helper.html.twig' as helper %}
    {% if paginator is not null %}
        {{ helper.newpage(paginator, app.request.get('_route'), query) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' output='js/passed_audit_posts.js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js'
        '@LycheeAdminBundle/Resources/public/js/datepicker.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {

        function passAudit(ids) {
          $.post("{{ path('lychee_admin_postmanager_passaudit') }}", {
                ids: ids
            }, function(data) {
                if (data.result == true) {
                    window.location.reload();
                }
            });
        }

        function rejectAudit(ids) {

          $.post("{{ path('lychee_admin_postmanager_rejectaudit') }}", {
                ids: ids
            }, function(data) {
                if (data.result == true) {
                    window.location.reload();
                }
            });
        }

        function rejectAuditUndelete(ids) {

          $.post("{{ path('lychee_admin_postmanager_rejectauditundelete') }}", {
                ids: ids
            }, function(data) {
                if (data.result == true) {
                    window.location.reload();
                }
            });
        }

            $('#select_all').change(function () {
                var ischeck = $(this).is(":checked");
                if (ischeck) {
                    $('.table input[type="checkbox"]').each(function () {
                        if (!$(this).is(":checked")) {
                            $(this).prop('checked', true)
                        }
                    });
                }
                else {
                    $('.table input[type="checkbox"]').each(function () {
                        if ($(this).is(":checked")) {
                            $(this).prop('checked', false)
                        }
                    });
                }
            });
            $('#batch_confirm').click(function () {
                var ids = [];
                $('.check-record').filter(':checked').each(function(index, item) {
                    ids.push($(item).data('id'));
                });
                if (ids.length <= 0) {
                    alert('没有勾选任何项目.');
                    return false;
                }
                passAudit(ids);
            });
            $('#batch_reject').click(function () {
                if (confirm('确定批量删除?')) {
                    var ids = [];
                    $('.check-record').filter(':checked').each(function(index, item) {
                        ids.push($(item).data('id'));
                    });
                    if (ids.length <= 0) {
                        alert('没有勾选任何项目.');
                        return false;
                    }
                    rejectAudit(ids);
                }
            });

            $('#batch_reject_undelete').click(function () {

                var ids = [];
                $('.check-record').filter(':checked').each(function(index, item) {
                    ids.push($(item).data('id'));
                });
                if (ids.length <= 0) {
                    alert('没有勾选任何项目.');
                    return false;
                }
                rejectAuditUndelete(ids);

            });

            $('.pass-audit').click(function () {
                var ids = [];
                ids.push($(this).data('id'));
                passAudit(ids);
            });


            $('.nopass-audit').click(function () {
                if (confirm('确定删除?')) {
                    var ids = [];
                    ids.push($(this).data('id'));
                    rejectAudit(ids);
                }
            });


            $('.nopass-audit-undelete').click(function () {
                if (confirm('确定仅安卓通过?')) {
                    var ids = [];
                    ids.push($(this).data('id'));
                    rejectAuditUndelete(ids);
                }
            });
        });

    </script>
{% endblock %}