{% extends 'LycheeAdminBundle:Game:layout.html.twig' %}

{% block body %}
    <a href="{{ path('lychee_admin_game_create') }}" id="create_app_btn" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>应用ID</th>
                <th>应用名称</th>
                <th>Icon</th>
                <th>一句话描述</th>
                <th>描述</th>
                <th>应用类型</th>
                <th>发行商</th>
                <th>玩家人数</th>
                <th>iOS大小</th>
                <th>Android大小</th>
                <th>iOS链接</th>
                <th>Android链接</th>
                <th>截图</th>
                <th>详情链接</th>
                <th>上线日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for application in apps %}
                <tr>
                    <td>{{ application.id }}</td>
                    <td>{{ application.appName }}</td>
                    <td><img src="{{ application.icon }}" alt="{{ application.appName }}" width="44px"/></td>
                    <td>{{ application.shortDescription }}</td>
                    <td>{{ application.description }}</td>
                    <td>{{ application.appType }}</td>
                    <td>{{ application.publisher }}</td>
                    <td>{{ application.playerNumbers }}</td>
                    <td>{{ application.iosSize }}MB</td>
                    <td>{{ application.androidSize }}MB</td>
                    <td><a href="{{ application.iosLink }}">{{ application.iosLink }}</a></td>
                    <td><a href="{{ application.androidLink }}">{{ application.androidLink }}</a></td>
                    <td>
                    {% if application.screenshots is not empty %}
                        {% for screenshot in application.screenshots %}
                            <img src="{{ screenshot }}" alt="" width="120px"/>
                        {% endfor %}
                    {% endif %}
                    </td>
                    <td>
                        {% set link = 'http://api.ciyo.cn/app/web?id=' ~ application.id %}
                        <a href="{{ link }}" target="_blank">{{ link }}</a>
                    </td>
                    <td>{{ application.launchDate | date('Y-m-d H:i') }}</td>
                    <td>
                        <a class="btn btn-default"
                           href="{{ path('lychee_admin_game_detail', {id: application.id}) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <button class="btn btn-danger delete-app"
                                data-app-id="{{ application.id }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@fileinput_css' filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        .nav-tabs { margin-bottom: 10px; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@fileinput_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            var fileinputConfig = {
                allowedFileTypes: ['image'],
                showUpload: false
            };
            $(".icon, .banner, .screenshots").fileinput(fileinputConfig);
            $("#add_screenshot").on("click", function() {
                var $fileUpload = $('<input type="file" class="form-control screenshots" name="screenshots[]">');
                $(this).before($fileUpload);
                $fileUpload.fileinput(fileinputConfig);

                return false;
            });
            $("button[type=submit]").click(function () {
                if (!$("#icon").val()) {
                    alert("请上传图标");
                    return false;
                }
            });
            $(".delete-app").click(function () {
                if (confirm("确认删除？")) {
                    var $form = $('<form></form>');
                    $form.attr("action", "{{ path('lychee_admin_game_deletegame') }}");
                    $form.attr("method", "post");
                    $form.append('<input type="hidden", name="app_id" value="' + $(this).data('app-id') + '">');
                    $("body").append($form);
                    $form.submit();
                }

                return false;
            });
            $('#launch_date').datetimepicker({
                format: 'yyyy-mm-dd',
//                minView: 'month',
                autoclose: true
            });
        });
    </script>
{% endblock %}
