{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    {% set routerOfGame = 'lychee_admin_game_index' %}
    <li class="{% if app.request.get('_route') == routerOfGame %}active{% endif %}">
        <a href="{{ path(routerOfGame) }}">游戏应用</a>
    </li>
    {% set routerOfGame = 'lychee_admin_game_category' %}
    <li class="{% if app.request.get('_route') == routerOfGame %}active{% endif %}">
        <a href="{{ path(routerOfGame) }}">游戏分类</a>
    </li>
    {% set routerOfGame = 'lychee_admin_game_column' %}
    <li class="{% if app.request.get('_route') == routerOfGame %}active{% endif %}">
        <a href="{{ path(routerOfGame) }}">游戏栏目</a>
    </li>
    {% set routerOfGame = 'lychee_admin_game_gamecolumnrecommendation' %}
    <li class="{% if app.request.get('_route') == routerOfGame %}active{% endif %}">
        <a href="{{ path(routerOfGame) }}">游戏栏目推荐</a>
    </li>
    {% set routerOfGame = 'lychee_admin_game_reviewstate' %}
    <li class="{% if app.request.get('_route') == routerOfGame %}active{% endif %}">
        <a href="{{ path(routerOfGame) }}">游戏模块开关</a>
    </li>
{% endblock %}

{% block body %}{% endblock %}
