{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>分享{{ post.author.nickname }}的帖子</title>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{{ asset('bundles/lycheewebsite/post/share/style.css') }}" />
    <style>
        {% set topic_color = post.topic.color is defined and post.topic.color is not empty ? post.topic.color|cssColor : '#fd86ea' %}
        .topic-color-bg {
            background-color: {{ topic_color }};
        }
        .topic-color-font {
            color: {{ topic_color }};
        }
        .topic-color-border {
            border-color: {{ topic_color }};
            color: {{ topic_color }};
        }
        .-title {
            opacity: 0.6;
        }
        .voting input[type="checkbox"]:checked+label::before {
            background-color: {{ topic_color }};
        }
        .schedule .-info .-time::before, .schedule .-info .-location::before {
            background-image: -webkit-linear-gradient(0deg, {{ topic_color }}, {{ topic_color }});
        }
    </style>
    <script>
        function updateTruncatedTag(e) {
            if (!(e instanceof HTMLImageElement)) {
                return;
            }
            var li = e;
            while (li !== null && !(li instanceof HTMLLIElement)) {
                li = li.parentElement;
            }
            if (li === null) {
                return;
            }
            var classAttr = li.getAttribute("class");
            var classes = (classAttr == null || classAttr.length == 0) ? [] : classAttr.split(/\s+/);

            if (e.height <= 1000) {
                var index = classes.indexOf("truncated")
                if (index != -1) {
                    classes.splice(index, 1);
                    if (classes.length == 0) {
                        li.removeAttribute("class");
                    } else {
                        var newCls = classes.join(" ");
                        li.setAttribute("class", newCls);
                    }
                }
            } else {
                if (classes.indexOf("truncated") == -1) {
                    classes.push("truncated");
                    li.setAttribute("class", classes.join(" "));
                }
            }
        }
        function onImgClick(e) {
            if (!(e instanceof HTMLImageElement)) {
                return;
            }
            window.location.href = e.src;
        }
        window.onresize = function(){
            var imgs = document.querySelectorAll(".images img");
            for (var i = 0, l = imgs.length; i < l; ++i) {
                updateTruncatedTag(imgs[i]);
            }
        };
        function each(list, f) {
            for (var i = 0, l = list.length; i < l; ++i) {
                f(list[i], i);
            }
        }
        function setupVoting() {
            var votings = document.querySelectorAll('.voting');
            each(votings, function(voting){
                var checkboxes = voting.querySelectorAll('input[type="checkbox"]');
                each(checkboxes, function(checkbox){
                    checkbox.onclick = function(){
                        var checked = checkbox.checked;
                        each(checkboxes, function(i){i.checked = false;});
                        checkbox.checked = checked;
                    };
                });
            });
        }
        function onTopicImgLoad(e) {
            var w = e.width, h = e.height;
            if (w > h) {
                e.style.left = ((h - w) / 2) + 'px';
            } else if (w < h) {
                e.style.width = '100%';
                e.style.height = 'auto';
                e.style.top = (h - (h * h / w)) / 2 + 'px';
            }
        }
    </script>
</head>
<body>
<div class="author">
    <div class="-avatar"><img src="{{ avatar(post.author.avatar_url) | resizeImage(120, 120) }}"/></div>
    <span class="-name">{{ post.author.nickname }}</span>
    <span class="-level">Lv{{ post.author.level }}</span>
    {% if post.author.topic_title is defined and post.author.topic_title is not empty %}
    <span class="-title topic-color-bg">{{ post.author.topic_title }}</span>
    {% endif %}
    <span class="-time">{{ timeStr(post.create_time) }}</span>
</div>

{% if not supportedPostType %}
<div class="unknown-post-type">
    <p>Sorry, 此类帖子暂时不支持网页浏览<br/>_(:3 」∠)_</p>
    <img src="http://qn.ciyocon.com/web/common/developing.jpg"/>
</div>
{% else %}

    {% if post.video_url is defined and post.video_url is not empty %}
    <div class="video">
        <a href="{{ post.video_url }}"><img src="{{ post.annotation.video_cover }}"/></a>
    </div>
    {% endif %}

    <div id="content" class="text">{{ post.content | nl2br }}</div>

    {% if link is not empty %}
    <div class="link"><a href="{{ link.url }}">
        <div class="title-box topic-color-bg topic-color-font">
            <h3>{{ link.title }}</h3>
        </div>
    </a></div>
    {% endif %}

    {% if post.voting is defined and post.voting is not empty %}
    <div class="voting">
        <div class="title-box topic-color-bg topic-color-font">
            <h3>{{ post.voting.title }}</h3>
            <i>投票进行中</i><span>{{ post.voting.vote_count }}人参加</span>
        </div>
        <ol>
            {% for opt in post.voting.options %}
            <li><input type="checkbox" id="vote1-opt{{ opt.id }}" name="vote1" value="opt{{ opt.id }}" /><label for="vote1-opt{{ opt.id }}">{{ opt.title }}</label></li>
            {% endfor %}
        </ol>
        <a class="vote topic-color-bg" href="{{ downloadLink }}">投票</a>
    </div>
    {% endif %}

    {% if post.schedule is defined and post.schedule is not empty %}
    {% set schedule = post.schedule %}
    {% set startTime = date(schedule.start_time) %}
    {% set endTime = date(schedule.end_time) %}
    {% set cancelled = schedule.cancelled is defined and schedule.cancelled %}
    {% set ended = endTime <= date('now') %}
    <div class="schedule">
        <div class="title-box topic-color-bg topic-color-font">
            <h3>{{ schedule.name }}</h3>
            <i>时间：{{ startTime|date('Y-m-d H:i') }}</i><span>{{ schedule.joiner_count }}人参加</span>
        </div>
        <div class="-info">
            <p class="-time">活动时间：{{ startTime|date('Y-m-d H:i') }} - {{ startTime|date('Y-m-d') == endTime|date('Y-m-d') ? endTime|date('H:i') : endTime|date('Y-m-d H:i') }}</p>
            {% if schedule.address is defined and schedule.address is not empty %}
            <p class="-location">活动地点：{{ schedule.address }}</p>
            {% endif %}
        </div>
        <a class="join topic-color-bg{{ cancelled ? ' -cancelled' : (ended ? ' -ended' : '') }}" href="{{ downloadLink }}">{{ cancelled ? '活动已取消' : (ended ? '活动已结束' : '我要参加') }}</a>
        {% if schedule.joiners is not empty %}
        <div class="joiners">
            <span>参加成员{{ schedule.joiner_count }}人</span>
            <ol>
                {% for joiner in schedule.joiners %}
                <li><img src="{{ avatar(joiner.avatar_url) | resizeImage(120, 120) }}"/></li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% if images is not empty %}
        {% set tmpImages = [] %}
        {% for image in images %}
            {% set tmpImages = tmpImages|merge([image | resizeImage(640, 0)]) %}
        {% endfor %}
        {% set images = tmpImages %}
    <ul class="images">
        {% for image in images %}
        <li><img onclick="onImgClick(this)" onload="updateTruncatedTag(this)" src="{{ image }}" /></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endif %}

{% if comments is defined and comments is not empty%}
<div class="new-comments">
    <h2>评论&nbsp;{{ post.commented_count }}</h2>
    <ol>
        {% for comment in comments %}
        <li>
            <div class="comment">
                <div class="-avatar"><img src="{{ avatar(comment.author.avatar_url) | resizeImage(120, 120) }}"/></div>
                <span class="-name">{{ comment.author.nickname|default('') }}</span>
                {% if comment.author.topic_title is defined and comment.author.topic_title is not empty %}
                <span class="-title topic-color-bg">{{ comment.author.topic_title }}</span>
                {% endif %}
                <span class="-time">{{ timeStr(comment.create_time) }}</span>
                <span class="-content">{{ comment.content|default('') }}</span>
            </div>
        </li>
        {% endfor %}
    </ol>
    <a class="-more topic-color-border" href="{{ downloadLink }}">更多评论</a>
</div>
{% endif %}

{% if post.topic is defined and post.topic is not empty %}
<div class="topic">
    <div class="-image"><img src="{{ post.topic.index_image|default('') }}"  onload="onTopicImgLoad(this)"/><div class="-color topic-color-bg"></div></div>
    <span class="-name">{{ post.topic.title|default('') }}</span>
    <span class="-desc">{{ post.topic.description|default('') }}</span>
    <a class="-join topic-color-bg" href="{{ url('topic_invite', {topicId: post.topic.id}) }}">进入该次元</a>
</div>
{% endif %}
<div class="app">
    <div class="-icon"><img src="{{ ciyo.app_icon | resizeImage(120, 120) }}"/></div>
    <span class="-name">{{ ciyo.app_name }}</span>
    <span class="-slogan">{{ ciyo.app_slogan }}</span>
    <a class="-download" href="{{ downloadLink }}">马上下载</a>
</div>
</body>
{% if userAgent().wechat %}
{% include 'LycheeWebsiteBundle::wechat.html.twig' %}
<script>
    {% if post.annotation.video_cover is defined %}
        {% set shareImage = post.annotation.video_cover %}
    {% elseif images is not empty %}
        {% set shareImage = images[0] %}
    {% endif %}
    var contentEle = document.getElementById("content");
    var content = contentEle ? contentEle.textContent : "";
    wxSetupShare({
        title: document.title,
        content: content,
        {% if shareImage is defined %}
        image: "{{ shareImage|raw }}",
        {% endif %}
    }, {
        title: content,
        {% if shareImage is defined %}
        image: "{{ shareImage|raw }}",
        {% endif %}
    });
    {% if images is not empty %}
    var images = {{ images|json_encode()|raw }};
    window.onImgClick = function(e){
        wx.previewImage({
            current: e.src,
            urls: images
        });
    };
    {% endif %}
</script>
{% endif %}
{% include 'LycheeWebsiteBundle::googleAnalytics.html.twig' %}
<script>
    ga('set', 'contentGroup1', 'post_share');
    (function(){
        setupVoting();
    })();
</script>
</html>
{% endspaceless %}
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>