{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    <li class="{% if app.request.get('_route') == 'lychee_admin_authorization_index' %}active{% endif %}">
        <a href="{{ path('lychee_admin_authorization_index') }}">管理员</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_authorization_permission' %}active{% endif %}">
        <a href="{{ path('lychee_admin_authorization_permission') }}">权限</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_authorization_operationaccount' %}active{% endif %}">
        <a href="{{ path('lychee_admin_authorization_operationaccount') }}">账号绑定</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_authorization_testaccount' %}active{% endif %}">
        <a href="{{ path('lychee_admin_authorization_testaccount') }}">测试账号</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_authorization_accounts' %}active{% endif %}">
        <a href="{{ path('lychee_admin_authorization_accounts') }}">运营账号</a>
    </li>
{% endblock %}

{% block body %}{% endblock %}