{% extends 'LycheeAdminBundle:Authorization:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .table-responsive { margin-top: 20px; }
    </style>
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Email</th>
                <th class="text-center">名称</th>
                <th class="text-center">已绑定运营账号</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for manager in managers %}
                <tr>
                    <td class="text-center">{{ manager.id }}</td>
                    <td class="text-center">{{ manager.email }}</td>
                    <td class="text-center">{{ manager.name }}</td>
                    <td class="text-center">
                        {% for account in manager.operationAccounts %}
                            <span class="label label-primary">{{ operationAccounts[account.id].nickname }}</span>
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary modify-accounts" data-toggle="modal" data-target="#modify_operation_accounts" manager_id="{{ manager.id }}">
                            修改
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modify_operation_accounts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">绑定运营帐号</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_authorization_modifybinding') }}">
                    <input type="hidden" id="manager_id" name="manager_id">
                    <div class="modal-body">
                        <div class="form-group" id="operation_accounts_list">
                            {% for account in operationAccounts %}
                                <div><input type="checkbox" name="operation_accounts[]" value="{{ account.id }}"/> {{ account.nickname }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">确 定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var $managerId = $("#manager_id");
            var accounts = {{ managerOperationAccountIds|raw }};
            var $operationAccountsList = $("#operation_accounts_list");
            $(".modify-accounts").on("click", function() {
                var managerId = $(this).attr("manager_id");
                var operationAccounts = accounts[managerId];
                var $checkboxs = $operationAccountsList.find("input[type=checkbox]");

                $managerId.val(managerId);
                $checkboxs.attr("checked", false);
                $checkboxs.each(function(index, elem) {
                    var i;
                    for (i in operationAccounts) {
                        if (operationAccounts[i] == $(elem).val()) {
                            elem.checked = true;
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}