{% extends 'LycheeAdminBundle:Authorization:layout.html.twig' %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>用户</th>
                <th>昵称</th>
                {% for module in modules %}
                    <th class="text-center">{{ module.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for manager in managers %}
                {% if manager.frozen == 0 %}
                    <tr>
                        <td>{{ manager.email }}</td>
                        <td>{{ manager.name }}</td>
                        {% for module in modules %}
                            {% if module in manager.getRoles() %}
                                <td class="text-center">
                                    <button type="button" class="btn btn-success switch-permission" value="1|{{ manager.id }}|{{ module.id }}">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                </td>
                            {% else %}
                                <td class="text-center">
                                    <button type="button" class="btn btn-default switch-permission" value="0|{{ manager.id }}|{{ module.id }}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            $(".switch-permission").on("click", function() {
                var params = $(this).val().split("|");
                $.post("{{ path('lychee_admin_authorization_switchpermission') }}", {
                    authorize: params[0],
                    manager_id: params[1],
                    role_id: params[2]
                }, function(data) {
//                    console.log(data);
                    window.location.reload();
                }, "json");
            });
        });
    </script>
{% endblock %}