{% extends 'LycheeAdminBundle:Extramessage:index.html.twig' %}

{% block left_nav %}
    <li class="{% if app.request.get('_route') == 'lychee_admin_extramessage_index' %}active{% endif %}">
        <a href="{{ path('lychee_admin_extramessage_index') }}">{{ topic_name }}管理</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_extramessage_touwei' %}active{% endif %}">
        <a href="{{ path('lychee_admin_extramessage_touwei') }}">投喂查询</a>
    </li>
    <li class="{% if app.request.get('_route') matches '/_tujian/' %}active{% endif %}">
        <a href="{{ path('lychee_admin_extramessage_tujian') }}">图鉴查询</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_extramessage_dictionary' %}active{% endif %}">
        <a href="{{ path('lychee_admin_extramessage_dictionary') }}">词典查询</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_extramessage_daily' %}active{% endif %}">
        <a href="{{ path('lychee_admin_extramessage_daily') }}">日志查询</a>
    </li>
{% endblock %}