{% extends 'LycheeAdminBundle:Extramessage:index.html.twig' %}
{% block title %}渠道记录{% endblock %}
{% block table %}
    <div xmlns="http://www.w3.org/1999/html">
        <div class="clearfix">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span
                        class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content animated bounceInRight">
                    <form role="form" method="post"
                          action="{{ path('lychee_admin_extramessage_promotioncodevendorrecordsubmit') }}"
                          class="form-horizontal">
                    <div class="modal-header">
                        <h4 class="modal-title">新增记录</h4>
                    </div>
                    <div class="modal-body">

                            <div class="form-group">
                                <label>渠道</label>
                                <select class="form-control" name="vendor" required>
                                    {#<option>无</option>#}
                                    {% for type, name in grant_types %}
                                        <option value="{{ type }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>章节</label>
                                <select class="form-control m-b" name="product_id" required>
                                    <option>无</option>
                                    <option value="40100">投喂第一章6元</option>
                                    <option value="40103">投喂第一章番外篇3元</option>
                                    <option value="40106">投喂第二章6元</option>
                                    <option value="40109">投喂第二章番外篇3元</option>
                                    <option value="40112">投喂第三章6元</option>
                                    <option value="40115">投喂第四章6元</option>
                                    <option value="40118">投喂第五章6元</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label>数量</label>
                                <input type="number" class="form-control" name="count" required>
                            </div>
                            <div class="form-group">
                                <label>过期日期</label>
                                <input type="datetime-local" class="form-control" name="expire_time">
                            </div>
                        {% if pre_gen_code_count is defined %}
                            <div class="form-group">
                                <label>可用礼品码码数量:</label>
                                <label class="form-control">{{ pre_gen_code_count }}</label>
                            </div>
                        {% endif %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>记录ID</th>
                <th>章节</th>
                <th>渠道</th>
                <th>数量</th>
                <th>创建时间</th>
                <th>过期时间</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.vendor }}</td>
                    <td>{{ products[record.productId].name|default('') }}</td>
                    <td>{{ record.count }}</td>
                    <td>{{ record.createTime|date("Y-m-d H:i:s") }}</td>
                    <td>{{ record.codeExpireTime ? record.codeExpireTime|date("Y-m-d H:i:s") : '' }}</td>
                    <td><a href="{{ path('lychee_admin_extramessage_promotioncode', {'record_id': record.id}) }}">礼品码列表&gt;&gt;</a> </td>
                    <td><a href="{{ path('lychee_admin_extramessage_promotioncodeexport', {'record_id': record.id}) }}" target="_blank">导出礼品码</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}