{% spaceless %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
	<meta name="format-detection" content="telephone=no"/>
	<title>调查问卷</title>
	<link rel="stylesheet" href="{{ asset('bundles/lycheewebsite/operation/questionnaire/style1.css') }}" />
</head>
<body>
<script>
	function showButton(t) {
		document.getElementById('next-btn').style.display = t == 'next' ? 'block' : 'none';
		document.getElementById('submit-btn').style.display = t == 'submit' ? 'block' : 'none';
	}

	function optionOnClick(o, questionIndex) {
		var q = optionFindQuestion(o);

		var values = questionGetValue(q);
		if (o.checked) {
			if (values.indexOf(o.value) == -1) {
				values.push(o.value);
			}
			var atMost = questionGetAtMost(q);
			if (values.length > atMost) {
				values = values.slice(values.length - atMost);
			}
		} else {
			var i = values.indexOf(o.value);
			if (i >= 0) {
				values.splice(i, 1);
			}
		}

		questionSetValue(q, values);
		if (questionIndex == 6) {
			if (values.length > 0 && values[0] == 2) {
				showButton('next');
			} else {
				showButton('submit');
			}
		}
	}

	function optionFindQuestion(o) {
		var tmp = o;
		while (tmp != null && !(tmp.classList.contains('question'))) {
			tmp = tmp.parentElement;
		}
		return tmp;
	}

	function questionGetOptions(q) {
		return [].slice.call(q.getElementsByTagName('input')).filter(function(i){return i.type == 'checkbox';});
	}

	function questionGetAtMost(q) {
		if (q.hasAttribute('data-at-most')) {
			return parseInt(q.getAttribute('data-at-most'));
		} else {
			return 1;
		}
	}

	function questionGetValueElement(q) {
		var is = q.getElementsByTagName('input');
		for (var i = 0; i < is.length; ++i) {
			if (is[i].type == 'hidden') {
				return is[i];
			}
		}
		return {value: ''};
	}

	function questionSetValue(q, v) {
		v = v instanceof Array ? v : [v];
		questionGetValueElement(q).value = v instanceof Array ? v.join(',') : v;
		var options = questionGetOptions(q);
		options.forEach(function(o){
			o.checked = v.indexOf(o.value) != -1;
		});
		if (v.length > 0) {
			q.classList.remove('empty');
		}
	}

	function questionGetValue(q) {
		return questionGetValueElement(q).value.split(',').filter(function(v){return v != '';});
	}

	function getQuestions() {
		return [].slice.call(document.getElementsByClassName('question'));
	}

	function goNext() {
		var questions = getQuestions();
		var allFill = checkQuestions(questions.slice(0, 7));
		if (allFill === true) {
			questions.slice(0, 7).forEach(function(q){q.style.display = 'none';});
			questions.slice(7).forEach(function(q){q.style.display = 'block';});
			questions[7].scrollIntoView();
			showButton('submit');
		}
	}

	function checkQuestions(qs) {
		var firstEmpty = null;
		qs.reverse().forEach(function(q){
			var v = questionGetValue(q);
			if (v.length == 0) {
				q.classList.add('empty');
				firstEmpty = q;
			} else {
				q.classList.remove('empty');
			}
		});

		if (firstEmpty != null) {
			firstEmpty.scrollIntoView();
			return false;
		} else {
			return true;
		}
	}

	function goSubmit() {
		var questions = getQuestions();
		var q7Value = questionGetValue(questions[6]);
		var qToCheck = questions;
		if (q7Value.length == 0 || q7Value[0] != 2) {
			qToCheck = questions.slice(0, 7);
		}

		var canSubmit = checkQuestions(qToCheck);
		if (canSubmit) {
			document.getElementsByTagName('form')[0].submit();
		}
	}

	function goBegin(e) {
		e.disabled = true;
		var phone = parseInt(document.getElementById('phone-txt').value);
		if (!(10000000000 <= phone && phone <= 99999999999)) {
			alert('请填入正确的电话号码。');
			e.disabled = false;
			return;
		}

		checkFilled(phone, function(filled){
			if (filled) {
				alert('此号码已经参与过活动。');
				e.disabled = false;
			} else {
				document.getElementsByClassName('step1')[0].style.display = 'none';
				document.getElementsByClassName('step2')[0].style.display = 'block';
				e.disabled = false;
			}
		});
	}

	function checkFilled(phone, cb) {
		var req = new XMLHttpRequest();
		req.open('GET', '{{ path('lychee_website_operation_questionnaire1_getquestionnaire1') }}?filled_by=' + phone, true);
		req.onreadystatechange = function(){
			if (req.readyState == 4) {
				if (req.status == 200) {
					cb(true);
				} else {
					cb(false);
				}
			}
		};
		req.send(null);
	}
</script>
<header><img src="http://qn.ciyocon.com/web/operation/questionnaire/banner1.png"/></header>
<form action="" method="post" autocomplete="off">
	<div class="step1">
		<label for="phone-txt">请输入11位电话号码：</label>
		<input type="tel" name="phone" id="phone-txt" autocomplete="off" inputmode="numeric" value=""/>
		<button id="go-btn" type="button" onclick="goBegin(this)">开始</button>
	</div>
	<div class="step2" style="display: none">
	<ol class="questions">
		{% for q in questions %}
			{% set qi = loop.index %}
			{% set atMost = q.atMost is defined ? q.atMost : 1 %}
		<li class="question{{ atMost > 1 ? ' multi' }}" data-at-most="{{ atMost }}"{{ qi > 7 ? ' hidden="hidden"' }}>
			<h3>{{ qi }}、{{ q.title }}</h3>
			<input type="hidden" name="q{{ qi }}" value="{{ values['q' ~ qi] is defined ? values['q' ~ qi] }}" autocomplete="off"/>
			<ol class="options">
				{% for o in q.options %}
				{% set oi = loop.index %}
				<li class="option">
					<input type="checkbox" id="q{{ qi }}-o{{ oi }}" autocomplete="off" value="{{ oi }}"/>
					<label for="q{{ qi }}-o{{ oi }}">{{ o|trim('__') }}</label>
					{% if o ends with '__'  %}
						<input type="text" name="q{{ qi }}_e{{ oi }}" value="" autocomplete="off"/>
					{% endif %}
				</li>
				{% endfor %}
			</ol>
		</li>
		{% endfor %}
	</ol>
	<button id="next-btn" type="button" style="display: none" onclick="goNext()">下一页</button>
	<button id="submit-btn" type="button" onclick="goSubmit()">提交</button>
	</div>
</form>

<script>
(function(){
	var posted = false;

	getQuestions().forEach(function(q, qi){
		var v = questionGetValue(q);
		if (posted && v.length == 0) {
			q.classList.add('empty');
		}
		questionSetValue(q, v);

		var options = questionGetOptions(q);
		options.forEach(function(o){
			var handler = (function(a, ii){
				return function(){
					optionOnClick(a, ii);
				};})(o, qi);
			o.onchange = handler;
		});
	});
})();
</script>
</body>
</html>
{% endspaceless %}
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>