{% extends 'LycheeAdminBundle:Topic:layout.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs">
        {% for cat in cats %}
            <li role="presentation" class="{{ cat.id == curCatId? 'active' }}">
                <a href="{{ path('lychee_admin_topic_category', {'catId': cat.id}) }}">{{ cat.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#add_topic_win" id="add_topic">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="col-lg-2 pull-right">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="关键字..." name="search" value="{{ app.request.get('search')|default('') }}">
                <span class="input-group-btn"><button class="btn btn-default" type="button">搜索</button></span>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>创建时间</th>
                <th>帖子数量</th>
                <th>角标</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="topic_tbody">
            {% for topic in topics %}
                <tr class="{{ topic.deleted? 'danger' }}">
                    <td><a href="{{ path('lychee_admin_topic_detail', {topicId: topic.id}) }}" target="_blank">{{ topic.id }}</a></td>
                    <td>{{ topic.title }}</td>
                    <td>{{ topic.createTime|date('Y-m-d H:i:s') }}</td>
                    <td>{{ topic.postCount }}</td>
                    <td>{{ topic.opMark }}</td>
                    <td>{{ topic.deleted? '已删除':'活跃' }}</td>
                    <td>
                        {% if topic.hidden %}
                            <button type="button" class="btn btn-default topic-hide" data-id="{{ topic.id }}" onclick="topicHide(this)">取消隐蔽</button>
                        {% else %}
                            <button type="button" class="btn btn-default topic-hide" data-id="{{ topic.id }}" onclick="topicHide(this)">隐蔽</button>
                        {% endif %}
                        <button type="button" class="btn btn-danger topic-remove" data-id="{{ topic.id }}" onclick="topicRemove(this)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <a class="btn btn-success" href="{{ path('lychee_admin_topic_post', {id: topic.id}) }}">
                            查看所有帖子
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li>
                    <a href="{{ path('lychee_admin_topic_category', {catId: curCatId, page: 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% if pageCount < 1 %}{% set pageCount = 1 %}{% endif %}
                {% for p in 1..pageCount %}
                    <li class="{{ p==page? 'active' }}">
                        <a href="{{ path('lychee_admin_topic_category', {catId: curCatId, page: p}) }}">
                            {{ p }}
                        </a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{{ path('lychee_admin_topic_category', {catId: curCatId, page: pageCount}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="add_topic_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加次元到指定分类</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_topic_addrecommendabletopic') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label></label>
                            <label>
                                <input type="radio" class="search-type" name="type" value="1" checked> 次元ID
                            </label>
                            <label>
                                <input type="radio" class="search-type" name="type" value="2"> 次元名称
                            </label>
                        </div>
                        <div class="form-group">
                            <label>搜索</label>
                            <input type="text" name="keyword" id="keyword" class="form-control" autocomplete="off"
                                   data-provide="typeahead">
                            <input type="hidden" name="topic_id" id="topic_id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="add_topic_submit" class="btn btn-primary">提 交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .nav.nav-tabs {
            margin-bottom: 10px;
        }
        tr.danger {
            opacity: 0.5;
        }
        #add_topic {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LycheeAdminBundle/Resources/public/bootstrap/js/bootstrap3-typeahead.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            var $searchType = $('.search-type');
            var matchedTopics;
            var $keyword = $('#keyword');
            var $topicId = $('#topic_id');

            $keyword.typeahead({
                source: function(query, process) {
                    if ($searchType.filter(':checked').eq(0).val() == 2) {
                        if (query) {
                            $.get('{{ path('lychee_admin_topic_topickeyword') }}', {
                                keyword: query
                            }, function(data) {
                                matchedTopics = data;
                                var topics = [];
                                for (var i in data) {
                                    topics.push(data[i]);
                                }
                                process(topics);
                            });
                        }
                    }
                }
            });
            $('#add_topic_submit').click(function() {
                if ($searchType.filter(':checked').eq(0).val() == 1) {
                    $topicId.val($keyword.val());
                } else {
                    var topicTitle = $keyword.val();
                    for (var i in matchedTopics) {
                        if (matchedTopics[i] === topicTitle) {
                            $topicId.val(i);
                        }
                    }
                }
            });
        });

        function topicRemove(target) {
            if (confirm('确定从推荐次元中移除？')) {
                var topicId = $(target).data('id');
                var $form = $('<form method="post"></form>');
                $form.attr('action', '{{ path("lychee_admin_topic_removerecommendabletopic") }}');
                $form.append('<input type="hidden" name="topic_id" value="' + topicId + '">');
                $('body').append($form);
                $form.submit();
            }

            return false;
        }

        function topicHide(target) {
            if (confirm('确定隐蔽/取消隐蔽该次元？')) {
                var topicId = $(target).data('id');
                var $form = $('<form method="post"></form>');
                $form.attr('action', '{{ path("lychee_admin_topic_hideorunhidetopic") }}');
                $form.append('<input type="hidden" name="topic_id" value="' + topicId + '">');
                $('body').append($form);
                $form.submit();
            }

            return false;
        }
    </script>
{% endblock %}