{% extends 'LycheeAdminBundle:Topic:layout.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs" style="margin-bottom: 30px;">
        <li role="presentation" class="active"><a href="#">资料</a></li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_topic_post', {id: topic.id}) }}">帖子</a>
        </li>
    </ul>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ topic.id }}</td>
            </tr>
            <tr>
                <th>名称</th>
                <td>{{ topic.title }}</td>
            </tr>
            <tr>
                <th>简介</th>
                <td>{{ topic.summary }}</td>
            </tr>
            <tr>
                <th>描述</th>
                <td>{{ topic.description }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ topic.createTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>封面1</th>
                <td>{% if topic.indexImageUrl %}<img src="{{ topic.indexImageUrl }}" alt="{{ topic.id }}">{% endif %}</td>
            </tr>
            <tr>
                <th>封面2</th>
                <td>{% if topic.coverImageUrl %}<img src="{{ topic.coverImageUrl }}" alt="{{ topic.id }}">{% endif %}</td>
            </tr>
            <tr>
                <th>属性</th>
                <td>{% if topicProperty %}{{ topicProperty.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>分类</th>
                <td>{{ topicCategories|join(', ') }}</td>
            </tr>
            <tr>
                <th>帖子数</th>
                <td><a href="{{ path('lychee_admin_topic_post', {id: topic.id}) }}">{{ topic.postCount }}</a></td>
            </tr>
            <tr>
                <th>创建者</th>
                <td>
                    {% if creator %}
                        [<a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: topic.creatorId}) }}" target="_blank">{{ topic.creatorId }}</a>]
                        <span>{{ creator.nickname }}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>领主</th>
                <td>
                    {% if manager %}
                        [<a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: topic.managerId}) }}" target="_blank">{{ topic.managerId }}</a>]
                        <span>{{ manager.nickname }}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>角标</th>
                <td>{{ topic.opMark }}</td>
            </tr>
            <tr>
                <th>状态</th>
                <td>
                    {% if topic.deleted %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>私有</th>
                <td>{% if topic.private %}私有{% else %}公开{% endif %}</td>
            </tr>
            <tr>
                <th>入驻人数</th>
                <td>{{ topicFollowerCount }}</td>
            </tr>
            {% if not topic.deleted %}
                <tr>
                    <th></th>
                    <td>
                        <button type="button" class="btn btn-default topic-edit" data-id="{{ topic.id }}" onclick="topicEdit(this)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger topic-remove" data-id="{{ topic.id }}" onclick="topicRemove(this)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>

                </tr>
            {% endif %}
        </tbody>
    </table>
    <h4>活动查询</h4>
    <form>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th width="200">活动开始日期（包含当日）</th>
                    <td>
                        <input type="text" name="start_date" class="form-control"
                               value="{{ app.request.get('start_date') }}">
                    </td>
                </tr>
                <tr>
                    <th>活动结束日期（不包含当日）</th>
                    <td>
                        <input type="text" name="end_date" class="form-control"
                               value="{{ app.request.get('end_date') }}">
                    </td>
                </tr>
                <tr>
                    <th>发帖数</th>
                    <td>{{ postCount }}</td>
                </tr>
                <tr>
                    <th>评论数</th>
                    <td>{{ commentCount }}</td>
                </tr>
                <tr>
                    <th>入驻人数</th>
                    <td>{{ followerCount }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><button type="submit" class="btn btn-primary">查 询</button></td>
                </tr>
            </tbody>
        </table>
    </form>
    <input type="hidden" id="topic_remove_url" value="{{ path("lychee_admin_topic_remove") }}">
    {{ include('LycheeAdminBundle:Topic:topicForm.html.twig', {
        'topicName': topic.title,
        'formPath': path('lychee_admin_topic_create'),
        'properties': properties,
        'categories': categories,
        'topicFetchUrl': path('lychee_admin_topic_fetchone')
    }) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@fileinput_css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@fileinput_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/js/topic_form.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}