{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    <li class="{% if app.request.get('_route') == 'lychee_admin_topic_index' %}active{% endif %}">
        <a href="{{ path('lychee_admin_topic_index') }}">{{ topic_name }}管理</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_topic_hidetopiclist' %}active{% endif %}">
        <a href="{{ path('lychee_admin_topic_hidetopiclist') }}">隐蔽{{ topic_name }}</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_topic_category' %}active{% endif %}">
        <a href="{{ path('lychee_admin_topic_category', {'catId': 301}) }}">推荐次元分类</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_topic_certifiedtopic' %}active{% endif %}">
        <a href="{{ path('lychee_admin_topic_certifiedtopic') }}">认证次元</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_topic_featuredtopic' %}active{% endif %}">
        <a href="{{ path('lychee_admin_topic_featuredtopic') }}">精选次元</a>
    </li>
{% endblock %}