{% extends 'LycheeAdminBundle:App:layout.html.twig' %}

{% block body %}
<button type="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#create_sticker" style="margin-bottom: 15px;">
    <span class="glyphicon glyphicon-plus"></span>
</button>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>缩略图</th>
            <th>zip包链接</th>
            <th>New</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for sticker in stickers %}
            <tr>
                <td>{{ sticker.id }}</td>
                <td>{{ sticker.name }}</td>
                <td>{{ sticker.thumbnailUrl }}</td>
                <td>{{ sticker.url }}</td>
                <td>{{ sticker.isNew }}</td>
                <td>
                    <a href="{{ path('lychee_admin_app_stickerdetail', {'stickerId': sticker.id}) }}">编辑</a>
                    <span>&nbsp;</span>
                    <a href="#" class="delete-sticker" data-sticker-id="{{ sticker.id }}">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="create_sticker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新建贴纸</h4>
            </div>
            <form role="form" method="post" action="{{ path('lychee_admin_app_uploadsticker') }}" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="sticker_name">名称</label>
                        <input type="text" class="form-control" id="sticker_name" name="sticker_name" placeholder="不多于20个字">
                    </div>
                    <div class="form-group">
                        <label for="is_new">新贴纸</label>
                        <input type="checkbox" name="is_new" id="is_new" value="1" checked>
                    </div>
                    <div class="form-group">
                        <label for="zip_file">贴纸压缩包</label>
                        <input type="file" name="zip_file" id="zip_file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">确 定</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".delete-sticker").click(function () {
                if (confirm("确定删除？")) {
                    var $form = $("<form></form>");
                    $form.attr("method", "post");
                    $form.attr("action", "{{ path('lychee_admin_app_deletesticker') }}");
                    var $input = $('<input type="hidden" name="sticker_id">');
                    $input.val($(this).data('sticker-id'));
                    $form.append($input);
                    $(document.body).append($form);
                    $form.submit();
                }

                return false;
            });
        });
    </script>
{% endblock %}