{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>领主特权</title>
    <link rel="stylesheet" href="{{ asset('bundles/lycheeapi/topic/manager_privilege/style.css') }}?v=1" />
</head>
<body>
<h2><img src="{{ asset('bundles/lycheeapi/topic/manager_privilege/image/title1.png') }}?v=1" alt="领主超能力"/></h2>

<ol class="privileges">
    <li>
        <p>1、拥有极其嚣张的领主身份头衔</p>
        <img src="{{ asset('bundles/lycheeapi/topic/manager_privilege/image/privilege1.png') }}?v=1"/>
    </li>
    <li>
        <p>2、拥有次元的管理权</p>
        <img src="{{ asset('bundles/lycheeapi/topic/manager_privilege/image/privilege2.png') }}?v=1"/>
    </li>
    <li>
        <p>3、编辑次元资料页，彰显不俗的品位</p>
        <img src="{{ asset('bundles/lycheeapi/topic/manager_privilege/image/privilege3.png') }}?v=1"/>
    </li>
</ol>

<h2><img src="{{ asset('bundles/lycheeapi/topic/manager_privilege/image/title2.png') }}?v=1" alt="领主手册"/></h2>

<ol class="explanations">
    <li>次元的名称、简介、封面图须符合我国相关法律法规，如有违规，领主为唯一责任人</li>
    <li>领主有维护次元内合法、纯净、热烈的讨论氛围的义务，长期不活跃、不作为者将丧失领主资格</li>
    <li>领主权力是为了更好地管理次元，需合理使用，不得恶意使用权力，损害他人利益</li>
    <li>如发生以上情况，次元社将视情况予以处罚，直至取消领主身份、删帖、封号等</li>
    <li>领主删除的帖子不会在次元里</li>
    <li>领主权限和规则还在陆续扩展中，敬请期待</li>
    <li>其实次元酱是本应用最大的bug</li>
</ol>

</body>
</html>
{% endspaceless %}