<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>异次元通讯</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/unknownmessage/styles/style.min.css') }}">
</head>
<body>
<div class="unknownmessage">
    <div class="-logo" style="position:relative">
        <span style="color: #fff;position: absolute">第3章 新鲜上市！</span>
        <img src="{{ asset('bundles/lycheewebsite/unknownmessage/images/LOGO.png') }}" alt="">
        <p class="line1" style="color:#e0dbdb">领我摆脱困境的，是你？ 还是根本只有我自己？</p>
    </div>
    <div class="-desc" style="position: relative">
        <p>
            《异次元通讯》是一款体验新颖的文字AVG游戏，采用模拟手机通讯的方式达成玩家和故事主角的实时互动。
        </p>
        <p>
            玩家通过聊天软件协助主角逃亡，在交流过程中逐步了解事件、协助解谜，熟悉主角的性格，深入一个未知的神秘世界。
            玩家需要像对待朋友一样，理解和尊重主角的意愿，和ta共同经历、共同成长。
        </p>
        </p>
        <p class="line2"><i style="background: url('{{ asset('bundles/lycheewebsite/unknownmessage/images/xingxing.png') }}') no-repeat 0px 2px;background-size: 94%"></i>首个TapTap预约满分游戏</p>
        <p class="line2"><i style="background: url('{{ asset('bundles/lycheewebsite/unknownmessage/images/xingxing.png') }}') no-repeat 0px 2px;background-size: 94%"></i>2016年TapTap年度最佳剧情提名</p>
        <p class="line2"><i style="background: url('{{ asset('bundles/lycheewebsite/unknownmessage/images/xingxing.png') }}') no-repeat 0px 2px;background-size: 94%"></i>App Store全5星好评</p>
    </div>

    <div class="-preview" >
        <img src="{{ asset('bundles/lycheewebsite/unknownmessage/images/shouji.png') }}" alt="" class="iphoto">
        <div class="line3">
            <p>《异次元通讯》将持续更新剧情和功能，并拓展其他形式、其他媒介的文化和游戏产品。建议、创意以及合作敬请联系</p>
            <p>官方QQ：2454369924</p>
            <p>官方邮箱：rekallstudio@qq.com</p>
        </div>
    </div>
    <div class="-download" >
        <div class="-downloada">
            <a class="iphone" onclick="downloadApp()">iPhone&nbsp;下载</a>
            <a class="android" onclick="downloadApp()">Android&nbsp;下载</a>
        </div>
        <div class="qrcode" data-qrcode-url="{{ url('unknownmessage2') }}">
        </div>
    </div>
</div>
<div class="product-footer">
    <div class="web-copy-right"><a href="{{ path('qa_page') }}" style="color: #fff">详细介绍及Q&A></a></div>
</div>
<script type="text/javascript" src="http://qn.ciyocon.com/web/common/qrcode.min.js"></script>
<script type="text/javascript">
    var qrcodeList = document.getElementsByClassName("qrcode");
    for (var i = 0; i < qrcodeList.length; i++) {
        var qrcode = new QRCode(qrcodeList[i], {
            text: qrcodeList[i].getAttribute('data-qrcode-url')
        });
    }
    var userAgent = '{{ userAgent }}';

    function downloadApp() {
        if (userAgent.indexOf('iPhone') !== -1 || userAgent.indexOf('iPod') !== -1) {
            if (userAgent.indexOf('MicroMessenger') !== -1 || userAgent.indexOf('Weibo') !== -1) {
                alert('请在右上角选择浏览器打开');
            }
            else {
                window.location.href = 'https://itunes.apple.com/cn/app/yi-ci-yuan-tong-xun2/id1193559690?l=zh&ls=1&mt=8'
            }
        }
        else if (userAgent.indexOf('Android') !== -1) {
            if (userAgent.indexOf('MicroMessenger') !== -1 || userAgent.indexOf('Weibo') !== -1) {
                alert('请在右上角选择浏览器打开');
            }
            else {
                window.location.href = 'http://qn.ciyocon.com/game/yiciyuan_rekall_3_3.apk';
            }
        }
        else {
            if (event.target.className == 'iphone') {
                window.location.href = 'https://itunes.apple.com/cn/app/yi-ci-yuan-tong-xun2/id1193559690?l=zh&ls=1&mt=8'
            }
            else {
                window.location.href = 'http://qn.ciyocon.com/game/yiciyuan_rekall_3_3.apk';
            }
        }
    }
</script>
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>