{% extends 'LycheeAdminBundle:UGSV:layout.html.twig' %}

{% block body %}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>作者</th>
            <th>{{ topic_name }}</th>
            <th>正文</th>
            <th>视频</th>
            <th>帖子创建时间</th>
            <th><span class="glyphicon glyphicon-wrench"></span></th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            {% set postId = item.postId %}
            <tr>
                <td>
                    <a href="{{ path('lychee_admin_contentaudit_userdetail', {'userId': posts[postId].authorId}) }}" target="_blank">
                        {% if authors[posts[postId].authorId].nickname %}
                            {{ authors[posts[postId].authorId].nickname }}
                        {% else %}
                            {{ posts[postId].authorId }}
                        {% endif %}
                    </a>
                    {% if authors[posts[postId].authorId].frozen == 1 %}
                        [已冻结]
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('lychee_admin_topic_index', {'query': posts[postId].topicId}) }}">
                        {{ topics[posts[postId].topicId].title }}
                    </a>
                </td>

                <td>{{ posts[postId].content }}[<a href="{{ path('lychee_admin_contentaudit_postdetail', {'id': postId}) }}" target="_blank">
                        {{ postId }}
                    </a>]</td>
                <td>
                    <video src="{{ posts[postId].videoUrl }}" poster="{{ posts[postId].imageUrl }}" height="150" controls preload="none" >
                        {{ posts[postId].videoUrl }}
                    </video>
                </td>
                <td>{{ posts[postId].createTime|date('Y-m-d H:i') }}</td>
                <td>
                    {% set deleted = posts[postId].deleted %}
                    <button type="button" class="btn btn-danger trash-post {{ deleted? 'hidden' }}"
                            post_id="{{ postId }}"><span class="glyphicon glyphicon-trash"></span></button>
                    <button type="button" class="btn btn-primary recover-post {{ deleted == false? 'hidden' }}"
                            data-post-id="{{ postId }}">恢复</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% import 'LycheeAdminBundle::helper.html.twig' as helper %}
{% if paginator is not null %}
    {{ helper.newpage(paginator, app.request.get('_route'), query) }}
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $(".trash-post").on("click", function() {
                var $deleteBtn = $(this);
                var postId = $(this).attr("post_id");
                if (true === confirm("确定删除？")) {
                    $.ajax("{{ path('lychee_admin_contentaudit_freeze') }}", {
                        type: "post",
                        data: {
                            post_id: postId
                        },
                        dataType: "json",
                        error: function() {
                            alert("服务器发生错误！");
                        },
                        success: function() {
                            $deleteBtn.toggleClass("hidden");
                            $deleteBtn.next().toggleClass("hidden");
                        }
                    });
                }
            });
            $(".recover-post").click(function () {
                if (confirm("确定恢复帖子？")) {
                    var $recoverBtn = $(this);
                    var postId = $recoverBtn.data("post-id");
                    $.ajax("{{ path('lychee_admin_contentaudit_recoverpost') }}", {
                        type: "post",
                        dataType: "json",
                        data: {
                            id: postId
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            if (jqXHR.status == '404') {
                                alert('帖子不存在。');
                            } else {
                                alert("服务器发生错误！");
                            }
                        },
                        success: function() {
                            $recoverBtn.toggleClass("hidden");
                            $recoverBtn.prev().toggleClass("hidden");
                        }
                    });
                }
                return false;
            });
        });
    </script>
{% endblock %}