<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>剧本管理</title>
    <link rel="stylesheet" href="{{ asset('bundles/lycheewebsite/bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/lycheewebsite/css/main.css') }}" />
    <style>
        .list-group span,
        .list-group button {
            margin-left: 5px;
        }
    </style>
    <script type="text/javascript" src="{{ asset('bundles/lycheewebsite/js/jquery-1.11.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lycheewebsite/bootstrap/js/bootstrap.js') }}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <nav >
            <ul class="pager">
                <li><a href="{{ path('lychee_website_extramessage_extramessageplays') }}">回到剧本列表</a></li>
                {% if currentPlay %}
                <li><a href="{{ path('lychee_website_extramessage_extramessage', {id: currentPlay.id}) }}">全剧本预览</a></li>
                {% endif %}
                <li><a href="{{ path('lychee_website_extramessage_extramessage', {id: manageId}) }}">从编辑处开始预览</a></li>
            </ul>
        </nav>
        {% if currentPlay %}
        <div class="page-header">
            <h1><a href="{{ path('lychee_website_extramessage_extramessageplaysmanage', {id: currentPlay.id}) }}">{{ currentPlay.subtitleline }}</a><small style="color: #d25988">{{ currentPlay.id }}</small></h1>
            <button type="button" class="btn btn-primary add_system_message" data-toggle="modal" data-target="#add_system_message" title="添加系统消息" data-id="{{ currentPlay.id }}" data-next-id="{{ currentPlay.next }}" data-type="{{ currentPlay.type }}">
                <span class="glyphicon glyphicon-plus"></span>系统消息
            </button>
            <button type="button" class="btn btn-primary add_somebody_message" data-toggle="modal" data-target="#add_somebody_message" title="添加对话消息" data-id="{{ currentPlay.id }}" data-next-id="{{ currentPlay.next }}" data-type="{{ currentPlay.type }}">
                <span class="glyphicon glyphicon-plus"></span>对话消息
            </button>
            <button type="button" class="btn btn-primary add_options" data-toggle="modal" data-target="#add_options" title="添加选项" data-id="{{ currentPlay.id }}" data-next-id="{{ currentPlay.next }}" data-type="{{ currentPlay.type }}">
                <span class="glyphicon glyphicon-plus"></span>选项
            </button>
            <button type="button" class="btn btn-primary edit_message" data-toggle="modal" data-target="#edit_message" title="编辑剧本名" data-id="{{ currentPlay.id }}" data-subtitleline="{{ currentPlay.subtitleline }}">
                <span class="glyphicon glyphicon-edit"></span>剧本名
            </button>
            <button type="button" class="btn btn-danger remove-play-head" data-toggle="modal" title="删除剧本" data-id="{{ currentPlay.id }}" >
                <span class="glyphicon glyphicon-trash"></span>剧本
            </button>
        </div>
        {% endif %}
        <ul class="list-group talk">

        </ul>
        <ul class="list-group options"></ul>

    </div>
    <div class="modal fade" id="add_system_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加系统消息</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_website_extramessage_addsystemmessage') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="system_message">系统消息</label>
                            <input type="text" class="form-control" id="system_message" name="system_message">
                            <input type="hidden" value="" name="current_id" class="current_id">
                            <input type="hidden" value="" name="current_next_id" class="current_next_id">
                            <input type="hidden" value="" name="current_type" class="current_type">
                            <input type="hidden" value="{{ manageId }}" name="manage_id" class="manage_id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">添 加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_somebody_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加对话消息</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_website_extramessage_addsomebodymessage') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="somebody_message">对话消息</label>
                            <input type="text" class="form-control" id="somebody_message" name="somebody_message">
                            <input type="hidden" value="" name="current_id" class="current_id">
                            <input type="hidden" value="" name="current_next_id" class="current_next_id">
                            <input type="hidden" value="" name="current_type" class="current_type">
                            <input type="hidden" value="{{ manageId }}" name="manage_id" class="manage_id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">添 加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_options" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加选项</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_website_extramessage_addoptions') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="options">选项1</label>
                            <input type="text" class="form-control options" name="options[]"/>
                        </div>
                        <div class="form-group">
                            <label for="options">选项2</label>
                            <input type="text" class="form-control options" name="options[]"/>
                        </div>
                        <input type="hidden" value="" name="current_id" class="current_id">
                        <input type="hidden" value="" name="current_next_id" class="current_next_id">
                        <input type="hidden" value="" name="current_type" class="current_type">
                        <input type="hidden" value="{{ manageId }}" name="manage_id" class="manage_id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">添 加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit_options" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改选项</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_website_extramessage_editoption') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="option_str">选项名字</label>
                            <input type="text" class="form-control" id="option_str" name="option_str" />
                        </div>
                        <div class="form-group">
                            <label for="option_next">下一句ID</label>
                            <input type="text" class="form-control" id="option_next" name="option_next" />
                        </div>
                        <input type="hidden" value="" name="current_id" class="current_id">
                        <input type="hidden" value="{{ manageId }}" name="manage_id" class="manage_id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改文字内容</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_website_extramessage_editmessage') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="subtitleline">文字内容</label>
                            <input type="text" class="form-control" id="subtitleline" name="subtitleline" />
                            <label for="message_next_id">下一句ID</label>
                            <input type="text" class="form-control" id="message_next_id" name="message_next_id" />
                        </div>

                        <input type="hidden" value="" name="current_id" class="current_id">
                        <input type="hidden" value="{{ manageId }}" name="manage_id" class="manage_id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $('body').delegate('.add_system_message', 'click', function () {
            $('#add_system_message .current_id').val($(this).data('id'));
            $('#add_system_message .current_next_id').val($(this).data('next-id'));
            $('#add_system_message .current_type').val($(this).data('type'));
        });

        $('body').delegate('.add_somebody_message', 'click', function () {
            $('#add_somebody_message .current_id').val($(this).data('id'));
            $('#add_somebody_message .current_next_id').val($(this).data('next-id'));
            $('#add_somebody_message .current_type').val($(this).data('type'));
        });

        $('body').delegate('.add_options', 'click', function () {
            $('#add_options .current_id').val($(this).data('id'));
            $('#add_options .current_next_id').val($(this).data('next-id'));
            $('#add_options .current_type').val($(this).data('type'));
        });

        $('body').delegate('.edit_options', 'click', function () {
            $('#edit_options .current_id').val($(this).data('id'));
            $('#edit_options #option_next').val($(this).data('next-id'));
            $('#edit_options #option_str').val($(this).data('str'));
        });
        $('body').delegate('.option-goto', 'click', function () {
            var nextId = $(this).data('next-id');
            var optionId = $(this).data('option-id');
            var content = $(this).text();
            $('.options').html('');
            $('.talk').append('<li class="list-group-item"><a href="' + managePath + '/' + optionId + '">' + content + '</a><span style="color: green">' + optionId + '</span><span style="color: #3accc2">' + nextId + '</span></li>');
            getNextPlay(nextId);
        });

        $('body').delegate('.edit_message', 'click', function () {
            $('#edit_message .current_id').val($(this).data('id'));
            $('#edit_message #subtitleline').val($(this).data('subtitleline'));
            $('#edit_message #message_next_id').val($(this).data('next-id'));

        });

        $('.remove-play-head').click(function () {
            if (!confirm("确定删除该剧本吗?删除后将无法展示该剧本")) {
                return false;
            }
            var currentId = $(this).data('id');
            var $form = $('<form method="post"></form>');
            $form.attr('action', '{{ path("lychee_website_extramessage_removeplayhead")|escape("js") }}');
            $form.append('<input type="hidden" name="current_id" value="' + currentId + '" />');
            $form.append('<input type="hidden" name="manage_id" value="' + {{ manageId }} + '" />');
            $('body').append($form);
            $form.submit();
            return false;
        });
        $('body').delegate('.remove-message', 'click', function () {
            if (!confirm("确定删除该条信息?")) {
                return false;
            }
            var currentId = $(this).data('id');
            var $form = $('<form method="post"></form>');
            $form.attr('action', '{{ path("lychee_website_extramessage_removemessage")|escape("js") }}');
            $form.append('<input type="hidden" name="current_id" value="' + currentId + '" />');
            $form.append('<input type="hidden" name="manage_id" value="' + {{ manageId }} + '" />');
            $('body').append($form);
            $form.submit();
            return false;
        });
        $('body').delegate('.remove-options', 'click', function () {
            if (!confirm("确定删除该选项?")) {
                return false;
            }
            var optionId = $(this).data('option-id');
            var $form = $('<form method="post"></form>');
            $form.attr('action', '{{ path("lychee_website_extramessage_removeoptions")|escape("js") }}');
            $form.append('<input type="hidden" name="option_id" value="' + optionId + '" />');
            $('body').append($form);
            $form.submit();
            return false;
        });

        var data = {{ data|raw }};
        var options = [];
        var playPath = '{{ path('lychee_website_extramessage_getplay') }}';
        var optionsPath = '{{ path('lychee_website_extramessage_getoptions') }}';
        var managePath = '{{ path('lychee_website_extramessage_extramessageplaysmanage') }}';
        function getjqXHRData(url, cb) {
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    cb(data);
                },
                error: function (data) {
                    console.error(data);
                }
            })
        }
        function getNextPlay(id) {
            var url = playPath + '/' + id;
            getjqXHRData(url, function (NextData) {
                data = NextData;
                mainLoop();
            });

        }
        function getNextOptions(id) {
            var url = optionsPath + '/' + id;
            getjqXHRData(url, function (nextOptions) {
                options = nextOptions;
                for (var i = 0; i < options.length ; i ++) {
                    $('.options').append('<li class="list-group-item"><button class="btn btn-default option-goto" data-next-id="' + options[i].next + '" data-option-id="' + options[i].optionId + '">' + options[i].optionStr + '</button><span style="color: green">' + options[i].optionId + '</span><span style="color: #3accc2">' + options[i].next + '</span><button type="button" class="btn btn-primary add_system_message" data-toggle="modal" data-target="#add_system_message" title="添加系统消息" data-id="'+ options[i].id + '" data-next-id="'+ options[i].next +'" data-type="3"> <span class="glyphicon glyphicon-plus"></span>系统消息 </button><button type="button" class="btn btn-primary add_somebody_message" data-toggle="modal" data-target="#add_somebody_message" title="添加对话消息" data-id="' + options[i].id + '" data-next-id="' +  options[i].next + '" data-type="3"> <span class="glyphicon glyphicon-plus"></span>对话消息 </button><button type="button" class="btn btn-primary add_options" data-toggle="modal" data-target="#add_options" title="添加选项" data-id="' +  options[i].id + '" data-next-id="' +  options[i].next + '" data-type="' +  data.type + '"> <span class="glyphicon glyphicon-plus"></span>选项 </button><button type="button" class="btn btn-primary edit_options" data-toggle="modal" data-target="#edit_options" title="编辑选项" data-id="' +  options[i].id + '" data-next-id="' +  options[i].next + '" data-str="' + options[i].optionStr + '"> <span class="glyphicon glyphicon-edit"></span>选项 </button><button type="button" class="btn btn-danger remove-options" data-toggle="modal" title="删除选项" data-option-id="' + options[i].optionId + '" > <span class="glyphicon glyphicon-trash"></span>选项 </button></li>')
                }
            });
        }
        function mainLoop() {
            if (!data.type) {
                //type=0 剧本线头
                if (data.next) {
                    getNextPlay(data.next);
                }
            }
            if (data.type == 1) {
                //type=1 系统消息
                $('.talk').append('<li class="list-group-item"><a href="' + managePath + '/' + data.id + '">' + data.subtitleline + '</a><span style="color: red">' + data.id + '</span><button type="button" class="btn btn-primary add_system_message" data-toggle="modal" data-target="#add_system_message" title="添加系统消息" data-id="'+ data.id + '" data-next-id="'+ data.next +'" data-type="'+ data.type + '"> <span class="glyphicon glyphicon-plus"></span>系统消息 </button><button type="button" class="btn btn-primary add_somebody_message" data-toggle="modal" data-target="#add_somebody_message" title="添加对话消息" data-id="' + data.id + '" data-next-id="' +  data.next + '" data-type="' +  data.type + '"> <span class="glyphicon glyphicon-plus"></span>对话消息 </button><button type="button" class="btn btn-primary add_options" data-toggle="modal" data-target="#add_options" title="添加选项" data-id="' +  data.id + '" data-next-id="' +  data.next + '" data-type="' +  data.type + '"> <span class="glyphicon glyphicon-plus"></span>选项 </button><button type="button" class="btn btn-primary edit_message" data-toggle="modal" data-target="#edit_message" title="编辑系统消息" data-id="' + data.id + '" data-subtitleline="' + data.subtitleline + '" data-next-id="' + data.next + '"> <span class="glyphicon glyphicon-edit"></span>系统消息 </button><button type="button" class="btn btn-danger remove-message" title="删除系统消息" data-id="' + data.id + '" > <span class="glyphicon glyphicon-trash"></span>系统消息 </button></li>');
                if (data.next) {
                    getNextPlay(data.next);
                }
            }
            if (data.type == 2) {
                //type = 2 对话消息
                $('.talk').append('<li class="list-group-item"><a href="' + managePath + '/' + data.id + '">' + data.subtitleline + '</a><span style="color: darkblue">' + data.id + '</span><button type="button" class="btn btn-primary add_system_message" data-toggle="modal" data-target="#add_system_message" title="添加系统消息" data-id="'+ data.id + '" data-next-id="'+ data.next +'" data-type="'+ data.type + '"> <span class="glyphicon glyphicon-plus"></span>系统消息 </button><button type="button" class="btn btn-primary add_somebody_message" data-toggle="modal" data-target="#add_somebody_message" title="添加对话消息" data-id="' + data.id + '" data-next-id="' +  data.next + '" data-type="' +  data.type + '"> <span class="glyphicon glyphicon-plus"></span>对话消息 </button><button type="button" class="btn btn-primary add_options" data-toggle="modal" data-target="#add_options" title="添加选项" data-id="' +  data.id + '" data-next-id="' +  data.next + '" data-type="' +  data.type + '"> <span class="glyphicon glyphicon-plus"></span>选项 </button><button type="button" class="btn btn-primary edit_message" data-toggle="modal" data-target="#edit_message" title="编辑对话消息" data-id="' + data.id + '" data-subtitleline="' + data.subtitleline + '" data-next-id="' + data.next + '"> <span class="glyphicon glyphicon-edit"></span>对话消息 </button><button type="button" class="btn btn-danger remove-message" title="删除对话信息" data-id="' + data.id + '" > <span class="glyphicon glyphicon-trash"></span>对话消息 </button></li>');
                if (data.next) {
                    getNextPlay(data.next);
                }
            }
            if (data.type == 3) {
                //type=3 options
                getNextOptions(data.id);
            }
        }
        mainLoop();
    });

</script>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>