<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>未知用户</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/unknownmessage_style.min.css') }}">
</head>
<body>
<div class="container">
    <ul class="talk">

    </ul>
    <ul class="options"></ul>
    <div class="tip" style="display: none">
        <a href="http://www.ciyo.cn/products#unknownmessage">欲知后事如何，点击下载异次元通讯app体验下嘛^_^</a>
    </div>
    {#<audio id='bg_sound' src="{{ asset('bundles/lycheewebsite/home/unknownmessage_source/ChillBells.mp3') }}"></audio>#}
    {#<audio id="btn_sound" src="{{ asset('bundles/lycheewebsite/home/unknownmessage_source/buttonMusic.mp3') }}"></audio>#}
    {#<div class="alert">#}
        {#<a id="begin" onclick="begin()">开始游戏</a>#}
    {#</div>#}
</div>
</body>
<script>
    (function (o) {
        var options = [];
        var data = {{ data|raw }};
        var host = '{{ host }}';
        var isTalkBegin = true;
        function getTalkDom() {
            return document.getElementsByClassName('talk')[0];
        }
        function getOptionsDom() {
            return document.getElementsByClassName('options')[0];
        }
        function createLi() {
            return document.createElement('li');
        }
        function createSpan() {
            return document.createElement('span');
        }
        function getTipDom() {
            return document.getElementsByClassName('tip')[0];
        }
        function getOfflineDom() {
            return document.getElementsByClassName('offline')[0];
        }
        function getBtnSound() {
            return document.getElementById('btn_sound');
        }
        function getBgSound() {
            return document.getElementById('bg_sound');
        }
        function clearOptionsDom() {
            getOptionsDom().innerHTML = '';
        }
        function setTalkHeight() {
            getTalkDom().style.height =  (document.body.offsetHeight - 102) + 'px';
        }
        function getAlertDom() {
            return document.getElementsByClassName('alert')[0];
        }
        function getParentDom() {
            return document.getElementsByClassName('container')[0];
        }
        function getBeginDom() {
            return document.getElementById('begin');
        }
        function getPendingTime(str) {
            var length = str.length;
            var pendingTime = length * 200 > 1500 ? length * 200 : 1500;
            return pendingTime;
        }
//        getBgSound().addEventListener('ended', function() {
//            this.currentTime = 0;
//            this.play();
//        }, false);

        function goto(event) {
//            getBtnSound().play();
            getOptionsDom().innerHTML = '';
            getTalkDom().lastChild.lastChild.textContent = event.target.textContent;
            getTalkDom().lastChild.lastChild.classList.remove('loading');
            var nextId = event.target.parentElement.getAttribute('next-id');
            if (nextId) {
                var url = host + '/extramessage/plays/' + nextId;
                getPlays(nextId);
            }
        }
        function mainLoop() {
            if (data) {
                if (data.type == 3) {
                    //type:3 options
                    getTalkDom().appendChild(createLi());
                    getTalkDom().lastChild.appendChild(createSpan());
                    getTalkDom().lastChild.classList.add('right');
                    getTalkDom().lastChild.lastChild.classList.add('loading');
                    getTalkDom().lastChild.scrollIntoView();
                    getOptions(data.id);
                }
                if (data.type == 1) {
                    //type:1 system
                    var state = 'begin';
                    var pendingTime = 0;
                    if (isTalkBegin) {
                        pendingTime = 200;
                        isTalkBegin = false;
                    }
                    else {
                        pendingTime = getPendingTime(data.subtitleline);
                    }
                    if (data.subtitleline.indexOf('上线') !== -1) {
                        state = 'online';
                    }
                    if (data.subtitleline.indexOf('下线') !== -1) {
                        state = 'offline';
                    }
                    setTimeout(function () {
                        getTalkDom().appendChild(createLi());
                        getTalkDom().lastChild.appendChild(createSpan());
                        getTalkDom().lastChild.classList.add('state', state);
                        getTalkDom().lastChild.lastChild.textContent = data.subtitleline;
                        getTalkDom().lastChild.scrollIntoView();
                        if (data.next) {
                            getPlays(data.next);
                        }

                    }, pendingTime)
                }
                if (data.type == 2) {
                    //miko
                    getTalkDom().appendChild(createLi());
                    getTalkDom().lastChild.appendChild(createSpan());
                    getTalkDom().lastChild.classList.add('left');
                    getTalkDom().lastChild.lastChild.classList.add('loading');
                    getTalkDom().lastChild.scrollIntoView();
                    setTimeout(function () {
                        getTalkDom().lastChild.lastChild.classList.remove('loading');
                        getTalkDom().lastChild.lastChild.textContent = data.subtitleline;
                        getTalkDom().lastChild.scrollIntoView();
                        if (data.next) {
                            getPlays(data.next);
                        }
                    }, getPendingTime(data.subtitleline))
                }
            }
        }
        function getPageXHR(url, cb) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.send();
            xhr.onreadystatechange = function(){
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        cb(xhr.responseText);
                    }
                }
            };
        }
        function getOptions(id) {
            var url = host + '/extramessage/options/' + id;
            getPageXHR(url, function (text) {
                options = JSON.parse(text);
                for(var i=0; i < options.length; i++) {
                    getOptionsDom().appendChild(createLi());
                    getOptionsDom().lastChild.appendChild(createSpan());
                    getOptionsDom().lastChild.className = 'option option' + (i + 1);
                    getOptionsDom().lastChild.lastChild.textContent = options[i].optionStr;
                    getOptionsDom().lastChild.setAttribute('next-id', options[i].next);
                    getOptionsDom().lastChild.setAttribute("onclick", "goto(event)");
                }
            })
        }
        function getPlays(id) {
            var url = host + '/extramessage/plays/' + id;
            getPageXHR(url, function (text) {
                data = JSON.parse(text);
                mainLoop();
            })
        }
//        function begin() {
//            getBtnSound().play();
//            getAlertDom().style.transform = 'scale(0.2, 0.2)';
//            getBeginDom().style.transform = 'scale(0.2 , 0.2)';
//            setTimeout(function() {
//                getParentDom().removeChild(getAlertDom());
//                getBgSound().play();
//                setTalkHeight();
//                mainLoop();
//            }, 701);
//        }
//        o.begin = begin;

        setTalkHeight();
        mainLoop();
        o.goto = goto;
    }(window))




</script>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>