<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>异次元通讯后台管理系统</title>
    {% stylesheets '@LycheeAdminBundle/Resources/public/template271/css/bootstrap.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/template271/css/footable.core.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/template271/css/animate.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/template271/css/style.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/template271/css/datepicker3.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/template271/css/datepicker3.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/template271/font-awesome/css/font-awesome.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        img{
            width: 100px;
            height: 100px;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="{{ asset('bundles/lycheeadmin/template271/images/head.jpg') }}" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Welcome User</strong>
                             </span> <span class="text-muted text-xs block">Sinojet<b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{ path('lychee_admin_signout') }}">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                {% set route=app.request.get('_route') %}
                <li class="{% if route == 'lychee_admin_extramessage_index' %}active{% endif %}">
                    <a href="{{ path('lychee_admin_extramessage_index') }}"><img alt="image" class="more-img" style="width: 15px;height: 15px;margin-right: 3px;vertical-align: middle;" src="{{ asset('bundles/lycheeadmin/template271/images/dashboard-s.png') }}" /><span class="nav-label" style="vertical-align: middle">Dashboard</span></a>
                </li>
                <li class="{% if route starts with 'lychee_admin_extramessage_user' %}active{% endif %}">
                    <a href="#"><img alt="image" class="more-img" style="width: 15px;height: 15px;margin-right: 3px;vertical-align: middle;" src="{{ asset('bundles/lycheeadmin/template271/images/user.png') }}" /><span class="nav-label" style="vertical-align: middle">用户管理</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="{% if route == 'lychee_admin_extramessage_user' %}active{% endif %}"><a href="{{ path('lychee_admin_extramessage_user') }}"><span class="nav-label" style="vertical-align: middle">用户查询</span></a></li>
                        <li class="{% if route == 'lychee_admin_extramessage_userhebing' %}active{% endif %}"><a href="{{ path('lychee_admin_extramessage_userhebing') }}"><span class="nav-label" style="vertical-align: middle">用户合并</span></a></li>
                    </ul>
                </li>
                <li class="{% if route == 'lychee_admin_extramessage_touwei' %}active{% endif %}">
                    <a href="{{ path('lychee_admin_extramessage_touwei') }}"><img alt="image" class="more-img" style="width: 15px;height: 15px;margin-right: 3px;vertical-align: middle;" src="{{ asset('bundles/lycheeadmin/template271/images/table.png') }}" /><span class="nav-label" style="vertical-align: middle">投喂查询</span></a>
                </li>
                <li class="{% if route == 'lychee_admin_extramessage_dictionary' %}active{% endif %}">
                    <a href="{{ path('lychee_admin_extramessage_dictionary') }}"><img alt="image" class="more-img" style="width: 15px;height: 15px;margin-right: 3px;vertical-align: middle;" src="{{ asset('bundles/lycheeadmin/template271/images/dictionary.png') }}" /> <span class="nav-label" style="vertical-align: middle">词典查询</span></a>
                </li>
                <li class="{% if route == 'lychee_admin_extramessage_tujian' %}active{% endif %}">
                    <a href="{{ path('lychee_admin_extramessage_tujian') }}"><img alt="image" class="more-img" style="width: 15px;height: 15px;margin-right: 3px;vertical-align: middle;" src="{{ asset('bundles/lycheeadmin/template271/images/photo.png') }}" /><span class="nav-label" style="vertical-align: middle">图鉴查询</span></a>
                </li>
                <li class="{% if route == 'lychee_admin_extramessage_daily' %}active{% endif %}">
                    <a href="{{ path('lychee_admin_extramessage_daily') }}"><img alt="image" class="more-img" style="width: 15px;height: 15px;margin-right: 3px;vertical-align: middle;" src="{{ asset('bundles/lycheeadmin/template271/images/daily.png') }}" /><span class="nav-label" style="vertical-align: middle">日志查询</span></a>
                </li>
                <li class="{% if route starts with 'lychee_admin_extramessage_promotioncode' %}active{% endif %}">
                    <a href="#"><i class="fa fa-gift" aria-hidden="true"></i><span class="nav-label" style="vertical-align: middle">礼品码</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="{% if route == 'lychee_admin_extramessage_promotioncode' %}active{% endif %}"><a href="{{ path('lychee_admin_extramessage_promotioncode') }}"><i class="fa fa-gift" aria-hidden="true"></i><span class="nav-label" style="vertical-align: middle">礼品码列表</span></a></li>
                        <li class="{% if route == 'lychee_admin_extramessage_promotioncodevendorrecords' %}active{% endif %}"><a href="{{ path('lychee_admin_extramessage_promotioncodevendorrecords') }}"><i class="fa fa-gift" aria-hidden="true"></i><span class="nav-label" style="vertical-align: middle">渠道记录</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><img alt="image" class="more-img" style="width: 15px;height: 15px;" src="{{ asset('bundles/lycheeadmin/template271/images/more.png') }}" /> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎来到异次元通讯后台管理系统</span>
                    </li>
                    <li>
                        <a href="{{ path('lychee_admin_signout') }}">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">

                <h2>{% block title %}{% endblock %}</h2>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">
            <div class="row">
                <table class="footable table table-stripped toggle-arrow-tiny">
                    <thead>
                {% block table %}{% endblock %}
                    </thead>
                    </table>
            </div>
        </div>
    </div>
</div>
<!-- Mainly scripts -->

{% javascripts '@LycheeAdminBundle/Resources/public/template271/js/jquery-3.1.1.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@LycheeAdminBundle/Resources/public/template271/js/bootstrap.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@LycheeAdminBundle/Resources/public/template271/js/jquery.metisMenu.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@LycheeAdminBundle/Resources/public/template271/js/jquery.slimscroll.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@LycheeAdminBundle/Resources/public/template271/js/inspinia.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@LycheeAdminBundle/Resources/public/template271/js/pace.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@LycheeAdminBundle/Resources/public/template271/js/footable.all.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@LycheeAdminBundle/Resources/public/template271/js/bootstrap-datepicker.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<!-- Page-Level Scripts -->
{% block script %}{% endblock %}

</body>

</html>
