{% extends 'LycheeAdminBundle:UserManagement:layout.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">资料</a></li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_postmanager_listbyauthor', {authorId: user.id}) }}">帖子</a>
        </li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_usermanagement_managertopics', {managerId: user.id}) }}">领主次元</a>
        </li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_usermanagement_commentsbyauthor', {authorId: user.id}) }}">用户评论</a>
        </li>
    </ul>
    <div style="margin-top: 20px;">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>手机</th>
                    <td>{{ user.areaCode }}-{{ user.phone }}</td>
                </tr>
                <tr>
                    <th>邮箱</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>昵称</th>
                    <td>{{ user.nickname }}</td>
                </tr>
                <tr>
                    <th>签名</th>
                    <td>{{ user.signature }}</td>
                </tr>
                <tr>
                    <th>注册时间</th>
                    <td>{{ user.createTime|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>头像</th>
                    <td>
                        {% if user.avatarUrl %}
                            <img src="{{ user.avatarUrl }}" alt="{{ user.id }}" style="max-width: 50px">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>性别</th>
                    <td>
                        {% if user.gender == constant('Lychee\\Bundle\\CoreBundle\\Entity\\User::GENDER_MALE') %}
                            男
                        {% else %}
                            {% if user.gender == constant('Lychee\\Bundle\\CoreBundle\\Entity\\User::GENDER_FEMALE') %}
                                女
                            {% else %}
                                未知
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>状态</th>
                    <td>
                        {% if user.frozen %}
                            已冻结
                        {% else %}
                            使用中
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>经验</th>
                    <td>{{ user.experience }}</td>
                </tr>
                <tr>
                    <th>等级</th>
                    <td>{{ user.level }}</td>
                </tr>
                <tr>
                    <th>年龄</th>
                    <td>{{ profile.age }}</td>
                </tr>
                <tr>
                    <th>所在地</th>
                    <td>{{ profile.location }}</td>
                </tr>
                <tr>
                    <th>领主次元</th>
                    <td></td>
                </tr>
                <tr>
                    <th>星座</th>
                    <td>{{ profile.constellation }}</td>
                </tr>
                <tr>
                    <th>血型</th>
                    <td>{{ profile.bloodType }}</td>
                </tr>
                <tr>
                    <th>学校</th>
                    <td>{{ profile.school }}</td>
                </tr>
                <tr>
                    <th>社团</th>
                    <td>{{ profile.community }}</td>
                </tr>
                <tr>
                    <th>粉丝数</th>
                    <td>{{ followers }}</td>
                </tr>
                <tr>
                    <th>登录方式</th>
                    <td>
                        {% if auth is not null %}
                            {% if auth.grantType == 'phone' %}
                                手机
                            {% elseif auth.grantType == 'qq' %}
                                QQ
                            {% elseif auth.grantType == 'wechat' %}
                                微信
                            {% elseif auth.grantType == 'weibo' %}
                                微博
                            {% else %}
                                未知
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>最后登录时间</th>
                    <td>{{ lastLogin }}</td>
                </tr>
                <tr>
                    <th>操作</th>
                    <td>
                        <button type="button" class="btn btn-default chat" data-user-id="{{ user.id }}" data-uesr-nickname="{{ user.nickname }}">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#nickname_win">
                            修改昵称
                        </button>
                        {% if user.frozen == false %}
                            <button class="btn btn-danger black-list">删除</button>
                        {% else %}
                            <button class="btn btn-default frozen_user_renew" user_id="{{ user.id }}">恢复</button>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#sensitive_words_win">
                            敏感词检测
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="freeze_user">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">冻结用户</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_usermanagement_block') }}">
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">这是一个危险操作!</div>
                        <p>确定冻结用户?</p>
                        <input type="hidden" name="user_id" id="user_id" value="{{ user.id }}">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="cascade_delete" value="1" checked> 同时删除帖子及评论
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="block_device" value="1" > 同时封锁设备
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
                        <button type="submit" class="btn btn-danger">确认!</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {#私信窗口#}
    <div class="modal fade" id="chat_win">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">私信</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_usermanagement_sendmessage') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="chat_from_name">发信人</label>
                            <input type="hidden" class="form-control" name="chat_from" id="chat_from" value="{{ ciyoUser.id }}">
                            <input type="text" class="form-control" id="chat_from_name" name="chat_from_name" disabled value="{{ ciyoUser.nickname }}">
                        </div>
                        <div class="form-group">
                            <label for="chat_to_name">收信人</label>
                            <input type="hidden" class="form-control" name="chat_to" id="chat_to">
                            <input type="text" class="form-control" id="chat_to_name" name="chat_to_name" disabled>
                        </div>
                        <div class="form-group">
                            <label for="message">内容</label>
                            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="send_msg">发 送</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {#修改昵称窗口#}
    <div class="modal fade" id="nickname_win">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">修改昵称</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_usermanagement_changenickname') }}">
                    <input type="hidden" name="id" value="{{ user.id }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="chat_from_name">原昵称</label>
                            <input type="text" class="form-control" disabled value="{{ user.nickname }}">
                        </div>
                        <div class="form-group">
                            <label for="message">新昵称</label>
                            <input type="text" class="form-control" name="nickname">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {#敏感词检测#}
    <div class="modal fade" id="sensitive_words_win">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">用户信息敏感词检测</h4>
                </div>
                    <div class="modal-body">
                        <div class="form-group" id="sensitive_words_plan">
                        </div>
                    </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $(".black-list").on("click", function() {
                $('#freeze_user').modal('show');

                return false;
            });
            $(".frozen_user_renew").on("click", function() {
                if (true === confirm("确定恢复此帐号？")) {
                    $.ajax("{{ path('lychee_admin_usermanagement_unfreeze') }}", {
                        type: "POST",
                        dataType: "json",
                        data: {
                            user_id: $(this).attr("user_id")
                        },
                        success: function() {
                            window.location.reload();
                        },
                        error: function() {
                            alert("发生未知错误！");
                        }
                    });
                }
            });
            var $chatWin = $('#chat_win');
            $('.chat').click(function() {
                $chatWin.modal('show');
                $('#chat_to').val($(this).data('user-id'));
                $('#chat_to_name').val($(this).data('uesr-nickname'));

                return false;
            });
            $('#send_msg').click(function() {
                $.ajax('{{ path("lychee_admin_usermanagement_sendmessage") }}', {
                    type: 'post',
                    dataType: 'json',
                    data: {
                        chat_to: $('#chat_to').val(),
                        chat_from: $('#chat_from').val(),
                        message: $('#message').val()
                    },
                    success: function() {
                        alert('发送成功');
                        $chatWin.modal('hide');
                    }
                });

                return false;
            });



            $sensitiveWordsPlan = $('#sensitive_words_plan');
            $sensitiveWordsWin = $('#sensitive_words_win');
            $sensitiveWordsWin.on('show.bs.modal', function (e) {
                $sensitiveWordsPlan.html('检测中......');
                $.getJSON('{{ path("lychee_admin_usermanagement_checksensitivewords", {userId: user.id}) }}', {}, function(data){
                    $sensitiveWordsPlan.empty();
                    $.each(data, function(k, v){
                        var $html = '';
                        var $ctx = v.value;
                        $.each(v.words, function(k2, v2){
                            $ctx = $ctx.replace(v2, '<b style="color:red;" >'+v2+'</b>');
                        });
                        $html = '<div class="form-group"><mark>'+v.title+'</mark> '+$ctx+'</div>';
                        $sensitiveWordsPlan.append($html);
                    });
                });
            });
        });
    </script>
{% endblock %}