{% extends 'LycheeAdminBundle:UserManagement:layout.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('lychee_admin_usermanagement_detail', {userId: managerId}) }}">资料</a></li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_postmanager_listbyauthor', {authorId: managerId}) }}">帖子</a>
        </li>
        <li role="presentation" class="active"><a href="#">领主次元</a></li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_usermanagement_commentsbyauthor', {authorId: managerId}) }}">用户评论</a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>创建时间</th>
                <th>帖子数量</th>
                <th>角标</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            {% for topic in topics %}
                <tr class="{{ topic.deleted? 'danger' }}">
                    <td><a href="{{ path('lychee_admin_topic_detail', {topicId: topic.id}) }}" target="_blank">{{ topic.id }}</a></td>
                    <td>{{ topic.title }}</td>
                    <td>{{ topic.createTime|date('Y-m-d H:i:s') }}</td>
                    <td>{{ topic.postCount }}</td>
                    <td>{{ topic.opMark }}</td>
                    <td>{{ topic.deleted? '已删除':'活跃' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pager">
            {% if cursor > 0 %}
                <li class="previous">
                    <a href="{{ path('lychee_admin_usermanagement_managertopics', {managerId: managerId, cursor: prevCursor}) }}">
                        <span aria-hidden="true">&larr;</span> 上一页
                    </a>
                </li>
            {% endif %}
            {% if nextCursor %}
                <li class="next">
                    <a href="{{ path('lychee_admin_usermanagement_managertopics', {managerId: managerId, cursor: nextCursor, prev_cursor: cursor}) }}">
                        下一页 <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}