<script>
    function showPostDetail(target) {
        var $btn = $(target);
        var url = "/inquiry/post/detail/" + $btn.data('post-id');
        window.open(url, "_blank");
    }
</script>
<script id="waterfall-tpl" type="text/x-handlebars-template">
    {% raw %}
    {{#result}}
    {{#if deleted}}
    <div class="card card-deleted card-{{id}}">
        {{else}}
        <div class="card card-{{id}}">
            {{/if}}
            <input type="hidden" class="post_id" value="{{id}}"/>
            {{#if isFavor}}
            <input type="hidden" class="favor_id" value="{{favorId}}"/>
            {{/if}}
            <div class="topic clearfix">
                <span>{{topic}}</span>
                <a class="pull-right" href="/inquiry/post/detail/{{id}}" target="_blank">{{id}}</a>
            </div>
            <div class="content">
                {{#if imageUrl}}
                <img class="image" src="{{imageUrl}}" alt="无图" onclick="showPostDetail(this)" data-post-id="{{id}}">
                {{/if}}
                <div class="author clearfix">
                    <span class="label label-info pull-right">{{type}}</span>
                    <img class="author" src="{{authorAvatar}}" alt="author"/>
                    <p><a href="/inquiry/user/detail/{{authorId}}" target="_blank">{{author}}</a></p>
                    <p class="create-time">{{createTime}}</p>
                </div>
                <p class="text">{{{content}}}</p>
            </div>
        </div>
        {{/result}}
        {% endraw %}
</script>