{% extends 'LycheeAdminBundle:Inquiry:layout.html.twig' %}
{% import 'LycheeAdminBundle::helper.html.twig' as helper %}

{% block body %}
    <ul class="nav nav-tabs" style="margin-bottom: 30px;">
        <li role="presentation">
            <a href="{{ path('lychee_admin_inquiry_topicdetail', {topicId: topicId}) }}">资料</a>
        </li>
        <li role="presentation" class="active"><a href="#">帖子</a></li>
    </ul>
    <input type="hidden" id="topic_id" value="{{ topicId }}"/>
    <div id="container"></div>
    <div class="all-loaded"><p class="bg-info">全部载入完毕</p></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/css/waterfall.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' output='js/post-manager.js'
        '@LycheeAdminBundle/Resources/public/js/handlebars-v2.0.0.js'
        '@LycheeAdminBundle/Resources/public/js/waterfall.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var $container = $("#container");
            var topicId = $("#topic_id").val();
            $container.waterfall({
                itemCls: 'card',
                dataType: 'json',
                colWidth: 250,
                gutterWidth: 15,
                gutterHeight: 15,
                path: function(cursor) {
                    cursor = $(".card").last().find(".post_id").eq(0).val();
                    if (typeof cursor === 'undefined') {
                        cursor = 0;
                    }

                    return '/inquiry/topic/load_posts/' + topicId + '/' + cursor;
                },
                callbacks: {
                    renderData: function (data, dataType) {
                        var tpl, template;

                        if ('json' === dataType) {
                            if (data.total > 0) {
                                tpl = $('#waterfall-tpl').html();
                                template = Handlebars.compile(tpl);

                                return template(data);
                            } else {
                                $container.waterfall("pause", function() {
                                    $(".all-loaded").show();
                                });
                            }
                        } else {
                            return data;
                        }
                    }
                }
            });
        });
    </script>
    {{ include('LycheeAdminBundle:Inquiry:postCard.html.twig') }}
{% endblock %}