{% extends 'LycheeAdminBundle:Analysis:layout.html.twig' %}

{% block body %}
    <div class="chart-container" id="container"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1,//null,
                    plotShadow: false
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '登录方式比例'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '登录比例',
                    data: [
                        ['QQ', {{ qq }}],
                        ['微博', {{ weibo }}],
                        ['微信', {{ wechat }}],
                        ['手机或邮箱', {{ others }}]
                    ]
                }]
            });
        });
    </script>
{% endblock %}