{% macro pagination(paginator, routeName) %}
    {% spaceless %}
    <ul class="pagination">
        {% set startPage = paginator.getStartPageNum() %}
        {% set cursor = paginator.getCursor() %}
        {% set step = paginator.getStep() %}
        {% set page = paginator.getPage() %}
        {% set pageCount = paginator.getPageCount() %}
        {% set maxPageCount = paginator.getMaxPageCount() %}
        <li><a href="{{ path(routeName) }}">&laquo;</a></li>
        {% for index in 0..maxPageCount - 1 %}
            {% set pageNum = index + startPage %}
            <li class="{{ page == pageNum? 'active' }}">
                <a href="{{ path(routeName,
                {'start_page': startPage, 'cursor': cursor, 'step': step, 'page': pageNum}) }}">
                    {{ pageNum }}{% if page == pageNum %} <span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
        {% endfor %}
        {% if maxPageCount == pageCount %}
            <li>
                <a href="{{ path(routeName,
                {'start_page': startPage + pageCount,
                'cursor': paginator.getNextCursor(),
                'step': step,
                'page': startPage + pageCount}) }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
    {% endspaceless %}
{% endmacro %}

{% macro newpage(paginator, routeName,query) %}
    {% spaceless %}
        <ul class="pagination">
            {% set startPage = paginator.getStartPageNum() %}
            {% set cursor = paginator.getCursor() %}
            {% set step = paginator.getStep() %}
            {% set page = paginator.getPage() %}
            {% set pageCount = paginator.getPageCount() %}
            {% set maxPageCount = paginator.getMaxPageCount() %}
            <li><a href="{{ path(routeName,{'query':query}) }}">&laquo;</a></li>
            {% for index in 0..maxPageCount - 1 %}
                {% set pageNum = index + startPage %}
                <li class="{{ page == pageNum? 'active' }}">
                    <a href="{{ path(routeName,
                    {'start_page': startPage, 'cursor': cursor, 'step': step, 'page': pageNum,'query':query}) }}">
                        {{ pageNum }}{% if page == pageNum %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
            {% endfor %}
            {% if maxPageCount == pageCount and paginator.getNextCursor()>0 %}
                <li>
                    <a href="{{ path(routeName,
                    {'start_page': startPage + pageCount,
                        'cursor': paginator.getNextCursor(),
                        'step': step,
                        'page': startPage + pageCount,'query':query

                    }) }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    {% endspaceless %}
{% endmacro %}

{% macro newpage2(paginator, routeName, query, params) %}
    {% spaceless %}
        <ul class="pagination">
            {% set startPage = paginator.getStartPageNum() %}
            {% set cursor = paginator.getCursor() %}
            {% set step = paginator.getStep() %}
            {% set page = paginator.getPage() %}
            {% set pageCount = paginator.getPageCount() %}
            {% set maxPageCount = paginator.getMaxPageCount() %}
            <li><a href="{{ path(routeName,{'query':query}) }}">&laquo;</a></li>
            {% for index in 0..maxPageCount - 1 %}
                {% set pageNum = index + startPage %}
                <li class="{{ page == pageNum? 'active' }}">
                    <a href="{{ path(routeName,
                    {'start_page': startPage, 'cursor': cursor, 'step': step, 'page': pageNum,'query':query}|merge(params)) }}">
                        {{ pageNum }}{% if page == pageNum %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
            {% endfor %}
            {% if maxPageCount == pageCount %}
                <li>
                    <a href="{{ path(routeName,
                    {'start_page': startPage + pageCount,
                        'cursor': paginator.getNextCursor(),
                        'step': step,
                        'page': startPage + pageCount,'query':query

                    }|merge(params)) }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    {% endspaceless %}
{% endmacro %}

{% macro pageWithCursor(previousCursor, nextCursor) %}
    {% spaceless %}
        <ul class="pagination">
            {% if previousCursor %}
                <li><a href="{{ path(app.request.get('_route'), {'cursor': previousCursor}) }}">&lt;上一页</a></li>
            {% endif %}
            {% if nextCursor %}
                <li><a href="{{ path(app.request.get('_route'), {'cursor': nextCursor}) }}">下一页&gt;</a></li>
            {% endif %}
        </ul>
    {% endspaceless %}
{% endmacro %}

{% macro createBtn(name) %}
    <button type="button" id="{{ name }}_btn" class="btn btn-primary" data-toggle="modal" data-target="#{{ name }}_form">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
{% endmacro %}

{% macro datePickers(startDatetime, endDatetime) %}
    {% set userAgent = app.request.server.get('HTTP_USER_AGENT') %}
    {% set isMobile = userAgent matches '/(android|iphone)/i' %}
    <style>
        .datepickers { display: inline-block; width: 45%; }
    </style>
    {% if isMobile %}
        <input type="datetime-local" class="form-control datepickers" name="start_datetime" value="{{ startDatetime }}">
        至
        <input type="datetime-local" class="form-control datepickers" name="end_datetime" value="{{ endDatetime }}">
    {% else %}
        <input type="text" class="form-control datepickers datepicker" name="start_datetime" value="{{ startDatetime }}">
        至
        <input type="text" class="form-control datepickers datepicker" name="end_datetime" value="{{ endDatetime }}">
    {% endif %}
{% endmacro %}

{% macro recommendationDateSearcher(date) %}
    <div class="pull-right date-search">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only">日期</label>
                <input type="text" class="form-control" name="date" id="date" value="{{ date }}">
            </div>
            <button type="submit" class="btn btn-default">查 询</button>
        </form>
    </div>
{% endmacro %}

{% macro tagForm(tags) %}
    {#收藏帖子打标签#}
    <div class="modal fade" id="set_tag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">打标签</h4>
                </div>
                <form role="form" method="post">
                    <input type="hidden" name="tag_post_id" id="tag_post_id">
                    <div class="modal-body">
                        {% for tag in tags %}
                            <div class="checkbox">
                                <label>
                                    <input class="tag-selector" type="checkbox" name="tag_ids[]" value="{{ tag.id }}">
                                    {{ tag.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">不打标签</button>
                        <button type="submit" id="tag_submit_btn" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro recommendColumns(typeName, type, columns) %}
    <h3>{{ typeName }}</h3>
    <ol class="sortable publish-columns" data-type="{{ type }}">
        {% for column in columns %}
            <li data-id="{{ column.id }}">
                <span class="glyphicon glyphicon-move sortable-move"></span>
                    <span>
                        <a target="_blank"
                           href="{{ path('lychee_admin_manualintervention_editcolumn', {columnId: column.id, type: 'element'}) }}">
                            {{ column.name }}
                        </a>
                    </span>
                <span> [{{ typeName }}]</span>
                <a href="#" class="pull-right delete-item" data-column-id="{{ column.id }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a class="pull-right unpublish-item" href="#" style="margin-right: 5px;" data-column-id="{{ column.id }}">下架</a>
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% macro chatWin(sender) %}
    {#私信窗口#}
    <div class="modal fade" id="chat_win">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">私信</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_contentaudit_sendmessage') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="chat_from_name">发信人</label>
                            <input type="hidden" class="form-control" name="chat_from" id="chat_from" value="{{ sender.id }}">
                            <input type="text" class="form-control" id="chat_from_name" name="chat_from_name" disabled value="{{ sender.nickname }}">
                        </div>
                        <div class="form-group">
                            <label for="chat_to_name">收信人</label>
                            <input type="hidden" class="form-control" name="chat_to" id="chat_to">
                            <input type="text" class="form-control" id="chat_to_name" name="chat_to_name" disabled>
                        </div>
                        <div class="form-group">
                            <label for="message">内容</label>
                            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="send_msg">发 送</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        $(document).ready(function() {
            var $chatWin = $('#chat_win');
            $('.chat').click(function() {
                $chatWin.modal('show');
                $('#chat_to').val($(this).data('user-id'));
                $('#chat_to_name').val($(this).data('uesr-nickname'));

                return false;
            });
            $('#send_msg').click(function() {
                $.ajax('{{ path("lychee_admin_contentaudit_sendmessage") }}', {
                    type: 'post',
                    dataType: 'json',
                    data: {
                        chat_to: $('#chat_to').val(),
                        chat_from: $('#chat_from').val(),
                        message: $('#message').val()
                    },
                    success: function() {
                        alert('发送成功');
                        $chatWin.modal('hide');
                    }
                });

                return false;
            });
        });
    </script>
{% endmacro %}

{% macro freeUser(ajax = 0, callback = '') %}
    <div class="modal fade" id="freeze_user">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">冻结用户</h4>
                </div>
                <form role="form" id="freeze_user_form" method="post" action="{{ path('lychee_admin_contentaudit_userblock') }}">
                    <input type="hidden" name="freeze_user_ajax" id="freeze_user_ajax" value="{{ ajax }}">
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">这是一个危险操作!</div>
                        <p>确定冻结用户?</p>
                        <input type="hidden" name="user_id" id="user_id">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="cascade_delete" value="1" checked> 同时删除帖子及评论
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="block_device" value="1" checked> 同时封锁设备
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
                        <button type="submit" class="btn btn-danger">确认!</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        $(document).ready(function() {
            $(".black-list").on("click", function() {
                $('#freeze_user').modal('show');
                var userId = $(this).attr('uid');
                $('#user_id').val(userId);

                return false;
            });

            var $freezeUserAjax = $('#freeze_user_ajax');
            $('#freeze_user_form').submit(function() {
                if ($freezeUserAjax.val() == 1) {
                    $.post($(this).attr('action'), $(this).serialize(), function(result) {
                        {% if callback %}{{ callback }}(result);{% endif %}
                    }, 'json');

                    return false;
                }
            });
        });
    </script>
{% endmacro %}

{% macro retrievalCustomizeContentNavs(type) %}
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li role="presentation" class="{% if app.request.get('_route') == 'lychee_admin_retrieval_customizecontent' %}active{% endif %}">
            <a href="{{ path('lychee_admin_retrieval_customizecontent', {type: type}) }}">帖子列表</a>
        </li>
        {% if type == constant('Lychee\\Bundle\\AdminBundle\\Entity\\CustomizeContent::TYPE_TOPIC') %}
            {% set typeName = '次元' %}
            {% set routerName = 'lychee_admin_retrieval_customizetopiclist' %}
        {% else %}
            {% set typeName = '用户' %}
            {% set routerName = 'lychee_admin_retrieval_customizeuserlist' %}
        {% endif %}
        <li role="presentation" class="{% if app.request.get('_route') == routerName %}active{% endif %}">
            <a href="{{ path(routerName) }}">{{ typeName }}管理</a>
        </li>
    </ul>
{% endmacro %}

{% macro recommendPostWin() %}
    <!-- Modal -->
    <div class="modal fade" id="create_item_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加帖子推荐</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_manualintervention_createrecommendation') }}" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="post"/>
                    <input type="hidden" id="callback_url" name="callback_url" value="{{ path('lychee_admin_manualintervention_postrecommendation') }}"/>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="target_id">推荐ID</label>
                            <input type="text" name="target_id" id="target_id" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="reason">推荐语</label>
                            <input type="text" name="reason" id="reason" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="image">封面</label>
                            <input type="file" name="image" id="image" class="form-control">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="stick_post" id="stick_post" value="1"> 置顶
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="publish_instantly" id="publish_instantly" checked> 马上发布
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="reason">发布日期</label>
                            <input type="text" name="publish_time" id="publish_time" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#image").fileinput({
                allowedFileTypes: ['image'],
                showUpload: false
            });
            $('#date').datetimepicker({
                format: 'yyyy-mm-dd',
                minView: 'month',
                autoclose: true
            });
            var $publishTime = $("#publish_time");
            $publishTime.datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true
            });
            $("#publish_instantly").click(function () {
                if (!$(this).prop("checked")) {
                    $publishTime.removeAttr("disabled");
                } else {
                    $publishTime.attr("disabled", "disabled");
                    $publishTime.val("");
                }
            });
        });
    </script>
{% endmacro %}

{% macro recommendLiveWin() %}
    <!-- Modal -->
    <div class="modal fade" id="create_item_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加直播推荐</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_manualintervention_createliverecommendation') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="pid">皮哲ID(只能填数字)</label>
                            <input type="text" name="pid" id="pid" class="form-control" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="launched">马上发布</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#date').datetimepicker({
                format: 'yyyy-mm-dd',
                minView: 'month',
                autoclose: true
            });
            function IsNumbers(val) {
                return /^\d*$/.test(val);
            }
            $('#launched').click(function(e) {
                var val = $('#pid').val();
                if(!IsNumbers(val)) {
                    alert("直播ID只能填数字");
                    e.preventDefault();
                }
                if(val == '') {
                    alert('id不能为空');
                    e.preventDefault();
                }
                
            })
        });
    </script>
{% endmacro %}

{% macro datetimePicker(defaultStartTime, defaultEndTime) %}
    <form class="form-inline" id="datetime-form">
        <div class="form-group">
            <label>起始时间</label>
            <input type="text" class="form-control datepicker" name="start_time" id="start_time" value="{{ defaultStartTime }}">
        </div>
        <div class="form-group">
            <label>结束时间</label>
            <input type="text" class="form-control datepicker" name="end_time" id="end_time" value="{{ defaultEndTime }}">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-default">查 询</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu back-tracking">
                <li><a data-val="0.5">回溯半小时</a></li>
                <li><a data-val="1">回溯 1 小时</a></li>
                <li><a data-val="2">回溯 2 小时</a></li>
            </ul>
        </div>
    </form>
    <script>
        $(document).ready(function() {
            var $startTime = $('#start_time');
            var $endTime = $('#end_time');
            $(".datepicker").datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                language: "zh-CN",
                todayHighlight: true,
                endDate: new Date(),
                autoclose: true
            });
            var $datetimeForm = $('#datetime-form');
            $datetimeForm.submit(function() {
                var endDateTimeStr = $endTime.val();
                var startDateTimeStr = $startTime.val();
                if (!startDateTimeStr || !endDateTimeStr) {
                    alert("请指定时间段");
                    return false;
                }
                var startDateTime = new Date(Date.parse(startDateTimeStr.replace(/-/g, "/")));
                var endDateTime = new Date(Date.parse(endDateTimeStr.replace(/-/g, "/")));
                if (startDateTime <= endDateTime) {
                    alert("起始时间必须晚于结束时间");
                    return false;
                }
            });
            $('.back-tracking a').click(function () {
                var $endTimeInput = $('#end_time');
                var $startTimeInput = $('#start_time');
                $startTimeInput.val($endTimeInput.val());
                var interval = $(this).data('val');
                var endTimeStamp = (new Date(Date.parse($endTimeInput.val().replace(/-/g, '/')))).getTime();
                var intervalMilliseconds;
                if (interval == 0.5) {
                    intervalMilliseconds = 1800 * 1000;
                } else if (interval == 1) {
                    intervalMilliseconds = 3600 * 1000;
                } else if (interval == 2) {
                    intervalMilliseconds = 2 * 3600 * 1000;
                }
                endTimeStamp = endTimeStamp - intervalMilliseconds;
                var newEndTime = new Date(endTimeStamp);
                var pad = '00';
                var month = (newEndTime.getMonth() + 1) + '';
                var date = newEndTime.getDate() + '';
                var hour = newEndTime.getHours() + '';
                var min = newEndTime.getMinutes() + '';
                $endTimeInput.val(
                        newEndTime.getFullYear() + '-' +
                        pad.substring(0, pad.length - month.length) + month + '-' +
                        pad.substring(0, pad.length - date.length) + date + ' ' +
                        pad.substring(0, pad.length - hour.length) + hour + ':' +
                        pad.substring(0, pad.length - min.length) + min
                );
                $datetimeForm.submit();

                return false;
            });
        });
    </script>
    <style>
        form#datetime-form { display: inline-block; width: auto; margin-left: 10px; }
    </style>
{% endmacro %}