{% extends 'LycheeAdminBundle:ContentAudit:layout.html.twig' %}
{% import 'LycheeAdminBundle::helper.html.twig' as helper %}

{% block body %}
    <div>
        {# DateTime Picker #}
            {{ helper.datetimePicker(
            app.request.get('start_time')|default(startTime|date('Y-m-d H:00:00')),
            app.request.get('end_time')|default(endTime|date('Y-m-d H:00:00'))) }}
        {# End DateTime Picker #}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>作者</th>
                    <th>帖子</th>
                    <th>评论</th>
                    <th>图片</th>
                    <th>创建时间</th>
                    <th><span class="glyphicon glyphicon-wrench"></span></th>
                </tr>
                </thead>
                <tbody>
                {% for row in result %}
                    {% set user = users[row.userId] %}
                    <tr class="tr-user-{{ user.id }}">
                        <td>{{ row.id }}</td>
                        <td>
                            <a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: user.id}) }}" target="_blank">
                                {{ user.nickname }}
                            </a>
                        </td>
                        <td>{% if row.targetId in posts|keys %}{{ posts[row.targetId].content }}{% endif %}</td>
                        <td>{% if row.targetId in comments|keys %}{{ comments[row.targetId].content }}{% endif %}</td>
                        <td>
                            {% if row.type == constant('Lychee\\Module\\ContentAudit\\Entity\\AntiRubbish::TYPE_POST') %}
                                {% for img in postImgs[row.targetId] %}
                                    <a href="{{ img }}" target="_blank">
                                        <img src="{{ img|resizeImage(100, 100) }}">
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{ row.createTime|date('Y-m-d H:i') }}</td>
                        <td>
                            <button type="button" class="btn btn-default chat" data-user-id="{{ user.id }}"
                                    data-uesr-nickname="{{ user.nickname }}">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                            {% if false == user.frozen %}
                                <button type="button" class="btn btn-danger black-list" uid="{{ user.id }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <a href="{{ path('lychee_admin_contentaudit_postlistbyauthor', {'authorId': user.id}) }}"
                                   target="_blank">
                                    查看所有帖子
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="{{ path('lychee_admin_contentaudit_antirubbish',
                        {page: 1, start_time: app.request.get('start_time'), end_time: app.request.get('end_time')}) }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% if pageCount == 0 %}{% set pageCount = 1 %}{% endif %}
                    {% for p in 1..pageCount %}
                        <li class="{{ p==page? 'active' }}">
                            <a href="{{ path('lychee_admin_contentaudit_antirubbish',
                            {page: p,
                                start_time: app.request.get('start_time'),
                                end_time: app.request.get('end_time')
                            }) }}">
                                {{ p }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{{ path('lychee_admin_contentaudit_antirubbish',
                        {
                            page: pageCount,
                            start_time: app.request.get('start_time'),
                            end_time: app.request.get('end_time')
                        }) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    {{ helper.chatWin(ciyoUser) }}
    {{ helper.freeUser(1, 'freezeUser') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?jsqueeze' output='js/contentaudit_anti_rubbish.js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        function freezeUser(result) {
            $('#freeze_user').modal('hide');
            var userId = $('#user_id').val();
            $('.tr-user-' + userId).css('opacity', '0.2');
        };
    </script>
{% endblock %}