{% extends 'LycheeAdminBundle:ContentAudit:layout.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('lychee_admin_contentaudit_userdetail', {userId: authorId}) }}">资料</a></li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_contentaudit_postlistbyauthor', {authorId: authorId}) }}">帖子</a>
        </li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_contentaudit_managertopics', {managerId: authorId}) }}">领主次元</a>
        </li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_contentaudit_commentsbyauthor', {authorId: authorId}) }}">用户评论</a>
        </li>
        <li role="presentation">
            <a href="{{ path('lychee_admin_contentaudit_rechargedetail', {authorId: authorId}) }}">用户充值明细</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">用户兑换明细</a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>兑换时间</th>
                <th>兑换次元币</th>
                <th>兑换项</th>
                <th>订单号</th>
            </tr>
            </thead>
            <tbody>
            {% if items | length > 0 %}
                {% for item in items %}
                    <tr>
                        <td>{{ item.finish_time }}</td>
                        <td>{{ item.ciyo_total_fee }}</td>
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.out_trade_no }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            <li>
                <a href="{{ path('lychee_admin_contentaudit_exchangedetail', {authorId: authorId, page: page}) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if pageCount < 1 %}{% set pageCount = 1 %}{% endif %}
            {% for p in 1..min(10, pageCount) %}
                <li class="{{ p==page? 'active' }}">
                    <a href="{{ path('lychee_admin_contentaudit_exchangedetail', {authorId: authorId, page: p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ path('lychee_admin_contentaudit_exchangedetail', {authorId: authorId, page: pageCount}) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}