{% extends 'LycheeAdminBundle:ContentAudit:layout.html.twig' %}
{% import 'LycheeAdminBundle::helper.html.twig' as helper %}

{% block body %}
    <div class="content-audit">
        <div class="content-audit-form">
            <div class="col-lg-4 pull-right">
                <form>
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="帖子ID" id="query"
                               value="{{ app.request.get('query')|default('') }}">
                        <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">搜索</button>
                </span>
                    </div><!-- /input-group -->
                </form>
            </div>
            <form class="form-inline">
                {% set userAgent = app.request.server.get('HTTP_USER_AGENT') %}
                {% set isMobile = userAgent matches '/(android|iphone)/i' %}
                <div class="form-group">
                    <label for="exampleInputEmail2">开始时间</label>
                    {% if isMobile %}
                        <input type="datetime-local" class="form-control datepickers" name="end_datetime" value="{{ endDateTime }}">
                    {% else %}
                        <input type="text" class="form-control datepickers datepicker" name="end_datetime" value="{{ endDateTime }}">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">结束时间</label>
                    {% if isMobile %}
                        <input type="datetime-local" class="form-control datepickers" name="start_datetime" value="{{ startDateTime }}">
                    {% else %}
                        <input type="text" class="form-control datepickers datepicker" name="start_datetime" value="{{ startDateTime }}">
                    {% endif %}
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">搜索</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('lychee_admin_contentaudit_index', {interval: '60', end_datetime: startDateTime}) }}">
                                回溯1小时
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('lychee_admin_contentaudit_index', {interval: '30', end_datetime: startDateTime}) }}">
                                回溯30分钟
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('lychee_admin_contentaudit_index', {interval: '15', end_datetime: startDateTime}) }}">
                                回溯15分钟
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="notice">*如卡片右上角有垃圾桶图标，代表该图对应的帖子已删除。</p>
            </form>
        </div>
        <input type="hidden" id="next_cursor" value="0">
        <div class="placehold"></div>
        <div id="container"></div>
        <div class="all-loaded"><p class="bg-info">全部载入完毕</p></div>
    </div>
    {{ helper.tagForm(tags) }}
    {% javascripts filter='?jsqueeze' output='js/contentaudit.js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js'
        '@LycheeAdminBundle/Resources/public/js/datepicker.js'
        '@LycheeAdminBundle/Resources/public/js/handlebars-v2.0.0.js'
        '@LycheeAdminBundle/Resources/public/js/waterfall.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            var $container = $("#container");
            var $setTag = $('#set_tag');
            var containerWidth = $('#container').width();
            var cardGutter = 15;
            var cardWidth = 240;
            var $query = $('#query');
            if ($(window).width() < 768) {
                cardGutter = 5;
                cardWidth = containerWidth / 2 - 2 * cardGutter;
                $('body').append("<style>.card{width: " + cardWidth + "px !important;}</style>");
            }
            var $nextCursor = $('#next_cursor');

            $container.waterfall({
                itemCls: 'card',
                dataType: 'json',
                colWidth: cardWidth,
                gutterWidth: cardGutter,
                gutterHeight: cardGutter,
                path: function(cursor) {
                    var startDatetime = $("input[name=start_datetime]").eq(0).val();
                    var endDatetime = $("input[name=end_datetime]").eq(0).val();
                    var urlPrefix = '/audit/load_posts/';

                    cursor = $nextCursor.val();
                    if (!cursor) {
                        cursor = 0;
                    }
                    if ($.isNumeric($query.val())) {
                        return urlPrefix + cursor + "?query=" + $query.val() + "&cursor=" + $nextCursor.val();
                    }

                    return urlPrefix + cursor + "?start=" +
                            encodeURIComponent(startDatetime) + "&end=" + encodeURIComponent(endDatetime);
                },
                callbacks: {
                    renderData: function (data, dataType) {
                        var tpl, template;

                        if ('json' === dataType) {
                            $nextCursor.val(data.nextCursor);
                            if (data.total > 0) {
                                tpl = $('#waterfall-tpl').html();
                                template = Handlebars.compile(tpl);

                                return template(data);
                            } else {
                                $container.waterfall("pause", function() {
                                    $(".all-loaded").show();
                                });
                            }
                        } else {
                            return data;
                        }
                    }
                }
            });

            $setTag.on('hidden.bs.modal', function () {
                $('.tag-selector').prop('checked', false);
            });
            var $tagSelector = $('.tag-selector');
            $('#tag_submit_btn').click(function() {
                var tagIds = [];
                var $selectedTags = $tagSelector.filter(':checked');
                for (var i in $selectedTags) {
                    tagIds.push($selectedTags.eq(i).val());
                }
                $.ajax("{{ path('lychee_admin_contentmanagement_addposttotag') }}", {
                    type: 'post',
                    dataType: 'json',
                    data: {
                        post_id: $('#tag_post_id').val(),
                        tag_ids: tagIds
                    },
                    success: function() {
                        $setTag.modal('hide');
                    }
                });
                return false;
            });
        });

        function delPost(target) {
            var $targetCard = $(target).parent().parent();
            if ($targetCard.hasClass('post-content')) {
                $targetCard = $targetCard.parent().parent();
            }
            var postId = $(target).data("id");
            var $img = $(target).parent().prev().find('img.image');
            var imgUrl = '';
            if (!confirm("（！！！危险操作）确定删除（删除后数据不可恢复）？")) {
                return false;
            }
            if ($img.length > 0) {
                imgUrl = $img.eq(0).attr('src');
            }
            if ($targetCard.data('type') === '资源') {
                $('.card-' + postId).addClass('card-deleted');
            } else {
                $targetCard.addClass('card-deleted');
            }
            $.ajax("{{ path('lychee_admin_contentaudit_deletecontent') }}", {
                type: "POST",
                dataType: "json",
                data: {
                    post_id: postId,
                    img_url: imgUrl
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    if (errorThrown) {
                        alert(errorThrown);
                    } else {
                        alert("发生未知错误");
                    }
                },
                success: function() {
                    $targetCard.find(".operation button").attr("disabled", "disabled");
                }
            });
        }

        function switchFavor(target) {
            var postType = $('#type').val();
            var postId = $(target).data("id");
            var notFavor = $(target).find('.glyphicon-heart-empty').length;
            if (notFavor) {
                $('#tag_post_id').val(postId);
                $('#set_tag').modal('show');
            }
            if (notFavor && 3 == postType) { // 折叠帖子
                if (!confirm('收藏折叠帖子的同时会恢复帖子，确认继续吗？')) {
                    return false;
                }
            }
            $.ajax("{{ path('lychee_admin_contentmanagement_togglepostfavor') }}", {
                type: "post",
                dataType: "json",
                data: {
                    type: postType,
                    id: postId
                },
                success: function(data) {
                    if ("undefined" !== typeof data.deleted) {
                        var $btns = $(".card-" + postId + " button.favor span.glyphicon");
                        $btns.toggleClass('glyphicon-heart-empty glyphicon-heart');
                    }
                }
            });
        }
        function unfold(target) {
            var id = $(target).data('id');
            var $postCard = $('.card-' + id);
            if (confirm('确定恢复该折叠帖子？')) {
                $postCard.addClass('card-deleted');
                $.ajax("{{ path('lychee_admin_contentmanagement_postunfold') }}", {
                    type: "post",
                    dataType: "json",
                    data: {
                        id: id
                    },
                    success: function() {
                        $postCard.find(".operation button").attr("disabled", "disabled");
                    }
                });
            }
            return false;
        }
        function hoverCard(id) {
            var $cards = $('.card-' + id);
            $cards.addClass('card-hover');
        }
        function normalCard(id) {
            var $cards = $('.card-' + id);
            $cards.removeClass('card-hover');
        }
    </script>
    <script id="waterfall-tpl" type="text/x-handlebars-template">
        {% raw %}
            {{#result}}
                <div class="card card-{{id}}" onmouseover="hoverCard({{id}})" onmouseout="normalCard({{id}})" data-type="{{type}}">
                    <input type="hidden" class="post_id" value="{{id}}"/>
                    <div class="content">
                        {{#if imageUrl}}
                            <img class="image" src="{{imageUrl}}" alt="无图" onclick="showPostDetail(this)" data-post-id="{{id}}">
                        {{else}}
                            <div class="post-content">
                                <div>
                                    <a class="card-link" href="/topic/detail/{{topicId}}" target="_blank">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        {{topicName}}
                                    </a>
                                </div>
                                <div>
                                    <a class="card-link" href="/audit/user/detail/{{authorId}}" target="_blank">
                                        <span class="glyphicon glyphicon-user"></span>
                                        {{#if authorName}}{{authorName}}{{else}}[{{authorId}}]{{/if}}
                                    </a>
                                </div>
                                {{#if type}}
                                    <div>
                                        <span class="label label-primary">{{type}}</span>
                                    </div>
                                {{/if}}
                                <p>{{{content}}}</p>
                                <div>
                                    <button class="btn btn-default favor" data-id="{{id}}" onclick="switchFavor(this)">
                                        {{#if favor}}
                                        <span class="glyphicon glyphicon-heart"></span>
                                        {{else}}
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                        {{/if}}
                                    </button>
                                    <a class="btn btn-default" href="/audit/post/{{id}}" target="_blank">详情</a>
                                    {{#if link}}
                                    <a class="btn btn-default" href="{{link}}" target="_blank">链接</a>
                                    {{/if}}
                                    <button class="btn btn-danger" data-id="{{id}}" onclick="delPost(this)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    <button class="btn btn-default folded-post" data-id="{{id}}" onclick="unfold(this)">恢复</button>
                                    {{#if imageUrl}}
                                    <p class="content-in-operation">{{content}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                        {{#if deleted}}
                            <div class="post-deleted">
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        {{/if}}
                    </div>
                    {{#if imageUrl}}
                        <div class="operation">
                            <button class="btn btn-default favor" data-id="{{id}}" onclick="switchFavor(this)">
                                {{#if favor}}
                                    <span class="glyphicon glyphicon-heart"></span>
                                {{else}}
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                {{/if}}
                            </button>
                            <a class="btn btn-default" href="/audit/post/{{id}}" target="_blank">详情</a>
                            {{#if link}}
                                <a class="btn btn-default" href="{{link}}" target="_blank">链接</a>
                            {{/if}}
                            <button class="btn btn-danger" data-id="{{id}}" onclick="delPost(this)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button class="btn btn-default folded-post" data-id="{{id}}" onclick="unfold(this)">恢复</button>
                            {{#if imageUrl}}
                                <p class="content-in-operation">{{content}}</p>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            {{/result}}
        {% endraw %}
    </script>

    {% if not isMobile %}
        <style>
            .placehold { height: 28px; }
            .content-audit-form { position: fixed; background-color: white; z-index: 900; top: 71px; }
            /*form.form-inline { position: fixed; width: 100%; background-color: white; z-index: 900; top: 71px; }*/
        </style>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}