{% extends 'LycheeAdminBundle:Game:layout.html.twig' %}
{% block body %}
    <button type="button" id="create_column_btn" class="btn btn-primary" data-toggle="modal"
            data-target="#create_column_form">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>栏目名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if columns | length > 0 %}
                {% for column in columns %}
                    <tr>
                        <td>{{ column.title }}</td>
                        <td>
                            <button class="btn btn-default edit-column" data-column-id="{{ column.id }}" data-column-title="{{ column.title }}" data-toggle="modal" data-target="#edit_column_form" title="修改栏目名字">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="create_column_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加{{ subTitle }}</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_game_addcolumn') }}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="column_title">栏目名称(不多于20字)</label>
                            <input type="text" name="column_title" id="column_title" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary create_submit">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="edit_column_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改栏目标题</h4>
                </div>
                <form role="form" method="post" action="{{ path('lychee_admin_game_editcolumn') }}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="column_id" id="column_id">
                            <label for="column_title">栏目名称(不多于20字)</label>
                            <input type="text" name="column_title" id="column_title" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary edit_submit">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .nav-tabs { margin-bottom: 10px; }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function () {
            $(".edit_submit").click(function () {
                var columnTitle = $('#edit_column_form #column_title').val();
                if (columnTitle.length > 20) {
                    alert("栏目名称不能多于20个字")
                    return false;
                }
                if (!columnTitle) {
                    alert("栏目名字不能为空");
                    return false;
                }
            });
            $(".create_submit").click(function () {
                var columnTitle = $('#create_column_form #column_title').val();
                if (columnTitle.length > 20) {
                    alert("栏目名称不能多于20个字")
                    return false;
                }
                if (!columnTitle) {
                    alert("栏目名字不能为空");
                    return false;
                }
            });
            $(".delete-column").click(function () {
                if (confirm("确认删除？")) {
                    var $form = $('<form></form>');
                    $form.attr("action", "{{ path('lychee_admin_game_deletecolumn') }}");
                    $form.attr("method", "post");
                    $form.append('<input type="hidden", name="column_id" value="' + $(this).data('column-id') + '">');
                    $("body").append($form);
                    $form.submit();
                }

                return false;
            });
            $(".edit-column").click(function () {
                $("#edit_column_form #column_id").val($(this).data('column-id'));
                $("#edit_column_form #column_title").val($(this).data('column-title'));
            });
        });
    </script>
{% endblock %}
