{% extends 'LycheeAdminBundle:Game:layout.html.twig' %}
{% block body %}
    <form role="form" method="post" action="{{ path('lychee_admin_game_creategame') }}"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="form-group">
                <label for="app_name">应用名称</label>
                <input type="text" name="app_name" id="app_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="icon">游戏图标</label>
                <input type="file" class="form-control icon" name="icon" id="icon">
            </div>
            <div class="form-group">
                <label for="">一句话描述</label>
                <input type="text" name="short_description" id="short_description" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">描述</label>
                <textarea name="description" id="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="app_type">应用类型 (必填，无游戏分类选择时，请先新建游戏分类) </label>
                <select class="form-control" name="app_type" id="app_type">
                    {% if categories | length > 0 %}
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="app_publisher">发行商</label>
                <input type="text" name="app_publisher" id="app_publisher" class="form-control">
            </div>
            <div class="form-group">
                <label for="player_numbers">玩家人数</label>
                <input type="text" name="player_numbers" id="player_numbers" class="form-control">
            </div>
            <div class="form-group">
                <label for="ios_size">iOS文件大小</label>
                <input type="text" name="ios_size" id="ios_size" class="form-control">
            </div>
            <div class="form-group">
                <label for="android_size">Android文件大小</label>
                <input type="text" name="android_size" id="android_size" class="form-control">
            </div>
            <div class="form-group">
                <label for="ios_link">iOS链接</label>
                <input type="text" name="ios_link" id="ios_link" class="form-control">
            </div>
            <div class="form-group">
                <label for="android_link">Android链接</label>
                <input type="text" name="android_link" id="android_link" class="form-control">
            </div>
            <div class="form-group">
                <label for="screenshots">截图</label>
                <input type="file" class="form-control screenshots" name="screenshots[]">
                <button type="button" class="btn btn-default" id="add_screenshot">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="banner">封面</label>
                <input type="file" class="form-control banner" name="banner" id="banner">
            </div>
            <div class="form-group">
                <label for="topic_id">关联次元ID</label>
                <input type="text" class="form-control" name="topic_id" id="topic_id">
            </div>
            <div class="form-group">
                <label for="launch_date">上线日期</label>
                <input type="text" class="form-control" name="launch_date" id="launch_date">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">保 存</button>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@fileinput_css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        .nav-tabs { margin-bottom: 10px; }
        form {
            padding-bottom: 200px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@fileinput_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            var fileinputConfig = {
                allowedFileTypes: ['image'],
                showUpload: false
            };
            $(".icon, .banner, .screenshots").fileinput(fileinputConfig);
            $("#add_screenshot").on("click", function() {
                var $fileUpload = $('<input type="file" class="form-control screenshots" name="screenshots[]">');
                $(this).before($fileUpload);
                $fileUpload.fileinput(fileinputConfig);

                return false;
            });
            $("button[type=submit]").click(function () {
                if (!$("#icon").val()) {
                    alert("请上传图标");
                    return false;
                }
                if (!$("#app_type").val()) {
                    alert("游戏分类必填，请先选择或到游戏分类下新建游戏分类");
                    return false;
                }
            });

            $('#launch_date').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                language: "zh-CN",
                todayHighlight: true
            });
        });
    </script>
{% endblock %}