{% extends 'LycheeAdminBundle:Analysis:layout.html.twig' %}

{% block body %}
    <div>
        <div class="pull-right">
            {% set currentRouteName = app.request.get('_route') %}
            <a href="{{ path(currentRouteName) }}">14日</a> |
            <a href="{{ path(currentRouteName, {'limit': 30}) }}">30日</a> |
            <a href="{{ path(currentRouteName, {'limit': 90}) }}">90日</a>
        </div>
        <p>每日新增</p>
        <div class="chart-container" id="daily_count"></div>
    </div>
    <p class="text-warning">* 每日活跃用户：每日至少一次登录并使用次元应用的用户量。</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("#daily_count").highcharts({
                chart: {
                    backgroundColor: '#EEE'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '每日{{ subTitle }}'
                },
                xAxis: {
                    categories: [{{ dates|raw }}]
                },
                yAxis: {
                    title: {
                        text: '数量'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: '{{ subTitle }}',
                    data: [{{ daily }}]
                }]
            });
        });
    </script>
{% endblock %}