{% extends 'LycheeAdminBundle:Analysis:layout.html.twig' %}

{% block body %}
    <form class="form-horizontal" role="form" action="{{ path('lychee_admin_analysis_exportcsv') }}" method="post">
        <p>指定导出数据类型</p>
        <div style="margin-bottom: 15px;">
            <label class="radio-inline">
                <input type="radio" name="type" id="inlineRadio1" value="all" checked> 全部
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" id="inlineRadio2" value="income"> 直播收入
            </label>
        </div>
        <p>马上导出：</p>
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="last_month">上一个月</button>
            <button type="button" class="btn btn-default" id="last_30">过去30日</button>
        </div>
        <p>指定日期：</p>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-4">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="text" name="start_date" id="start_date" class="form-control datepicker" value="">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-control data-arrow"><span class="glyphicon glyphicon-arrow-right"></span></div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="text" name="end_date" id="end_date" class="form-control datepicker" value="">
                </div>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary form-control">导 出</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker/datepicker3.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker/bootstrap-datepicker.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@LycheeAdminBundle/Resources/public/datepicker/locales/bootstrap-datepicker.zh-CN.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            var dd = new Date();

            dd.setDate(dd.getDate() + 1);
            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                language: "zh-CN",
                todayHighlight: true,
                endDate: dd
            });
            $(".btn-group button").on("click", function() {
                var duration = 'last month';
                if ($(this).attr("id") === 'last_30') {
                    duration = 'last 30 days';
                }
                {#$.ajax("{{ path('lychee_admin_analysis_exportcsv') }}", {#}
                    {#type: "POST",#}
                    {#dataType: "json",#}
                    {#data: {#}
                        {#duration: duration#}
                    {#},#}
                    {#success: function(data) {#}
                        {#console.log(data);#}
                    {#},#}
                    {#error: function(jqXHR, textStatus, errorThrown) {#}
                        {#if (errorThrown) {#}
                            {#alert(errorThrown);#}
                        {#} else {#}
                            {#alert("发生未知错误");#}
                        {#}#}
                    {#}#}
                {#});#}
                var $form = $('<form></form>');
                $form.attr('method', 'post').attr('action', "{{ path('lychee_admin_analysis_exportcsv') }}")
                        .attr('target', '_blank');
                $form.append('<input type="hidden" name="duration" value="' + duration + '">');
                $(document.body).append($form);
                $form.submit();
            });
        });
    </script>
{% endblock %}