{% extends 'LycheeAdminBundle:Analysis:layout.html.twig' %}

{% block body %}
    <form class="form-inline">
        <div class="form-group">
            <label for="date">查询日期</label>
            <input type="text" class="form-control datepicker" id="date" name="date" value="{{ queryDate|date('Y-m-d') }}">
        </div>
        <div class="form-group">
            <label for="order">排序方式</label>
            <select name="order" id="order" class="form-control">
                <option value="1" {% if queryOrder == 1 %}selected{% endif %}>按访问量排序</option>
                <option value="2" {% if queryOrder == 2 %}selected{% endif %}>按唯一访问量排序</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">查询</button>
    </form>
    <p class="text-muted" style="margin-top: 20px;">当日被访问的次元数量：{{ result|length }}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>次元ID</th>
                <th>次元</th>
                <th>
                    {% if queryOrder == 1 %}
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    {% endif %}
                    <span>访问量</span>
                </th>
                <th>
                    {% if queryOrder == 2 %}
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    {% endif %}
                    <span>唯一访问量（一个用户访问多次只算作一次）</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for log in result %}
                <tr>
                    <td>
                        <a href="{{ path('lychee_admin_topic_detail', {topicId: log.topicId}) }}" target="_blank">
                            {{ log.topicId }}
                        </a>
                    </td>
                    <td>{{ topics[log.topicId].title }}</td>
                    <td>{{ log.views }}</td>
                    <td>{{ log.uniViews }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' output='js/analysis-datetimepicker.js'
        '@LycheeAdminBundle/Resources/public/bootstrap/js/bootstrap.js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/bootstrap-datetimepicker.min.js'
        '@LycheeAdminBundle/Resources/public/datepicker2/js/locales/bootstrap-datetimepicker.zh-CN.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $(".datepicker").datetimepicker({
                format: "yyyy-mm-dd",
                language: "zh-CN",
                todayHighlight: true,
                minView: 'month'
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LycheeAdminBundle/Resources/public/datepicker2/css/bootstrap-datetimepicker.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}