<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>{{ topic.title }}</title>
    <link rel="apple-touch-icon-precomposed" href="{{ topic.indexImageUrl | resizeImage(160, 160) }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ topic.indexImageUrl | resizeImage(160, 160) }}">
</head>
<body>
<style>
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}html{background-color:#fff}body{font-size:15px}header{width:100%;height:45px;background-color:#5ccdf9;text-align:center;line-height:45px;vertical-align:middle}header img{width:53px;height:16px}.topic{padding:100px 0 70px}.topic img{display:block;width:60px;height:60px;border-radius:5px;margin:0 auto 8px auto}.topic p{text-align:center;color:#555}.note{width:280px;margin:0 auto;padding:27px 0 20px;background-color:#f6f6f6;color:#000}.note .share-btn{width:29px;height:40px}.note .add-btn{width:35px;height:35px}.note p{text-align:center;line-height:1}.note p img{margin-right:18px}.note p span{padding-top:15px;display:inline-block;vertical-align:top}
</style>
<script>
    window.addEventListener("load", go, false);
    function go() {
        if (window.navigator.standalone == true) {
            var link = document.getElementById("link");
            var event = document.createEvent('MouseEvent');
            event.initMouseEvent('click');
            link.dispatchEvent(event);
        }
    }
</script>
<a id="link" style="display:none;" href="erciyuan://?action=view_topic&tid={{ topic.id }}"></a>
<header>
    <img src="{{ asset('bundles/lycheewebsite/topic/shortcut/ciyo.png') }}"/>
</header>
<div class="topic">
    <img src="{{ topic.indexImageUrl | resizeImage(160, 160) }}"/>
    <p>{{ topic.title }}</p>
</div>
<div class="note">
    <p><img class="share-btn" src="{{ asset('bundles/lycheewebsite/topic/shortcut/share.png') }}"/><span>点击下方按钮后，</span></p>
    <p><img class="add-btn" src="{{ asset('bundles/lycheewebsite/topic/shortcut/add.png') }}"/><span>点击<strong>添加到主屏幕</strong></span></p>
</div>
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>